<template>
    <div>
        <btn_regresar url="/" title="Home"/>

        <section class="bg-contact">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="card lead font-weight-bold shadow">
                        <div class="card-header">
                            <h2 class="text-center text-uppercase text-white">{{ $store.getters.getTags({ tag: 'formbooking_signin' }) }}</h2>
                        </div>

                        <div class="card-body">
                            <template v-if="loading">
                                <div class="container d-flex justify-content-center">
                                    <div class="row m-5 mb-4">
                                        <div class="col-12">
                                            <pulse-loader :loading="loading" color="#1b1b1b" size="15px" />
                                        </div>
                                    </div>
                                </div>
                            </template>

                            <template v-else>
                                <form class="py-4">
                                    <invisible-recaptcha ref="recaptchaComponent" @verify="onVerify" @expired="onExpired" />

                                    <div class="form-group">
                                        <label for="email" class="text-uppercase" :class="{ 'text-danger': errors.has('email') }">
                                            Email
                                        </label>
                                        <input
                                            type="text"
                                            id="email"
                                            name="email"
                                            v-model="form.email"
                                            :maxlength="50"
                                            v-validate="'required|email|min:9|max:50'"
                                            data-vv-as="Email"
                                            data-vv-delay="600"
                                            :class="{ 'text-danger': errors.has('email') }"
                                            class="form-control"
                                            :disabled="loading"
                                        >
                                        <small v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="text-uppercase" :class="{ 'text-danger': errors.has('password') }">
                                            Password
                                        </label>
                                        <div class="input-group mb-3">
                                            <input
                                                :type="show ? 'text': 'password'"
                                                id="password"
                                                name="password"
                                                v-model="form.password"
                                                :maxlength="16"
                                                v-validate="'required|min:8|max:16'"
                                                data-vv-as="Password"
                                                :class="{ 'text-danger': errors.has('password') }"
                                                class="form-control"
                                                aria-describedby="eye"
                                                :disabled="loading"
                                            >

                                            <div class="input-group-append">
                                                <span class="input-group-text btn btn-success" id="eye" @click="show = !show">
                                                    <i :class="show ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <small v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</small>
                                    </div>

                                    <div class="col-12">
                                        <router-link  to="/setPassword">
                                            <a>{{ $store.getters.getTags({ tag: 'formbooking_forgot' }) }}</a>
                                        </router-link>
                                    </div>

                                    <div class="row text-center py-3">
                                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 py-2">
                                            <button :disabled="errors.any() || isDisabled" @click.prevent="login" class="btn btn-primary">
                                                <span class="font-weight-bold">{{ $store.getters.getTags({ tag: 'formbooking_signin' }) }}</span>
                                            </button>
                                        </div>

                                        <div class="col-12 col-sm-8 col-md-8 col-lg-8  d-inline-block py-2">
                                            <router-link class="btn btn-outline-dark" to="/createAccount">
                                                <a>{{ $store.getters.getTags({ tag: 'formbooking_account' }) }}?</a>
                                            </router-link>
                                        </div>
                                    </div>
                                </form>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <information />
        <section class="py-3"></section>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min';

    export default {
        components: { PulseLoader },
        data() {
            return {
                recaptcha: null,
                form: {
                    email: null,
                    password: null
                },
                show: false,
                loading: false,
            }
        },
        beforeMount() {
            if (this.$store.getters.getauthenticated) this.$router.push('/');
        },
        computed: {
            isDisabled() {
                return !this.form.email || !this.form.password
            }
        },
        methods: {
            scrollTop() {
                if (window.scrollY !== 0) {
                    setTimeout(() => {
                        window.scrollTo(0, window.scrollY - 30);
                        this.scrollTop();
                    }, 10);
                }
            },
            login() {
                this.recaptcha = this.$refs.recaptchaComponent.$refs.recaptcha;
                this.recaptcha.execute();
            },
            onVerify(response) {
                this.loading = true;
                this.scrollTop();
                this.recaptcha.reset();

                this.$validator.validateAll().then(result => {
                    if (result) {
                        this.$store.dispatch('setSession', this.form).then(response => {
                            if (response.status === 200) {
                                this.loading = false;
                                this.showAlert('success', this.$store.getters.getTags({ tag: 'formbooking_validateok' }));
                                this.$router.push('/');
                            }
                        }).catch(error => {
                            switch (error.response.status) {
                                case 401:
                                    this.showAlert('error', this.$store.getters.getTags({ tag: 'formbooking_validate'}));
                                    break;
                                case 500:
                                    this.showAlert('error', 'Error 500');
                                    break;
                            }
                            console.log('error axios: ' + error);
                            this.loading = false;
                        });
                    }
                }).catch(() => {
                    this.loading = false;
                    console.log('error vee-validate');
                });
            },
            showAlert(type, title) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    showConfirmButton: false,
                    showCloseButton: true,
                });
            },
            onExpired() {
              console.log('Expired')
            }
        }
    }
</script>
<style scoped>
    .card-header{
        background-color: #0296b3;
        border-radius: 0rem !important;
    }
</style>
