<template>
    <div>
        <btn_regresar url="/" title="Home"/>
        <section class="bg-contact">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="card" id="card">
                        <div class="card-header bg-primary">
                            <h2 class="text-center text-uppercase text-white">{{ $store.getters.getTags({ tag: 'formbooking_crearaccount' }) }}</h2>
                        </div>
                        <div class="card-body">
                            <template v-if="loading">
                                <div class="container d-flex justify-content-center">
                                    <div class="row m-5 mb-4">
                                        <div class="col-12">
                                            <pulse-loader :loading="loading" color="#1b1b1b" size="15px" />
                                        </div>
                                    </div>
                                </div>
                            </template>

                        <template v-else>
                            <div class="container">
                                <form>
                                    <invisible-recaptcha ref="recaptchaComponent" @verify="onVerify" @expired="onExpired" />

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="name" class="text-uppercase" :class="{ 'text-danger': errors.has('name') }">
                                                    {{ $store.getters.getTags({ tag: 'formbooking_accountname' }) }}
                                                    <span class="text-primary" :class="{ 'text-danger': errors.has('name') }">*</span>
                                                </label>
                                                <input
                                                    type="text"
                                                    id="name"
                                                    name="name"
                                                    v-model="form.name"
                                                    :maxlength="30"
                                                    v-validate="'required|alpha_spaces|min:2|max:30'"
                                                    :data-vv-as="$store.getters.getTags({ tag: 'formbooking_accountname' })"
                                                    data-vv-delay="600"
                                                    :class="{ 'text-danger': errors.has('name') }"
                                                    class="form-control"
                                                    :disabled="loading"
                                                >
                                                <small v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</small>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="lastname" class="text-uppercase" :class="{ 'text-danger': errors.has('lastname') }">
                                                    {{ $store.getters.getTags({ tag: 'formbooking_accountapellido' }) }}
                                                    <span class="text-primary" :class="{ 'text-danger': errors.has('lastname') }">*</span>
                                                </label>
                                                <input
                                                    type="text"
                                                    id="lastname"
                                                    name="lastname"
                                                    v-model="form.lastname"
                                                    :maxlength="30"
                                                    v-validate="'required|alpha_spaces|min:2|max:30'"
                                                    :data-vv-as="$store.getters.getTags({ tag: 'formbooking_accountapellido' })"
                                                    data-vv-delay="600"
                                                    :class="{ 'text-danger': errors.has('lastname') }"
                                                    class="form-control"
                                                    :disabled="loading"
                                                >
                                                <small v-show="errors.has('lastname')" class="text-danger">{{ errors.first('lastname') }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="phone" class="text-uppercase" :class="{ 'text-danger': errors.has('phone') }">
                                                    {{ $store.getters.getTags({ tag: 'formbooking_phone' }) }}
                                                    <span class="text-primary" :class="{ 'text-danger': errors.has('phone') }">*</span>
                                                </label>
                                                <input
                                                    type="number"
                                                    id="phone"
                                                    name="phone"
                                                    v-model="form.phone"
                                                    :maxlength="16"
                                                    v-validate="'required|numeric|min:9|max:16'"
                                                    :data-vv-as="$store.getters.getTags({ tag: 'formbooking_phone' })"
                                                    data-vv-delay="600"
                                                    :class="{ 'text-danger': errors.has('phone') }"
                                                    class="form-control"
                                                    :disabled="loading"
                                                >
                                                <small v-show="errors.has('phone')" class="text-danger">{{ errors.first('phone') }}</small>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="optionalPhone" class="text-uppercase" :class="{ 'text-danger': errors.has('optionalPhone') }">
                                                    {{ $store.getters.getTags({ tag: 'formbooking_optionalphone' }) }}
                                                </label>
                                                <input
                                                    type="number"
                                                    id="optionalPhone"
                                                    name="phone"
                                                    v-model="form.optionalPhone"
                                                    :maxlength="16"
                                                    v-validate="'numeric|min:9|max:16'"
                                                    :data-vv-as="$store.getters.getTags({ tag: 'formbooking_optionalphone' })"
                                                    data-vv-delay="600"
                                                    :class="{ 'text-danger': errors.has('optionalPhone') }"
                                                    class="form-control"
                                                    :disabled="loading"
                                                >
                                                <small v-show="errors.has('optionalPhone')" class="text-danger">{{ errors.first('optionalPhone') }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email" class="text-uppercase" :class="{ 'text-danger': errors.has('email') || errorMail }">
                                                    Email
                                                    <span class="text-primary" :class="{ 'text-danger': errors.has('email') || errorMail }">*</span>
                                                </label>
                                                <input
                                                    type="text"
                                                    id="email"
                                                    name="email"
                                                    v-model="form.email"
                                                    :maxlength="50"
                                                    v-validate="'required|email|min:9|max:50'"
                                                    data-vv-as="Email"
                                                    data-vv-delay="600"
                                                    :class="{ 'text-danger': errors.has('email') || errorMail }"
                                                    class="form-control"
                                                    :disabled="loading"
                                                >
                                                <small v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</small>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="fiscalCode" class="text-uppercase" :class="{ 'text-danger': errors.has('fiscalCode') }">
                                                    {{ $store.getters.getTags({ tag: 'formbooking_codigofiscal' }) }}
                                                    <span class="text-primary" :class="{ 'text-danger': errors.has('fiscalCode') }">*</span>
                                                </label>
                                                <input
                                                    type="text"
                                                    id="fiscalCode"
                                                    name="fiscalCode"
                                                    v-model="form.fiscalCode"
                                                    :maxlength="16"
                                                    v-validate="'required|alpha_num|min:8|max:16'"
                                                    :data-vv-as="$store.getters.getTags({ tag: 'formbooking_codigofiscal' })"
                                                    data-vv-delay="600"
                                                    :class="{ 'text-danger': errors.has('fiscalCode') }"
                                                    class="form-control text-uppercase"
                                                    :disabled="loading"
                                                >
                                                <small v-show="errors.has('fiscalCode')" class="text-danger">{{ errors.first('fiscalCode') }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="password" class="text-uppercase" :class="{ 'text-danger': errors.has('password') || errorPassword }">
                                                    Password
                                                    <span class="text-primary" :class="{ 'text-danger': errors.has('password') || errorPassword }">*</span>
                                                </label>
                                                <input
                                                    :type="show ? 'text': 'password'"
                                                    id="password"
                                                    name="password"
                                                    v-model="form.password"
                                                    :maxlength="16"
                                                    v-validate="'required|min:8|max:16'"
                                                    ref="password"
                                                    data-vv-as="Password"
                                                    :class="{ 'text-danger': errors.has('password') || errorPassword }"
                                                    class="form-control"
                                                    :disabled="loading"
                                                >
                                                <small v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</small>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="passwordConfirm" class="text-uppercase" :class="{ 'text-danger': errors.has('passwordConfirm') || errorPassword }">
                                                    Password confirm
                                                    <span class="text-primary" :class="{ 'text-danger': errors.has('passwordConfirm') || errorPassword }">*</span>
                                                </label>
                                                <div class="input-group mb-3">
                                                    <input
                                                        :type="show ? 'text': 'password'"
                                                        id="passwordConfirm"
                                                        name="passwordConfirm"
                                                        v-model="form.password_confirmation"
                                                        :maxlength="16"
                                                        v-validate="'required|min:8|max:16|confirmed:password'"
                                                        data-vv-as="Password confirm"
                                                        :class="{ 'text-danger': errors.has('passwordConfirm') || errorPassword }"
                                                        class="form-control"
                                                        aria-describedby="eye"
                                                        :disabled="loading"
                                                    >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text btn btn-success" id="eye" @click="show = !show">
                                                            <i :class="show ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <small v-show="errors.has('passwordConfirm')" class="text-danger">{{ errors.first('passwordConfirm') }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <label>
                                            <input class="form-check-input" v-validate="'required'" name="terms" v-model="form.terms" type="checkbox">
                                            <span v-show="errors.has('terms')" class="help text-danger">*</span>
                                            Ho letto e accetto il
                                            <router-link class="text-primary link" to="/termini">Terminali e condizioni d'uso</router-link>
                                        </label>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="row justify-content-center py-4">
                                <div class="col-md-4 col-lg-5 py-2 text-center">
                                    <button class="btn btn-primary" :disabled="errors.any() || isDisabled" @click.prevent="saveUser">
                                        <span class="text-white font-weight-bold">{{ $store.getters.getTags({ tag: 'formbooking_crearaccount' }) }}</span>
                                    </button>
                                </div>

                                <div class="col-md-4 col-lg-5 py-2 text-center">
                                    <router-link class="btn btn-primary-new" to="/clientLogin">
                                        <a class="text-white font-weight-bold">{{ $store.getters.getTags({ tag: 'formbooking_haveaccount' }) }}</a>
                                    </router-link>
                                </div>
                            </div>
                        </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <information />
        <section class="py-4"></section>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min';

    export default {
        components: { PulseLoader },
        data() {
            return {
                recaptcha: null,
                form: {
                    name: null,
                    lastname: null,
                    email: null,
                    phone: null,
                    optionalPhone: null,
                    fiscalCode: null,
                    password: null,
                    password_confirmation: null,
                    terms: null
                },
                show: false,
                errorPassword: null,
                errorMail: null,
                regex: /^[a-zA-ZàèéìíîòóùúÀÈÉÌÍÎÒÓÙÚáéíñóúüÁÉÍÑÓÚÜ\-'\s]+$/i,
                loading: false,
            }
        },
        computed: {
            isDisabled() {
                return !this.form.name || !this.form.lastname || !this.form.email || !this.form.phone || !this.form.password || !this.form.password_confirmation || !this.form.fiscalCode || !this.form.terms
            }
        },
        methods: {
            scrollTop() {
                if (window.scrollY !== 0) {
                    setTimeout(() => {
                        window.scrollTo(0, window.scrollY - 30);
                        this.scrollTop();
                    }, 10);
                }
            },
            saveUser() {
                this.recaptcha = this.$refs.recaptchaComponent.$refs.recaptcha;
                this.recaptcha.execute();
            },
            onVerify(response) {
                this.loading = true;
                this.scrollTop();
                this.recaptcha.reset();

                if (this.form.password !== this.form.password_confirmation) {
                    this.loading = false;
                    this.errorPassword = "text-danger";

                } else {
                    this.$validator.validateAll().then(result => {
                        if (result) {
                            this.errorPassword = null;
                            this.errorEmail = null;

                            axios.post('/api/auth/signup', this.form).then(responseAPI => {
                                if (responseAPI.status === 200) {
                                    this.loading = false;
                                    this.showAlert('success', this.$store.getters.getTags({ tag: 'formbooking_modalcreateaccount1' }), this.$store.getters.getTags({ tag: 'formbooking_modalcreateaccount2' }));
                                    this.$router.push('/');
                                }
                            }).catch(error => {
                                if (error.response.status === 422) {
                                    if (error.response.data.errors !== undefined) {
                                        let message = error.response.data.errors.email[0];
                                        this.errorMail = 'text-danger';
                                        this.showAlert('error', message, this.$store.getters.getTags({ tag:'formbooking_modalunsubcribe2'}) + this.form.email);
                                    }
                                }
                                console.log('error axios: ' + error);
                                this.loading = false;
                            })
                        }
                    }).catch(() => {
                        this.loading = false;
                        console.log('error vee-validate');
                    });
                }
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
            onExpired() {
              console.log('Expired')
            }
        }
    }
</script>
<style scoped>
    .btn-primary-new {
        background-color: #373737;
        border-color: #373737;
        color: #FFF;
    }
    #card {
        width: 50% !important;
    }
    @media (max-width: 767.98px) {
        #card {
            width: 100% !important;
        }
    }
</style>
