<template>
    <div>
        <btn_regresar url="/" title="Home"/>

        <section class="bg-contact">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="rounded bg-form-contact">
                        <div class="py-2"></div>
                        <h2 class="text-center text-separation py-4 text-uppercase">{{ $store.getters.getTags({ tag: 'formbooking_modalresetpass4'}) }}</h2>

                        <template v-if="loading">
                            <div class="container d-flex justify-content-center">
                                <div class="row m-5 mb-4">
                                    <div class="col-12">
                                        <pulse-loader :loading="loading" color="#1b1b1b" size="15px"/>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template v-else>
                            <form>
                                <div class="py-2"></div>
                                <div class="form-group">
                                    <label for="email" class="text-uppercase">{{ $store.getters.getTags({tag:'booking_2_email'}) }}</label>
                                    <span v-show="errors.has('email')" :class="{'text-danger': errors.has('email') }">*</span>
                                    <input id="email" type="email" :maxlength="50" v-validate="'required|email|min:9|max:50'" name="email"
                                           :data-vv-as="$store.getters.getTags({tag:'booking_2_email'})" :class="{'text-danger': errors.has('email') }"
                                           v-model="form.email" class="form-control" >
                                    <small v-show="errors.has('email')" class="help text-danger">{{ errors.first('email') }}</small>
                                </div>
                                <div class="row text-center py-4">
                                    <div class="col-12 py-2">
                                        <button type="button" :disabled="errors.any() || isDisabled" @click="ValidEmail" class="btn btn-primary text-bold">
                                            <span class="text-white font-weight-bold">{{$store.getters.getTags({tag:'formbooking_inviare'})}}</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </template>
                    </div>
                </div>
            </div>
        </section>
        <information />
        <section class="py-3"></section>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min'

    export default {
        components: { PulseLoader },
        data() {
            return {
                root: window.location.origin,
                form: { 
                    email: null 
                },
                loading: false,
            }
        },
        computed: {
            isDisabled() { 
                return !this.form.email
                }
        },
        methods: {
            ValidEmail() {
                this.loading = true;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        let slf = this;
                        axios.post('api/forgotPassword', this.form).then((res) => {
                            if ( res.status === 200 ) {
                                    if (res.data.success === true) {
                                        this.loading = false;
                                        this.showAlert('success', this.$store.getters.getTags({ tag:'formbooking_modal_reset_password_email_sended'}) );
                                        this.form.email = null;

                                        if (slf.$store.getters.getSession.length == 0) {
                                            this.$router.push('/clientLogin')
                                        } else {
                                            this.$router.push('/my-account')
                                        }


                                    } else {
                                        this.loading = false;
                                        this.showAlert('error', this.$store.getters.getTags({ tag:'errore_email_already_exists'}), res.data.msg);
                                    }
                            }
                        })
                            .catch((error) => {
                                this.loading = false;
                                this.showAlert('error', this.$store.getters.getTags({ tag:'errore_server'}), error.response.data.msg);
                            });
                    }
                }).catch(error => {
                    this.loading = false;
                    console.log('error form' + error);
                });
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            }
        }
    }
</script>
<style scoped>
    .bg-form-contact {
        width: 50%;
    }
    @media (max-width: 600px)
    {
        .bg-form-contact {
            width: 90%;
            height: auto;
            padding: 0 5%;
        }
    }
</style>
