<template>
    <div>
        <btn_regresar url="/" title="Home" />

        <header-my-account />

        <navigation-mobile />

        <template v-if="loading">
            <div class="container d-flex justify-content-center">
                <div class="row m-5 mb-4">
                    <div class="col-12">
                        <pulse-loader :loading="loading" :color="color" :size="size" />
                    </div>
                </div>
            </div>
        </template>

        <template v-else>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-8">
                        <div class="card my-2">
                            <div class="card-header lead text-white font-weight-bold">
                                *{{ $store.getters.getTags({tag:'booking_2_insert_data'}) }}
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-row border-top">
                                        <div class="col-12 col-md-6 mb-3">
                                            <span class="text-success" :class="{ 'text-danger': errors.has('currentPassword') }">*</span>
                                            <label for="currentPassword">{{ $store.getters.getTags({tag:'account_passactu'}) }}</label>
                                            <input id="currentPassword" v-model="form.currentPassword" type="password"
                                                   class="form-control" v-validate="'required|alpha_dash|min:8'"
                                                   name="currentPassword" :data-vv-as="$store.getters.getTags({tag:'account_passactu'})">
                                            <small v-show="errors.has('currentPassword')" class="help text-danger">{{ errors.first('currentPassword') }}</small>
                                        </div>
                                    </div>

                                    <template v-if="form.currentPassword !== null && form.currentPassword.length >= 8">
                                        <div class="form-row">
                                            <div class="col-12 col-md-6 mb-3">
                                                <span class="text-success" :class="{ 'text-danger': errors.has('newPassword') }">*</span>
                                                <label for="newPassword">{{ $store.getters.getTags({tag:'account_newpass'}) }}</label>
                                                <input id="newPassword" v-model="form.newPassword" type="password"
                                                       class="form-control" v-validate="'required|alpha_dash|min:8'"
                                                       name="newPassword" :data-vv-as=" $store.getters.getTags({tag:'account_newpass'})" ref="newPassword">
                                                <small v-show="errors.has('newPassword')" class="help text-danger">{{ errors.first('newPassword') }}</small>
                                            </div>

                                            <div class="col-12 col-md-6 mb-3">
                                                <span class="text-success" :class="{ 'text-danger': errors.has('newPasswordConfirm') }">*</span>
                                                <label for="newPasswordConfirm">{{ $store.getters.getTags({tag:'account_newpassre'}) }}</label>
                                                <input id="newPasswordConfirm" v-model="form.newPasswordConfirm" type="password"
                                                       class="form-control" v-validate="'required|alpha_dash|min:8|confirmed:newPassword'"
                                                       name="newPasswordConfirm" :data-vv-as="$store.getters.getTags({tag:'account_newpass'})">
                                                <small v-show="errors.has('account_newpassre')" class="help text-danger">{{ errors.first('newPasswordConfirm') }}</small>
                                            </div>
                                        </div>
                                    </template>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min'
    import HeaderMyAccount from './HeaderMyAccount';
    import NavigationMobile from './NavigationMobile';

    export default {
        components: { NavigationMobile, HeaderMyAccount, PulseLoader },
        name:'change-password',
        data() {
            return {
                form: {
                    currentPassword: null,
                    newPassword: null,
                    newPasswordConfirm: null,
                },
                color: '#1b1b1b',
                size: '20px',
                loading: false
            }
        },
        computed: {
            isDisabled() {
                return !this.currentPassword || !this.newPassword || !this.newPasswordConfirm
            }
        },
        methods: {
            changePassword() {},
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
        }
    }
</script>
 <style scoped>
     .card {
         border-radius: 0rem;
     }

     .card-header {
         background-color: #0296b3;
         border-radius: 0rem;
     }

     .border-top {
         border-bottom: 1.5px solid #0296b3;
     }
 </style>
