<template>
    <div>
        <btn_regresar url="/" title="Home" />

        <header-my-account />

        <navigation-mobile />

        <div class="container text-center my-5">
            <h1 class="font-weight-bold mt-5 text-uppercase">{{ $store.getters.getTags({tag:'delete_account_alert'}) }}</h1>

            <p>{{ $store.getters.getTags({tag:'delete_account_sure'}) }}</p>

            <button @click.prevent="deleteAccount" type="button" class="btn btn-primary text-uppercase">
                {{ $store.getters.getTags({tag:'delete_account_button'}) }}
            </button>

            <p class="mt-1 mb-5 text-danger">{{ $store.getters.getTags({tag:'delete_account_note'}) }}</p>
        </div>
    </div>
</template>
<script>
    import HeaderMyAccount from './HeaderMyAccount';
    import NavigationMobile from './NavigationMobile';

    export default {
        components: { NavigationMobile, HeaderMyAccount },
        data() {
            return {
                data: {
                    id: this.$store.getters.getSession[0].id,
                    api_token: this.$store.getters.getSession[0].token
                }
            };
        },
        methods: {
            deleteAccount() {
                const showAlert = this.$swal.mixin({
                    confirmButtonClass: 'btn mr-2',
                    cancelButtonClass: 'btn',
                    confirmButtonColor: '#0296b3',
                    cancelButtonColor: '#FE2E2E',
                    buttonsStyling: true,
                });

                showAlert({
                    title: this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal'}),
                    text: this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal1'}),
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#0296b3',
                    cancelButtonColor: '#FE2E2E',
                    confirmButtonText: this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal2'}),
                    cancelButtonText: this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal3'}),
                    showCloseButton: true,

                }).then((result) => {
                    if (result.value) {
                        this.confirmDelete();
                    }
                });
            },
            confirmDelete() {
                const showAlert = this.$swal.mixin({
                    confirmButtonClass: 'btn mr-2',
                    cancelButtonClass: 'btn',
                    confirmButtonColor: '#0296b3',
                    cancelButtonColor: '#FE2E2E',
                    buttonsStyling: true,
                });

                axios.post('/api/delete/user', this.data)
                    .then((res) => {
                        if (res.status === 200) {
                            showAlert(this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal4'}), this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal5'}), this.$store.getters.getTags({ tag:'formbooking_success'}));
                            this.$store.dispatch('deleteSession');
                            this.$router.push('/');
                        }
                    })
                    .catch((error) => {
                        showAlert(this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal6'}), this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal7'}), 'error');
                        console.error(error);
                    });
            }
        }
    }
</script>
