<template>
    <div>
        <section class="bg-header">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-3 col-lg-4 text-center">
                        
                        <div class="d-inline-flex flex-column align-items-center text-center">
                            <img src="/icons/user-3.svg" alt="avatar" class="alto">
                            <strong class="text-dark mb-0">{{ fullName }}</strong>
                            <a href="#" @click.prevent="logout" class="text-danger lead">{{ $store.getters.getTags ({ tag:'account_logout' }) }}</a>
                        </div>
                    </div>

                    <div class="navbutton col-12 col-md-9 col-lg-8 d-none d-md-flex d-md-block justify-content-center align-items-center">
                           <template v-for="route in routes">
                               <div class="col">
                                   <router-link class="text-uppercase" :to="route.to">{{ route.name }}</router-link>
                               </div>
                           </template>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        name: 'header-my-account',
        data() {
            return {
                admin: false
            }
        },
        created() {
            let user = this.$store.getters.getSession;

            if (user.length > 0 ) {
                this.admin = this.$store.getters.getSession[0].admin;

            } else this.$router.push('/');
        },
        computed: {
            routes() {
                return [
                    { to: '/my-account', name: this.$store.getters.getTags({ tag: 'account_title' }) },
                    { to: '/my-orders', name: this.$store.getters.getTags({ tag: 'account_order_detail' }) },
                    { to: '/setPassword', name: this.$store.getters.getTags({ tag:'formbooking_forgot' }) },
                    { to: '/delete-account', name: this.$store.getters.getTags({ tag: 'delete_account_button' }) },
                    // { to: '/change-password', name: 'Change Password' },
                ];
            },
            fullName() {
                let user = this.$store.getters.getSession;
                return user[0].name + ' ' + user[0].lastname;
            }
        },
        methods: {
            logout() {
                let token = this.$store.getters.getSession[0].token;
                axios.get('/api/auth/logout', { headers: { Authorization: token } }).then(res => {
                    if (res.status === 200) {
                        this.$store.dispatch('deleteSession');
                        this.$router.push('/');
                    }
                }).catch(error => console.log(error));
            }
        }
    }
</script>
<style scoped>
    .head-user {
        background-color: #fff;
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        margin-top: 155px;
    }

    a.router-link-exact-active.router-link-active {
        color: #fff !important;
        background-color: #3c56c7;
    }

    .navbutton a {
        color: #fff;
        font-size: 0.8rem;
        background-color: #0296b3;
        border-radius: 6px;
        width: 160px;
        display: flex;
        justify-content: center;
        height: 37px;
        align-items: center;
    }

    .navbutton a:hover {
        background-color: #3c56c7;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .alto {
            width: 50px;
        }

        .head-user {
            margin-top: 77px;
        }
    }

    @media (min-width: 768px) {

        .alto {
            width: 75px;
        }
        .bg-header{
            background-color: #cdfaf1;
        }
    }
</style>
