<template>
    <div class="bg-color">
        <btn_regresar url="/" title="Home" />

        <header-my-account />

        <navigation-mobile />

        <div class="container">
            <div class="row">
                <div class="col-12 col-8">
                    <user_detail />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import HeaderMyAccount from './HeaderMyAccount';
    import NavigationMobile from './NavigationMobile';

    export default {
        components: { NavigationMobile, HeaderMyAccount }
    }
</script>
<style scoped>
    .bg-color {
        background-color:rgba(0, 0, 0, 0.05);
    }
</style>
