<template>
    <div>
        <btn_regresar url="/" title="Home" />

        <header-my-account />

        <navigation-mobile />

        <template v-if="loading">
            <div class="container d-flex justify-content-center">
                <div class="row m-5 mb-4">
                    <div class="col-12">
                        <pulse-loader :loading="loading" :color="color" :size="size"/>
                    </div>
                </div>
            </div>
        </template>

        <template v-else>
            <div v-if="items.length > 0" class="container mt-5 mb-5">
                <b-table class="mb-0" ref="table" striped hover show-empty
                         stacked="md"
                         :items="items"
                         :fields="[
                              { key: 'code', label: 'ORDINE', sortable: true, sortDirection: 'desc', 'class': 'text-center font-weight-bold' },
                              { key: 'checkin',label: 'CHEKING',sortable: true,sortDirection: 'desc','class': 'text-center' },
                              { key: 'checkout',label: 'CHECKOUT',sortable: true,sortDirection: 'desc','class': 'text-center' },
                              { key: 'total', label: 'TOTALE', sortable: true, 'class': 'text-center font-weight-bold' },
                              { key: 'actions', label: 'ACTIONS' }
                              ]"
                         :current-page="currentPage"
                         :per-page="perPage"
                         :filter="filter"
                         :sort-by.sync="sortBy"
                         :sort-desc.sync="sortDesc"
                         @filtered="onFiltered"
                >
                    <template slot="actions" slot-scope="row">
                        <b-button size="md" @click.prevent="detailOrder(row.item.code)" class="mr-1 btn-detail">
                            <i class="fas fa-eye"></i>
                        </b-button>
                          <b-button size="md" @click.prevent="deleteOrder(row.item.code)" class="mr-1 btn-detail">
                              <i class="fas fa-trash"></i>
                          </b-button>
                    </template>
                </b-table>

                <b-row v-if="items.length > 5" class="justify-content-center my-3">
                    <b-col md="6" class="my-1 text-center">
                        <b-pagination :total-rows="totalRows" size="md" align="center" :per-page="perPage" v-model="currentPage" class="my-0 text" />
                    </b-col>
                </b-row>
            </div>
        </template>

        <div class="d-none d-md-block alto"></div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import BootstrapVue from 'bootstrap-vue';
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min'
    import HeaderMyAccount from './HeaderMyAccount';
    import NavigationMobile from './NavigationMobile';

    Vue.use(BootstrapVue);

    const items = [];

  export default {
      components: { NavigationMobile, HeaderMyAccount, PulseLoader },
      data() {
          return {
              root: window.location.origin,
              items: items,
              orders: [],
              currentPage: 1,
              perPage: 5,
              totalRows: 0,
              pageOptions: [5, 10, 15],
              sortBy: null,
              sortDesc: false,
              sortDirection: 'asc',
              filter: null,
              user: null,
              color: '#1b1b1b',
              size: '15px',
              loading: false,
          };
      },
      beforeMount() {
          this.listOrders();
      },
      methods: {
          onFiltered(filteredItems) {
              // Trigger pagination to update the number of buttons/pages due to filtering
              this.totalRows = filteredItems.length;
              this.currentPage = 1;
          },
          listOrders() {
              this.loading = true;

              let isLogged = this.$store.getters.getSession;
              if (isLogged.length > 0) {
                  this.user = isLogged[0].id;

                  axios.get(this.root + '/api/admin/bookings/user/' + this.user).then(res => {
                      if (res.status === 200) {
                          let orders = [];

                          this.orders = res.data.data.bookings;
                          this.orders.forEach(item => {
                              let order = {
                                  code: item.code,
                                  checkin: Vue.moment(item.rooms[0].bookingDate.checkin).format('DD/MM/YYYY'),
                                  checkout: Vue.moment(item.rooms[0].bookingDate.checkout).format('DD/MM/YYYY'),
                                  total: '€ ' + parseFloat(item.total).toFixed(2).replace('.', ',')
                              };

                              orders.push(order)
                          });

                          this.items = orders;
                          this.totalRows = orders.length;

                          this.loading = false;
                      }
                  }).catch(error => {
                      console.log(error);
                      this.loading = false;
                  })

              } else this.$router.push('/');
          },
          detailOrder(code) {
              let response = this.orders.find(key => key.code == code);

              this.$store.commit('setOrderDetail', { list: response });

              this.$router.push('/my-order-detail/' + response.id);
          },
          deleteOrder(code) {
              let response = this.orders.find(key => key.code == code);

              this.$swal({
                  title: '',
                  text: this.$store.getters.getTags({ tag:'account_deleteorde'}),
                  type: 'info',
                  showCancelButton: true,
                  confirmButtonColor: '#0296b3',
                  cancelButtonColor: '#FE2E2E',
                  confirmButtonText: this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal2'}),
                  cancelButtonText: this.$store.getters.getTags({ tag:'formbooking_deleteaccountmodal3'})
              }).then(result => {
                  if (result.value) {
                      axios.put(this.root + '/api/admin/bookings/hide/' + response.id).then(res => {
                          if (res.status === 200) this.listOrders();

                      }).catch(error => {
                          console.log(error);
                          this.showAlert('error', 'Errore!!', '');
                      });

                      } else console.log('cancelar');
                  });
          }
      }
  }
</script>
<style scoped>
    .alto {
        height: 100px;
    }

    .btn-detail {
        background-color: #0296b3 !important;
    }

    .pagination.b-pagination.pagination-md .page-item {
        background-color: transparent;
        color: none;
        border-color: transparent;
        border-radius: none;
        margin: 0px 1px;
    }

    .pagination.b-pagination.pagination-md .page-item.active .page-link {
        background-color: #0296b3;
        border-color: transparent;
        border-radius: 15%;
    }
</style>
