<template>
    <div>
        <btn_regresar url="/" title="Home"/>

        <header-my-account />

        <navigation-mobile />

        <order-detail :booking="order"/>

    </div>
</template>
<script>
    import HeaderMyAccount from './HeaderMyAccount';
    import NavigationMobile from './NavigationMobile';
    import OrderDetail from './OrderDetail';

    export default {
        components: { OrderDetail, NavigationMobile, HeaderMyAccount },
        data() {
            return {
                id: this.$route.params.id,
                order: {}
            };
        },
        created() {
            this.showOrder();
        },
        computed: {
            getOrder() {
                return this.$store.getters.getOrderDetail;
            }
        },
        methods: {
            showOrder() {
                if (this.id !== null) {
                    let user = this.$store.getters.getSession;

                    if (user.length > 0 ) {
                        (user[0].id === this.getOrder.user_id) ? this.order = this.getOrder : this.$router.push('/my-account');
                        
                    } else this.$router.push('/');

                } else this.$router.push('/my-account');
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                });
            }
        }
    }
</script>
