<template>
    <div>
        <div class="container mb-3 mt-1 d-sm-block d-md-none">
            <div class="dropdown text-uppercase">
                <button class="btn btn-primary dropdown-toggle text-uppercase" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentPath() }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <template v-for="route in routes">
                        <div class="dropdown-item">
                            <router-link class="dropdown-item" :to="route.to"><a>{{ route.name }}</a></router-link>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'navigation-mobile',
        computed: {
            routes() {
                return [
                    { to: '/my-account', name: this.$store.getters.getTags({ tag: 'account_title' }) },
                    { to: '/my-orders', name: this.$store.getters.getTags({ tag: 'account_order_detail' }) },
                    { to: '/setPassword', name: this.$store.getters.getTags({ tag:'formbooking_forgot' }) },
                    { to: '/delete-account', name: this.$store.getters.getTags({ tag: 'delete_account_button' }) }
                ];
            }
        },
        methods: {
            currentPath() {
                switch(window.location.pathname) {
                    case '/my-account': return this.$store.getters.getTags({ tag: 'account_title' });

                    case '/my-orders': return this.$store.getters.getTags({ tag: 'account_order_detail' });

                    case '/delete-account': return this.$store.getters.getTags({ tag: 'delete_account_button' });

                    default: return 'MODIFICA'
                }
            }
        }
    }
</script>
<style scoped>
    nav {
        display: none;
    }

    nav a {
        background-color: #555;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        font-family: 'Josefin Sans', sans-serif;
    }

    nav a.active {
        background-color: #0296b3;
    }

    a.router-link-exact-active.router-link-active {
        color: #fff !important;
        background-color: #0296b3;
    }

    a:hover {
        text-decoration: none;
        background-color: #0296b3;
    }

    .dropdown-toggle {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
    }

    .dropdown-menu.show {
        display: block;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .dropdown-item {
        font-weight: bold;

    }

    @media (min-width: 768px) {
        nav {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
        }

        a {
            font-size: 1rem;
        }
    }

    @media (min-width: 992px) {
        a {
            font-size: 1.5rem !important;
        }
    }
</style>
