<template>
    <div v-if="booking" class="container bg-white mb-4 mt-5">
        <div class="row mb-5">
            <div class="col-12 col-md-8">
                <div><strong>{{ $store.getters.getTags({ tag: 'booking_3_name' }) }}:</strong> {{ booking.personResponsible.name }}</div>
                <div><strong>E-mail:</strong> {{ booking.personResponsible.email }}</div>
                <div><strong>{{ $store.getters.getTags({ tag: 'booking_3_fiscal' }) }}:</strong> {{ booking.personResponsible.fiscal_code }}</div>
                <div><strong>{{ $store.getters.getTags({ tag: 'booking_3_phone' }) }}:</strong> {{ booking.personResponsible.phone }}</div>
                <div><strong>{{ $store.getters.getTags({ tag: 'booking_3_payment_method' }) }}:</strong> Paypal</div>
                <div><strong>{{ $store.getters.getTags({ tag: 'formbooking_order_status' }) }}:</strong> {{ getTranslation(booking.status).name }}</div>
            </div>

            <div class="col-12 col-md-4 text-md-right ">
                <h2 class="font-weight-bold text-dark">{{ $store.getters.getTags({ tag: 'booking_3_order' }) }}: {{ booking.code }}</h2>
                <span class="d-block text-dark">{{ $store.getters.getTags({ tag: 'booking_3_date' }) }}: {{ booking.created_at | moment('DD/MM/YYYY') }}</span>
                <span class="d-block text-dark">{{ $store.getters.getTags({ tag: 'booking_3_time' }) }}: {{ booking.created_at | moment('hh:mm A') }} </span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-8"></div>

            <div class="col-12 col-md-4 text-md-right">
                <div><strong>{{ $store.getters.getTags({ tag: 'booking_3_arrival' }) }}:</strong> {{ bookingDate.checkin | moment("DD/MM/YYYY") }} </div>
                <div><strong>{{ $store.getters.getTags({ tag: 'booking_3_departure' }) }}:</strong> {{ bookingDate.checkout | moment("DD/MM/YYYY") }}</div>
                <div><strong>{{ $store.getters.getTags({ tag: 'booking_3_duration' }) }}:</strong> {{ nights }} {{ $store.getters.getTags({ tag: 'booking_3_nights' }) }}</div>
            </div>

            <div class="col-12">{{ $store.getters.getTags({ tag: 'booking_3_details' }) }}</div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive-sm">
                    <table class="table table-hover border-1">
                        <tbody>
                        <template v-for="(room, index) in booking.rooms">
                            <tr :key="index" class="bg-light">
                                <td colspan="4">
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_room_reserved'}) }}: </strong>{{ room.name }}
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({ tag: 'booking_3_people' }) }}:</strong>
                                        {{ room.adults_quantity }} <span v-show="room.children_quantity">+ {{ room.children_quantity }}</span>
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_location'}) }}:</strong> {{ getLocationNameByRoom( getHouse(room.room_category_id).room_location_id ) }}
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_room_responsible'}) }}</strong>
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_name'}) }}:</strong> {{ room.personResponsible.name}}
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_phone'}) }}:</strong> {{ room.personResponsible.phone }}
                                    </div>
                                    <div>
                                        <strong>E-mail:</strong> {{ room.personResponsible.email }}
                                    </div>
                                </td>
                            </tr>

                            <template v-for="(season, clave, index) in room.price_detail.season">
                                <template  v-if="clave == 'Prezzo dell\'Appartamento'">
                                    <tr>
                                        <th colspan="3" class="text-center p-0 bg-light">
                                            {{ $store.getters.getTags({tag:'booking_3_prezzo'}) }}
                                        </th>
                                    </tr>
                                    <tr class="">
                                        <td >{{ $store.getters.getTags({tag:'booking_3_nights'}) }}</td>
                                        <!-- <td >{{ $store.getters.getTags({tag:'booking_3_price'}) }}</td> -->
                                        <td >{{ $store.getters.getTags({tag:'booking_3_amount'}) }}</td>
                                    </tr>
                                    <tr class="">
                                        <td width="33%">{{ season[0].nights }}</td>
                                        <!-- <td width="33%">{{ parseFloat(season[0].price) | money }}</td> -->
                                        <td width="33%">{{ parseFloat(season[0].price * season[0].nights) | money }}</td>
                                    </tr>
                                </template>

                                <template  v-else>
                                    <tr>
                                        <th colspan="3" class="text-center p-0 bg-light">
                                            {{ $store.getters.getTags({tag:'booking_3_stagione'}) }} : {{ clave }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td >{{ $store.getters.getTags({tag:'booking_3_nights'}) }}</td>
                                        <!-- <td >{{ $store.getters.getTags({tag:'booking_3_price'}) }}</td> -->
                                        <td >{{ $store.getters.getTags({tag:'booking_3_amount'}) }}</td>
                                    </tr>
                                    <tr>

                                        <td width="33%">{{ season[0].nights }}</td>
                                                            <!-- <td width="33%">{{ parseFloat(season[0].price) | money }}</td> -->
                                                            <td width="33%">{{ parseFloat(season[0].price * season[0].nights) | money }}</td>
                                    </tr>
                                </template>
                            </template>

                            <template v-if="room.price_detail.rate != null">
                                <template v-for="(rate, index) in Object.values(room.price_detail.rate)">
                                    <tr>
                                        <th colspan="3" class="text-center p-0 bg-light">
                                            {{ $store.getters.getTags({tag:'booking_3_deal'}) }}: {{ $store.getters.getTags({tag:'general_offer'}) }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td >{{ $store.getters.getTags({tag:'booking_3_nights'}) }}</td>
                                        <!-- <td >{{ $store.getters.getTags({tag:'booking_3_price'}) }}</td> -->
                                        <td >{{ $store.getters.getTags({tag:'booking_3_amount'}) }}</td>
                                    </tr>
                                    <tr>
                                        <td width="33%">{{ rate[0].nights }}</td>
                                                            <!-- <td width="33%">{{ parseFloat(rate[0].price) | money }}</td> -->
                                                            <td width="33%">{{ parseFloat(rate[0].price * rate[0].nights) | money }}</td>
                                    </tr>
                                </template>
                            </template>

                        </template>

                    </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12">
                <div class="table-responsive-sm">
                    <table class="table table-hover" >
                        <tbody>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <textarea class="form-control" name="message" id="comment" rows="3" disabled v-text="booking.comment"></textarea>
                            </div>

                            <div class="col-12 col-md-6 mb-3">
                                <tr>
                                    <td width="333rem" valign="middle" align="center">{{ $store.getters.getTags({ tag: 'booking_3_amount' }) }}:</td>
                                    <td width="35%" valign="middle" align="center" class="cell-center font-grande " >€ {{ parseFloat(booking.total - booking.iva) | money }}</td>
                                </tr>

                                <tr>
                                    <td width="333rem" valign="middle" align="center">{{ $store.getters.getTags({ tag: 'booking_3_iva' }) }}:</td>
                                    <td width="35%" valign="middle" align="center" class="cell-center font-grande">€ {{ parseFloat(booking.iva) | money }}  </td>
                                </tr>


                              <tr class="verde" id="verde">
                                  <td width="333rem" valign="middle" align="center">{{ $store.getters.getTags({ tag: 'booking_3_total' }) }}:</td>
                                  <td width="35%" valign="middle" align="center" class="cell-center font-grande">€ {{ parseFloat(booking.total) | money }} </td>
                              </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'order-detail',
        props: [ 'booking' ],
        data() {
            return {
                bookingDate: this.booking.rooms[0].bookingDate,
            }
        },
        created(){
            console.log(this.booking);
        },
        watch: {
            language(val) {
                if (val) {
                    this.$moment.locale(val);
                }
            }
        },
        computed: {
            nights() {
                const moment = require('moment');
                let checkin = moment(this.bookingDate.checkin);
                let checkout = moment(this.bookingDate.checkout);
                return checkout.diff(checkin, 'days');
            },
            language() {
                return this.$store.getters.getLanguagesFlagActive;
            }
        },
        methods: {
            getHouse(id) {
                return this.$store.getters.getCategoryById(id);
            },
            getLocationNameByRoom(id) {
                return this.$store.getters.getLocationNameById(id);
            },
            getTranslation(item) {
                let translation = item.translations.find(translation => translation.code === this.language);

                if (!translation) translation = item.translations[0];

                return translation;
            }
        }
    }
</script>
<style scoped>
td table th, td table td{
    border: none;
}
</style>
