<template>
    <div>
        <div class="card my-2 my-md-5">
            <div class="card-header lead text-white font-weight-bold">
                {{ getTags({ tag:'formbooking_inserisci' }) }}
            </div>

            <div class="card-body">
                <form>
                    <div class="form-row">
                        <template v-for="item in fields">
                            <div class="col-12 col-md-6 mb-3" :key="item.name">
                                <span v-show="item.required" class="text-success" :class="{ 'text-danger font-weight-bold': errors.has(item.name) }">*</span>
                                <label :for="item.name" :class="{ 'text-danger': errors.has(item.name) }">{{ item.label }}</label>

                                <input
                                        :type="item.type || 'text'"
                                        :id="item.name"
                                        v-model="form[item.name]"
                                        :maxlength="item.length"
                                        v-validate="item.veeValidate"
                                        :data-vv-name="item.name"
                                        :data-vv-as="item.label"
                                        :label="item.name"
                                        :disabled="getLoading || item.disabled"
                                        :class="[ 'form-control', { 'text-danger': errors.has(item.field) }, { 'text-uppercase': item.name === 'fiscalCode' } ]"
                                >
                                <small v-show="errors.has(item.name)" class="text-danger">{{ errors.first(item.name) }}</small>
                            </div>
                        </template>
                    </div>
                    <div class="col-12 col-md-3">
                        <button :disabled="errors.any() || isDisabled || getLoading" @click.prevent="validateBeforeSubmit" class="btn btn-primary btn-md btn-md-inline btn-block">
                            <pulse-loader v-if="getLoading" :loading="getLoading" color="#FFF" size="6px"/>
                            <span v-else class="text-uppercase font-weight-bold">{{ getTags({ tag:'formbooking_inviare' }) }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min'

    export default {
        components: { PulseLoader },
        data() {
            return {
                token: null,
                form: {
                    id: null,
                    name: null,
                    lastname: null,
                    email: null,
                    phone: null,
                    optionalPhone: null,
                    fiscalCode: null
                },
                regex: /^[a-zA-ZàèéìíîòóùúÀÈÉÌÍÎÒÓÙÚáéíñóúüÁÉÍÑÓÚÜ\-'\s]+$/i,
                color: '#1b1b1b',
                size: '15px'
            }
        },
        mounted() {
            this.getStorage();
        },
        computed: {
            ...mapGetters(['getTags', 'getSession', 'getLoading']),
            isDisabled() {
                return !this.form.name || !this.form.lastname || !this.form.email || !this.form.phone || !this.form.fiscalCode
            },
            fields() {
                return [
                    {
                        name: 'name',
                        label: this.getTags({ tag: 'formbooking_accountname' }),
                        required: true,
                        veeValidate: 'required|alpha_spaces|min:2|max:30',
                        length: 30
                    },
                    {
                        name: 'lastname',
                        label: this.getTags({ tag: 'formbooking_accountapellido' }),
                        required: true,
                        veeValidate: 'required|alpha_spaces|min:2|max:30',
                        length: 30
                    },
                    {
                        name: 'email',
                        label: this.getTags({ tag: 'booking_2_email' }),
                        required: true,
                        disabled: true,
                        veeValidate: 'required|email|min:2|max:50',
                        length: 50
                    },
                    {
                        name: 'phone',
                        label: this.getTags({ tag: 'formbooking_phone' }),
                        required: true,
                        type: 'number',
                        veeValidate: 'required|numeric|min:8|max:16',
                        length: 16,
                        mask: 'phone'
                    },
                    {
                        name: 'optionalPhone',
                        label: this.getTags({ tag: 'formbooking_optionalphone' }),
                        required: false,
                        type: 'number',
                        veeValidate: 'numeric|min:8|max:16',
                        length: 16,
                        mask: 'phone'
                    },
                    {
                        name: 'fiscalCode',
                        label: this.getTags({ tag: 'booking_2_fiscal_code' }),
                        required: true,
                        veeValidate: 'required|alpha_num|min:8|max:16',
                        length: 16,
                        mask: 'phone'
                    }
                ]
            }
        },
        methods: {
            getStorage() {
                let isLogged = this.getSession;
                this.token = {'api_token': isLogged[0].api_token};
                this.form.id = isLogged[0].id;
                this.form.name = isLogged[0].name;
                this.form.lastname = isLogged[0].lastname;
                this.form.email = isLogged[0].email;
                this.form.phone = isLogged[0].phone;
                this.form.optionalPhone = isLogged[0].optionalPhone;
                this.form.fiscalCode = isLogged[0].fiscalCode;
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then(result => {
                    (result) ? this.handleSubmit() : this.showAlert('error', this.getTags({ tag: 'formbooking_updatedataerror' }), 'error')

                }).catch(error => console.log(error));
            },
            async handleSubmit() {
                try {
                    const { data } = await this.$store.dispatch('editUser', this.form);
                    console.log(data);
                    this.showAlert('success', this.getTags({ tag: 'formbooking_updatedata' }));

                } catch (e) { console.log(e) }
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            }
        }
    }
</script>
<style lang="sass" scoped>
    .card
        border-radius: 0rem

    .card-header
        background-color: #0296b3
        border-radius: 0rem
</style>