<template>
    <div>
        <btn_regresar url="/" title="Home" />
        <header_booking />
        <wizard />
        <order-booking :booking="booking" />

        <div class="container">
            <div class="text-right">
                <button @click="finish" type="button" class="btn btn-primary btn-lg mb-4 font-weight-bold">{{ $store.getters.getTags({tag:'booking_3_finish'}) }}</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        created() {
            this.$moment.locale(this.$store.state.Language.languageActive.flag)
        },
        destroyed() {
            this.$store.commit('deleteBooking')
        },
        computed: {
            booking() {
                return this.$store.getters.getBooking
            },
        },
        methods: {
            finish() {
                this.$store.dispatch('deleteBooking')
                this.$router.push('/')
            }
        }
    }
</script>
<style scoped>
    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: none;
        font-size: 1rem;
    }

    tr .w-100 {
        width: 78% !important;
    }

    #verde:hover {
        background-color: #3f4663 !important;
    }

    .btn-primary {
        background-color: #3f4663;
        border: 1px solid #3f4663;
    }

    .verde {
        background-color: #2ac093;
        color: white;
        font-weight: bold;
    }

    .font-grande {
        font-size: 1.1rem !important;
    }

    h2 {
        color: #21b186;
        font-weight: bold;
    }

    h4 {
        font-weight: bold;
    }

    .border-1 {
        border-bottom: 2px solid #2ac093;
    }

    .table thead th {
        border-bottom: 2px solid #2ac093;
    }

    @media screen and (max-width: 575.98px) {
        tr .w-100 {
            width: 67% !important;
        }
    }
</style>
