<template>
<div v-if="booking" class="container bg-white mb-4 mt-5">
    <div class="row mb-5">
        <div class="col-12 col-md-8">
            <h2>
                {{ booking.personResponsible.name }}, {{ $store.getters.getTags({tag:'booking_3_thanks'}) }}!
                <br>
                {{ $store.getters.getTags({tag:'booking_3_completed'}) }}
            </h2>
            <h4 class="text-dark">
                {{ $store.getters.getTags({tag:'booking_3_check_email'}) }}
            </h4>
        </div>
        <div class="col-12 col-md-4 text-md-right ">
            <h2 class="font-weight-bold text-dark">{{ $store.getters.getTags({tag:'booking_3_order'}) }}: {{ booking.code }}</h2>
            <span class="d-block text-dark">{{ $store.getters.getTags({tag:'booking_3_date'}) }}: {{ booking.created_at | moment('DD/MM/YYYY') }} </span>
            <span class="d-block text-dark">{{ $store.getters.getTags({tag:'booking_3_time'}) }}: {{ booking.created_at | moment('hh:mm A') }} </span>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-8">
           <div><strong>{{ $store.getters.getTags({tag:'booking_3_name'}) }}:</strong> {{ booking.personResponsible.name }}</div>
           <div><strong>E-mail:</strong> {{ booking.personResponsible.email }}</div>
           <div><strong>{{ $store.getters.getTags({tag:'booking_3_fiscal'}) }}:</strong>
            <span class="text-uppercase">{{ booking.personResponsible.fiscalCode }}</span></div>
           <div><strong>{{ $store.getters.getTags({tag:'booking_3_phone'}) }}:</strong> {{ booking.personResponsible.phone }}</div>
           <div><strong>{{ $store.getters.getTags({tag:'booking_3_payment_method'}) }}:</strong> Paypal</div>
        </div>
        <div class="col-12 col-md-4 text-md-right">
           <div><strong>{{ $store.getters.getTags({tag:'booking_3_arrival'}) }}:</strong> {{ filter.checkin | moment("DD/MM/YYYY")}} </div>
           <div><strong>{{ $store.getters.getTags({tag:'booking_3_departure'}) }}:</strong> {{ filter.checkout | moment("DD/MM/YYYY")}}</div>
           <div><strong>{{ $store.getters.getTags({tag:'booking_3_duration'}) }}:</strong> {{ nights }} {{ $store.getters.getTags({tag:'booking_3_nights'}) }}</div>
        </div>
        <div class="col-12">
            {{ $store.getters.getTags({tag:'booking_3_details'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive-sm">
                <table class="table table-bordered">
                    <thead>

                    </thead>

                    <tbody>
                        <!-- Datos de las Habitaciones -->
                        <template v-for="(room, index) in booking.rooms">
                            <tr :key="index" class="bg-light">
                                <td colspan="4">
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_room_reserved'}) }}: </strong>{{ room.name }}
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({ tag: 'booking_3_people' }) }}:</strong>
                                        {{ room.adults_quantity }} <span v-show="room.children_quantity">+ {{ room.children_quantity }}</span>
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_location'}) }}:</strong> {{ getLocationNameByRoom( getHouse(room.room_category_id).room_location_id ) }}
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_room_responsible'}) }}</strong>
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_name'}) }}:</strong> {{ room.personResponsible.name || booking.personResponsible.name }}
                                    </div>
                                    <div>
                                        <strong>{{ $store.getters.getTags({tag:'booking_3_phone'}) }}:</strong> {{ room.personResponsible.phone || booking.personResponsible.phone }}
                                    </div>
                                    <div>
                                        <strong>E-mail:</strong> {{ room.personResponsible.email || booking.personResponsible.email }}
                                    </div>
                                </td>
                            </tr>
                            <!-- Temporadas -->
                            <template v-for="(season, clave) in room.price_detail_request.season">
                                <template  v-if="clave == 'Prezzo dell\'Appartamento'">
                                    <tr>
                                        <th colspan="3" class="text-center p-0 bg-light">
                                            {{ $store.getters.getTags({tag:'booking_3_prezzo'}) }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td >{{ $store.getters.getTags({tag:'booking_3_nights'}) }}</td>
                                        <!-- <td >{{ $store.getters.getTags({tag:'booking_3_price'}) }}</td> -->
                                        <td >{{ $store.getters.getTags({tag:'booking_3_amount'}) }}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">{{ season.quantity }}</td>
                                        <!-- <td scope="col">{{ parseFloat(season.price) | money }}</td> -->
                                        <td scope="col">{{ parseFloat(season.price * season.quantity) | money }}</td>
                                    </tr>
                                </template>

                                <template v-else>
                                    <tr>
                                        <th colspan="3" class="text-center p-0 bg-light">
                                            {{ $store.getters.getTags({tag:'booking_3_stagione'}) }} : {{ clave }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td >{{ $store.getters.getTags({tag:'booking_3_nights'}) }}</td>
                                        <!-- <td >{{ $store.getters.getTags({tag:'booking_3_price'}) }}</td> -->
                                        <td >{{ $store.getters.getTags({tag:'booking_3_amount'}) }}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">{{ season.quantity }}</td>
                                        <!-- <td scope="col">{{ parseFloat(season.price) | money }}</td> -->
                                        <td scope="col">{{ parseFloat(season.price * season.quantity) | money }}</td>
                                    </tr>
                                </template>
                            </template>

                            <!-- Ofertas Especiales -->
                            <template v-if="room.price_detail_request.rate != null">
                                <template v-for="(rate, index) in Object.values(room.price_detail_request.rate)">
                                    <tr>
                                        <th colspan="3" class="text-center p-0 bg-light">
                                            {{ $store.getters.getTags({tag:'booking_3_deal'}) }}: {{ $store.getters.getTags({tag:'general_offer'}) }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td >{{ $store.getters.getTags({tag:'booking_3_nights'}) }}</td>
                                        <td >{{ $store.getters.getTags({tag:'booking_3_amount'}) }}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">{{ rate.quantity }}</td>
                                        <td scope="col">{{ parseFloat(rate.quantity * rate.price) | money }}</td>
                                    </tr>
                                </template>
                            </template>

                        </template>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive-sm">
                <table class="table table-hover" >
                    <tbody>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <textarea
                                    class="form-control"
                                    name="message"
                                    id=""
                                    rows="3"
                                    disabled v-text="booking.comment"
                                ></textarea>
                            </div>
                            <div class="col-12 col-md-6 mb-3 justify-content-center align-items-center">
                                <tr>
                                    <td width="333rem" valign="middle" align="right">{{ $store.getters.getTags({tag:'booking_3_amount'}) }}:</td>
                                    <td width="35%" valign="middle" align="right" class="cell-center font-grande " >€ {{ parseFloat(total - iva) | money}}
                                    </td>
                                </tr>
                                <tr class="">
                                    <td width="333rem" valign="middle" align="right">{{ $store.getters.getTags({tag:'booking_3_iva'}) }}:</td>
                                    <td width="35%" valign="middle" align="right" class="cell-center font-grande">€ {{ parseFloat(iva) | money}}  </td>
                                </tr>
                                <tr class="verde" id="verde">
                                    <td width="333rem" valign="middle" align="right">{{ $store.getters.getTags({tag:'booking_3_total'}) }}:</td>
                                    <td width="35%" valign="middle" align="right" class="cell-center font-grande">€ {{ parseFloat(total) | money}} </td>
                                </tr>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        props: ['booking'],
        destroyed() {
            this.$store.commit('deleteBooking')
        },
        watch: {
            language(val) {
                if (val) {
                    this.$moment.locale(val)
                }
            }
        },
        computed: {
            filter() {
                return this.$store.getters.getFilter
            },
            nights() {
                const moment = require('moment')
                let checkin = moment(this.filter.checkin)
                let checkout = moment(this.filter.checkout)
                return checkout.diff(checkin, 'days')
            },
            total() {
                let total = 0;
                if (this.booking.token) {
                    return this.booking.totalItem
                }
                for (let i in this.booking.rooms) {
                    let season = this.booking.rooms[i].price_detail_request.season;
                    for (let j in season) {
                        total += season[j].price && season[j].quantity ? season[j].price * season[j].quantity : 0
                    }
                    let rate = this.booking.rooms[i].price_detail_request.rate
                    if (rate) {
                        for (let j in rate) {
                            total += rate[j].price && rate[j].quantity ? rate[j].price * rate[j].quantity : 0
                        }
                    }
                }
                return total
            },
            iva() {
                if (this.booking.token) {
                    return this.booking.ivaItem
                }
                let iva = 0;
                for (let i in this.booking.rooms) {
                    iva += this.booking.rooms[i].ivaItem
                }
                return iva
            },
            language() {
                return this.$store.getters.getLanguagesFlagActive
            }
        },
        methods: {
            getHouse(id) {
                return this.$store.getters.getCategoryById(id)
            },
            getLocationNameByRoom(id) {
                return this.$store.getters.getLocationNameById(id)
            }
        }
    }
</script>

