<template>
    <div id="room">
        <!-- Language Id Field -->
        <div class="form-group col-sm-6 col-sm-offset-3 text-center">
            <h1>Lingua: <b>{{ translation.name }}</b></h1>
        </div>

        <div class="form-group col-sm-6 col-sm-offset-3">
            <label for="roomCategory" class="mt-0" :class="{ 'text-danger': errors.has('category') }">
                <span v-show="errors.has('category')" class="font-weight-bold">*</span>
                Casa vacanza
            </label>
            <select
                id="roomCategory"
                class="form-control arrow-select"
                name="category"
                v-model="form.room_category_id"
                v-validate="'required'"
                data-vv-as="Categoria"
            >
                <option v-for="(item, key) in roomCategories" :value="key" :key="key">{{ item }}</option>
            </select>
            <small class="text-danger">{{ errors.first("category") }}</small>
        </div>

        <!-- Dynamic Fields -->
        <div v-for="(item, key) in inputs" :key="key">
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label :for="item.name" class="mt-0" :class="{ 'text-danger': errors.has(item.name) }">
                    <span v-show="errors.has(item.name)" class="font-weight-bold">*</span>
                    {{ item.label }}
                </label>

                <input
                    :type="item.type ? item.type : 'text'"
                    :id="item.name"
                    :name="item.name"
                    :class="['form-control', { 'text-danger is-invalid': errors.has(item.name) }]"
                    v-model="form[item.name]"
                    :maxlength="item.length"
                    v-validate="item.veeValidate"
                    :data-vv-as="item.label"
                >
                <small class="text-danger">{{ errors.first(item.name) }}</small>
            </div>
        </div>

        <!-- Description Field (CKEditor) -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label for="description">Descrizione</label>
            <textarea
                ref="description"
                class="form-control ckeditor"
                name="description"
                v-model="form.description"
                cols="2"
                rows="5"
                data-vv-as="Descrizione"
            />
            <span class="text-danger">{{ errors.first('description') }}</span>
        </div>

        <div class="col-sm-6 col-sm-offset-3" >
            <label>Informazioni</label>
            <span>
            <ul>
                <li>Dimensione massima dell'immagine: 1 MB</li>
                <li>Dimensione raccomandata in pixel: 1080 x 720</li>
                <li>Caricamento di immagini 10 in 10</li>
                <li>
                    Utilizzato questo link per comprimere le tue immagini: <a href="https://imagecompressor.com/"  target="_blank">https://imagecompressor.com</a>
                </li>
            </ul>
        </span>
        </div>

        <!-- DROPZONE -->
        <div class="col-sm-6 col-sm-offset-3">
            <upload-images
                name="image"
                v-model="file"
                :images="form.gallery"
                v-validate="form.id ? '' : 'required'"
                data-vv-as="Immagine"
            />
            <span class="text-danger">{{ errors.first('image') }}</span>
            <hr>
        </div>

        <!-- Gallery -->
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <label>Immagine</label><br>
            <small>{{ form.gallery.length }} Immagini caricate</small>
            <hr>

            <!-- LOADING -->
            <div class="text-center" style="margin-bottom: 4rem; margin-top: 4rem;" v-if="loading">
                <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i>
            </div>
            <div v-else class="gallery gallery-widget" data-toggle="lightbox-gallery">
                <div class="row">
                    <div class="col-sm-3" v-for="(image, index) in form.gallery" :key="index">
                        <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                            <div class="dz-preview dz-image-preview text-center">
                                <a
                                    :href="image.url"
                                    class="gallery-link dz-image border-gray"
                                    title="Immagine"
                                >
                                    <img :src="image.url" alt="image" height="150" width="250" class="min-custom">
                                </a><br>

                                <button class="btn btn-xs btn-danger" @click="deleteImage(index)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Field -->
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" class="btn btn-primary" @click="saveForm">Salvare</button>
            <a href="/admin/rooms" class="btn btn-default">Indietro</a>
        </div>
    </div>
</template>
<script>
import UploadImages from '../../../components/UploadImages';

export default {
    components: { UploadImages },
    props: {
        data: {
            required: false,
        },
        roomCategories: {
            required: true
        },
        translation: {}
    },
    data() {
        return {
            form: {
                name: null,
                description: null,
                room_category_id: null,
                adults_quantity: null,
                children_quantity: null,
                gallery: []
            },
            file: [],
            inputs: [
                { name: 'name', label: 'Nome', veeValidate: 'required|min:2|max:50', length: 50 },
                { name: 'adults_quantity', label: 'Quantità di adulti', type: 'number', veeValidate: 'required|numeric', length: 10 },
                { name: 'children_quantity', label: 'Quantità di bambini', type: 'number', veeValidate: 'required|numeric', length: 10 },
            ],
            loading: false
        };
    },
    created() {
        this.form = this.data ? JSON.parse(this.data) : { gallery: [] };
        this.form.language_id = this.translation.id;

        if (this.form.id > 0 && this.form.translations) {
            const language = this.form.translations.find( item => item.language_id === this.translation.id);
            if (language)
                this.form.description = language.description;
        }
    },
    methods: {
        async saveForm() {
            // Validate Fields
            const isFormValid = await this.$validator.validateAll()
            if (!isFormValid)
                return false

            this.loading = true
            // Get CKEditor Description
            this.form.description = CKEDITOR.instances[this.$refs.description.name].getData()

            const gallery = this.form.gallery;
            this.form.user_id = 1;

            if (this.file) {
                this.file.forEach(image => {
                    const file = {
                        filename: image.upload.filename,
                        ...image
                    };
                    this.form.gallery.push(file);
                });
            }

            try {
                if (this.form.id > 0) {
                    await axios.put(`/api/admin/rooms/${this.form.id}`, this.form)

                } else {
                    await axios.post("/api/admin/room", this.form)
                }

                this.$swal({
                    type: 'success',
                    title: 'Salvato con Successo!',
                    showCloseButton: true
                })

                setTimeout(() => window.location.href = "/admin/rooms", 2000)

            } catch (error) {
                console.log('Error: ', error);
                this.form.gallery = gallery;
                this.loading = false;
            }
        },
        deleteImage(index) {
            this.$swal({
                type: 'question',
                title: `Vuoi eliminare l' immagine?`,
                confirmButtonColor: '#0296b3',
                cancelButtonColor: '#FE2E2E',
                confirmButtonText: 'Si',
                cancelButtonText: 'Non',
                showConfirmButton: true,
                showCancelButton: true,
                showCloseButton: true
            }).then(result => {
                if (result.value) this.form.gallery.splice(index, 1)
            });
        }
    }
};
</script>
<style lang="sass" scoped>
    .is-invalid:focus
        border-color: #e74c3c
        outline: 0
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e74c3cba
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e74c3cba

</style>