.btn{
    padding: 0.175rem 1.75rem;
    border-radius: 4px;
}
.btn-primary {
    background-color: #033972;
    border-color: #033972;
}

.btn-primary:hover {
    color: #fff;
    background-color: #005d9c;
    border-color: #005d9c;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #033972;
    border-color: #033972;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #005e9ca8;
}