body {
    margin: 0;
    font-family: $font-family-sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f8fafc;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-family-relaway;
    color: #0296b3;
}
label {
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: .8rem;
}
label.field-label {
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.form-control.form-material{
    padding: .375rem 0rem !important;
}

input[placeholder*="Check-in"],input[placeholder*="Check-out"]{
    background-image: url('/images/iconos/calendar.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right center;
    background-origin: content-box;
}

.page-item.active .page-link{
    background-color: #0296b3 !important;
    border-color: #0296b3 !important;
}


/*contador*/
.countdown:hover{
    opacity: 0.3;
    transition: opacity .6s;
}
.countdown {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 1030;
    border: none;
    padding: 5px;
    border-radius: 0px 4px 4px 0px;
    background-color: #0296b3;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
}

#side {
    .countdown:hover{
        opacity: 1;
    }
    .countdown {
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(0);
        z-index: 1030;
        border: none;
        padding: 5px;
        border-radius: 0px 4px 4px 0px;
        color: #0296b3;
        font-size: 1.2rem;
        background-color: transparent;
        display: inline-block;
    }
}

/*formulario booking */
.ctk-date-time-picker .field.has-value .field-input {
    padding-top: 0px !important;
}
.ctk-date-time-picker .field.has-value .field-label {
    opacity: 0 !important;
}

.form-control:focus {
    background-color: #fff !important;
}
.card {
    border: 0px solid rgba(0, 0, 0, 0.25) !important;
}

.experience-modal {
    padding: 0rem !important;
}

@media (max-width: 575.98px) {
    h1{
        font-size: 1.75rem;
    }
}

.google-maps iframe{
    width: 100% !important;
    height: 100% !important;
}