
// Paginacion swiper
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: rgba(255, 204, 0, 0.808) !important;
    opacity: 0.9 !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FF913D !important;
}


// swiperr olbia #swipper-olbia-slider

#swipper-olbia-slider .swiper-slide{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 320px;
    
    .content-text-slider{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.1);
        width: 100%;
        height: 100%;
        display: flex;

        @media (min-width: 992px) { 
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.7);
            width: 500px;
            height: 100%;
            display: flex;
        }
    }

    @media (min-width: 576px) { min-height: 380px; }

    @media (min-width: 768px) { min-height: 480px; }

    @media (min-width: 992px) { 
        min-height: 640px;
    }

    &:nth-child(1){
        background-image: url('/images/home/olbia-slider/slider-olbia-1.jpg');
    }
    &:nth-child(2){
        background-image: url('/images/home/olbia-slider/slider-olbia-2.jpg');
    }
    &:nth-child(3){
        background-image: url('/images/home/olbia-slider/slider-olbia-3.jpg');
    }

}
// navegacion <    >
#swipper-olbia-slider {
    .swiper-navigation{
        z-index: 10;
        margin-left: 15px;
        margin-right: 15px;
    }
    .swiper-button-prev, .swiper-button-next {
        z-index: 10;
        cursor: pointer;
        background-size: 27px 36px;
    }
    // svg arrow
    .swiper-navigation .swiper-button-prev, 
    .swiper-navigation .swiper-container-rtl .swiper-button-next{
        background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
        left: 30px;
    }
    .swiper-navigation .swiper-button-next, 
    .swiper-navigation .swiper-container-rtl .swiper-button-prev{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
        right: 30px;
    }

    @media (min-width: 992px) {
        .swiper-navigation{
            position: absolute;
            width: 500px;
            height: 100px;
            bottom: 0;
            left: 0;
            transform: translateY(0%);
            z-index: 10;
            margin-left: 15px;
            margin-right: 15px;
        }
        // svg arrow
        .swiper-navigation .swiper-button-prev, 
        .swiper-navigation .swiper-container-rtl .swiper-button-next{
            left: 50%;
            transform: translateX(-150%);
        }
        .swiper-navigation .swiper-button-next, 
        .swiper-navigation .swiper-container-rtl .swiper-button-prev{
            right: 50%;
            transform: translateX(150%);
        }
    }
    
}

//end

[role='button']{
    outline: none;
}
