    /*fomularios*/
.form-control.form-material {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: transparent;
    background-clip: padding-box;
    border: 0 solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0m;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #000;
    background-color: transparent;
    border-color: #a1cbef;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}
/* Hide arrows of input type number*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

/* User Module added by ->(Leonel Castellano) */
    .bg-contact {
        widows: 100%;
        min-height: 420px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url("/images/playa.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .bg-form-contact {
        background-color: white;
        width: 70%;
        height: auto;
        padding: 0 5%;
    }

    .text-separation {
        letter-spacing: 0.2rem
    }

    @media (max-width: 600px) {
        .bg-form-contact {
            width: 90%;
            height: auto;
            padding: 0 5%;
        }

        .text-separation {
            letter-spacing: 0.2rem;
            padding-top: 10%;
        }
    }

    @media (max-width: 800px) {
        .text-separation {
            letter-spacing: 0.2rem;
            padding-top: 10%;

        }
    }
/* User Module added by ->(Leonel Castellano ) */

/* index component added by ->(Leonel Castellano ) */
    .pt-50vh {
        padding-top: 50vh;
    }
/* index component added by ->(Leonel Castellano ) */
