<template>
	<div class="content">
		<!-- Formulario -->
		<form id="form-model" class="container" name="form-model" accept-charset="UTF-8">
			<div class="row">
				<!-- Rooms Field -->
				<div class="form-group col-sm-6 col-sm-offset-3">
					<label for="services">Appartamenti</label>
					<vue-multiselect
						name="rooms"
						v-model="selectedRooms"
						:options="rooms"
						multiple
						clear-on-select
						hide-selected
						searchable
						label="name"
						track-by="name"
						taggable
						placeholder="Seleziona un'opzione"
						selectLabel="Premere Invio per selezionare"
						v-validate="'required'"
						data-vv-as="Appartamenti"
						:loading="loadingRooms"
					></vue-multiselect>
					<span class="text-danger">{{ errors.first('rooms') }}</span>
				</div>
			</div>
			<h3>Stagioni</h3>
			<hr>
			
			<div class="row" v-for="(season, index) in form.seasons" :key="index">
				<!-- Name Field -->
				<div class="form-group col-sm-3 col-md-2">
					<label v-if="index===0">Nome:</label>
					<input type="text"
						:name="`name_${index}`"
						class="form-control input-sm"
						v-validate="'required|max:50'"
						data-vv-as="Nome"
						v-model="season.name"
					/>
					<span class="text-danger">{{ errors.first(`name_${index}`) }}</span>
				</div>
				<!-- Date Picker -->
				<div class="form-group col-sm-3">
					<div class="form-group p-0">
						<label v-if="index===0">Intervallo di Date</label>
						<vue-ctk-date-time-picker	
							:ref="'date_picker_' + index"					  	
							v-model="season.date_range"
							locale="it"
							formatted="DD/MM/YYYY"
							format="YYYY-MM-DD"
							:name="`date_range_${index}`"
							data-vv-as="Data"
							color="#2ac093"
							enable-button-validate
							:disabled-dates="disabled_dates"
							no-header
							range
							only-date								
							no-shortcuts
							overlay
							right
							position="top"
							input-size="sm"
							label=" "
							:error="hasError(index)"
							no-clear-button
							@validate="onValidateDate(season.date_range, index)"
							@is-shown="onShowDatePicker(season.date_range)"
						>
						</vue-ctk-date-time-picker>
						<span class="text-danger">{{ errors.first(`date_range_${index}`) }}</span>
						<span v-if="hasError(index)" class="text-danger">
							Le stanze {{ getRoomsError(index)}} sono occupate per l'intervallo di date selezionato.
						</span>
					</div>
				</div>
				<!-- Price Field -->
				<div class="form-group col-sm-3 col-md-2">
					<label v-if="index===0">Prezzo per notte:</label>
					<input type="number" :name="`price_${index}`"
						class="form-control input-sm" min="0.00" step="0.01"
						v-model="season.price"
						data-vv-as="Prezzo"
						v-validate="'required'"
						/>
					<span class="text-danger">{{ errors.first(`price_${index}`) }}</span>
				</div>
				<!-- Iva Field -->
				<div class="form-group col-sm-2">
					<label v-if="index===0">% IVA:</label>
					<input type="number" class="form-control input-sm iva_id" min="0.00" step="0.01" v-model="season.iva" />
				</div>
				<!-- Remove Button -->
				<div class="col-sm-1">
					<label v-if="index===0">Azione</label><br v-if="index===0">
					<button type="button" class="btn btn-danger btn-sm" @click="deleteSeason(index, season.date_range)">
						<i class="fa fa-trash"></i>
					</button>
				</div>
			</div>

			<!-- Add Button -->
			<div class="row">
				<div class="col-sm-4 col-xs-offset-2">
					<button type="button" class="btn btn-primary" @click="addSeason">
						<i class="fa fa-plus"></i> Aggiungere Stagione
					</button>
				</div>
			</div>
			
			<hr>
		</form>
		<!-- Submit Field -->
		<div class="col-sm-6 col-sm-offset-3">
			<button type="button" class="btn btn-primary" @click="save">Salvare</button>
			<a href="/admin/roomSeasons" class="btn btn-default">Indietro</a>
		</div>
	</div>
</template>
<script>
import axios from 'axios'
import VueMultiselect from 'vue-multiselect'
import moment from 'moment'

export default {
	name: 'roomSeasonForm',
	props: [
		'data',
		'roomsSeason'
	],
	components: { VueMultiselect },
	data() {
		return {
			form: {
				start: null,
				end: null,
				seasons: [{
					rooms: []
				}]
			},
			rooms: [],
			disabled_dates: [],
			selectedRooms: [],
			roomsErrors: [],
			loadingRooms: false
        }
	},
	created() {
		this.form = this.data ? JSON.parse(this.data) : {
			seasons: []
		}
		this.getRooms()
		this.addSeason()
		this.form.user_id = 1
	},
    methods: {
		onShowDatePicker(value) {
			if (value) {
				const dates = this.getDaysBetween(value.start, value.end)
				dates.forEach(date => {
					const index = this.disabled_dates.findIndex(element => element === date)
					this.disabled_dates.splice(index, 1)
				})
			}
		},
		getDaysBetween(startDate, endDate) {
			let dates = []
			const end = moment(endDate)
			const start = moment(startDate)
			let currentDate = start

			const days = end.diff(start, 'days')

			for (let i = 0; i <= days; i++) {
				const day = moment(start).add(i, 'days').format('YYYY-MM-DD')
				dates.push(day)
			}
			return dates
		},
		hasError(index) {
			return this.roomsErrors.find(item => item.id === index) ? true : false
		},
		getRoomsError(index) {
			const item = this.roomsErrors.find(item => item.id === index)
			return item ? item.rooms : ''
		},
		async getRoomsUnavailable(startDate, endDate) {
			let rooms = []
			try {
				const { data } = await axios.get('/api/admin/room_seasons', {
					params: { start_date: startDate, end_date: endDate }
				})
				rooms = data.data.rooms.filter(item => item.availability === 0)
			} catch(e) {
				console.log(e)
			}
			return rooms
		},
		async onValidateDate(value, pickerIndex) {
			if (value && value.start && value.end) {
				// Verificamos que la lista de habitaciones se encuentre disponible
				const roomsUnavailable = await this.getRoomsUnavailable(value.start, value.end)
				const rooms = []

				// Limpiamos el error
				this.roomsErrors.splice(pickerIndex, 1)

				this.selectedRooms.forEach(item => {
					const index = roomsUnavailable.find(room => room.id === item.id)
					if (index)
						rooms.push(index)
				})

				if (rooms.length > 0) {
					let s = ''
					rooms.forEach(item => s = s.concat(item.name.concat(',')))
					this.roomsErrors.push({ id: pickerIndex, rooms: s })
				}
				
				const dates = this.getDaysBetween(value.start, value.end)
				dates.forEach(item => { 
					const idx = this.disabled_dates.indexOf(item)
					if (idx === -1)
						this.disabled_dates.push(item) 
				})
			}
		},
		async getRooms() {
			try {
				this.loadingRooms = true
				const response = await axios.get('/api/admin/roomAll')
				this.rooms = response.data.data.rooms
			} catch (error) {
				console.log(error)
			} finally {
				this.loadingRooms = false
			}
		},
		async addSeason() {
			if (await this.$validator.validate())
				this.form.seasons.push({ id: null , rooms: []})
		},
		deleteSeason(index, value) {
			this.form.seasons.splice(index, 1)
			this.roomsErrors.splice(index, 1)

			if (value) {
				const dates = this.getDaysBetween(value.start, value.end)
				dates.forEach(date => {
					const index = this.disabled_dates.findIndex(element => element === date)
					this.disabled_dates.splice(index, 1)
				})
			}
		},
    	async save() {
			if (await !this.$validator.validate() || this.roomsErrors.length > 0) {
				this.$swal.fire({
					type: 'error',
					title: 'Avvertimento',
					text: 'Controlla i dati inseriti',
				})
				return
			}
				
			const rooms = []
			this.selectedRooms.forEach(item => {
				rooms.push({ id: item.id, name: item.name })
			})

			this.form.seasons.forEach(season => {
				season.rooms = rooms
			})

			this.form.user_id = 1
    		try {
				const response = await axios.post('/api/admin/room_seasons', this.form)
				
				this.$swal({
                    type: 'success',
                    title: 'Salvato con Successo!',
                    showCloseButton: true
				})
				
				setTimeout(() => window.location.href = "/admin/roomSeasons", 2000)
    		} catch (error) {
    			console.log('Error: ', error)
    		}
    	}
    }
}
</script>
<style scoped>
/*
.datepicker .datepicker-inline > div {
    display: none !important;
}
*/
input {
	min-height: 36px;
    border-color: #cccccc;
}

.p-0 {
	padding: 0px;
}

.pl-o {
	padding-left: 0px;
}

.pr-0 {
	padding-right: 0px;
}
.input-group-btn{
    padding-left: 5px;
}
.btn-close{
	border-radius: 50% !important;
	padding: 7px 12px;
}
</style>