<template>
	<div class="content">
	<form id="form-model" class="container" name="form-model" accept-charset="UTF-8">
		<h4 class="text-center"><strong>Appartamenti:</strong> {{ form.room_name }}</h4>
			<br>
			<br>
			<!-- Name Field -->
			<div class="row">
				<div class="form-group col-sm-6 col-md-6 col-sm-offset-3">
					<label>Nome:</label>
					<input type="text" name="nome"
						class="form-control"
						v-model="form.name"
						data-vv-as="Nome"
						v-validate="'required|max:50'"
						/>
					<span class="text-danger">{{ errors.first('nome') }}</span>
				</div>
			</div>
			
			<!-- Date Range -->
			<div class="row">
				<div class="col-sm-6 col-md-6 col-sm-offset-3">
					<div class="form-group">
						<label>Intervallo di Date</label>
						<vue-ctk-date-time-picker						  	
							v-model="range"
							locale="it"
							formatted="DD/MM/YYYY"
							format="YYYY-MM-DD"
							output-format="YYYY-MM-DD"
							name="date_start"
							data-vv-as="Data"
							color="#2ac093"
							enable-button-validate
							position="top"
							no-header
							only-date								
							no-shortcuts
							range
							overlay
							right
							input-size="sm"
							label=" "
							no-clear-button
							:error=error
							@validate="onValidateDate(range)"	
						>
						</vue-ctk-date-time-picker>
						<span class="text-danger">{{ errors.first('date_start') }}</span>
						<span v-if="error" class="text-danger">
							Le stanze sono occupate per l'intervallo di date selezionato.
						</span>
					</div>
				</div>
			</div>

			<!-- Price Field -->
			<div class="row">
				<div class="form-group col-sm-6 col-md-6 col-sm-offset-3">
					<label>Prezzo per notte:</label>
					<input type="number" name="price"
						class="form-control" min="0.00" step="0.01"
						v-model="form.price"
						data-vv-as="Prezzo"
						v-validate="'required'"
						/>
					<span class="text-danger">{{ errors.first('price') }}</span>
				</div>
			</div>

			<!-- Iva Field -->
			<div class="row">
				<div class="form-group col-sm-6 col-sm-offset-3">
					<label>% IVA:</label>
					<input type="number" class="form-control iva_id" min="0.00" step="0.01" v-model="form.iva" />
				</div>
			</div>
		<hr>
	</form>
		<!-- Submit Field -->
		<div class="col-sm-6 col-sm-offset-3">
			<button type="button" class="btn btn-primary" @click="save">Salvare</button>
			<a href="/admin/roomSeasons" class="btn btn-default">Indietro</a>
		</div>
	</div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'

export default {
	name: 'roomSeasonEditForm',
	props: ['data'],
	data() {
		return {
			form: {
				start_date: null,
				end_date: null
			},
			range: { start: null, end: null },
			error: false
        }
	},
	created() {
		this.form = this.data ? JSON.parse(this.data) : {}		
		this.range.start = this.form.start_date
		this.range.end = this.form.end_date
		this.form.user_id = 1
	},
    methods: {
		getDaysBetween(startDate, endDate) {
			let dates = []
			const end = moment(endDate)
			const start = moment(startDate)
			let currentDate = start

			const days = end.diff(start, 'days')

			for (let i = 0; i <= days; i++) {
				const day = moment(start).add(i, 'days').format('YYYY-MM-DD')
				dates.push(day)
			}
			return dates
		},
		async getRoomsUnavailable(startDate, endDate) {
			let rooms = []
			try {
				const { data } = await axios.get('/api/admin/room_seasons', {
					params: { start_date: startDate, end_date: endDate }
				})
				rooms = data.data.rooms.filter(item => item.availability === 0)
			} catch(e) {
				console.log(e)
			}
			return rooms
		},
		async onValidateDate(value) {
			if (value && value.start && value.end) {
				this.form.start_date = moment(value.start).format("YYYY-MM-DD")
				this.form.end_date = moment(value.start).format("YYYY-MM-DD")
				
				const roomsUnavailable = await this.getRoomsUnavailable(this.form.start_date, this.form.end_date)

				const index = roomsUnavailable.find(room => room.id === this.form.room_id)
				this.error = index ? true : false
			}
		},
    	async save() {
			if (await this.$validator.validate() && !this.error) {
				this.form.user_id = 1
				this.form.date_range = this.range
				
				try {
					await axios.put(`/api/admin/room_seasons/${this.form.id}`, this.form)
					window.location.href = "/admin/roomSeasons";
				} catch (error) {
					console.log('Error: ', error)
				}
			}
    	}
    }
}
</script>
<style scoped>
/*
.datepicker .datepicker-inline > div {
    display: none !important;
}
*/
input {
	min-height: 36px;
    border-color: #cccccc;
}

.p-0 {
	padding: 0px;
}

.pl-o {
	padding-left: 0px;
}

.pr-0 {
	padding-right: 0px;
}
.input-group-btn{
    padding-left: 5px;
}
.btn-close{
	border-radius: 50% !important;
	padding: 7px 12px;
}
</style>