<template>
    <div id="room-categories">
        <!-- Language Id Field -->
        <div class="form-group col-sm-6 col-sm-offset-3 text-center">
            <h1>
                Lingua:
                <b>{{ translation.name }}</b>
            </h1>
        </div>

        <!-- RoomLocation Field -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label>Località</label>
            <select
                name="location"
                class="form-control"
                placeholder="Seleziona più opzioni"
                v-model="form.room_location_id"
                v-validate="'required'"
                data-vv-as="Località"
            >
                <option v-for="(value, key) in roomLocations" :key="key" :value="key">{{ value }}</option>
            </select>
            <span class="text-danger">{{ errors.first('location') }}</span>
        </div>

        <!-- Name Field -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label>Nome</label>
            <input
                type="text"
                name="name"
                class="form-control"
                v-model="form.name"
                v-validate="'required'"
                data-vv-as="Nome"
            >
            <span class="text-danger">{{ errors.first('name') }}</span>
        </div>

        <!-- Address -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label>Indirizzo</label>
            <input type="text" 
                name="address" 
                class="form-control"
                v-model="form.address"
                v-validate="'required'"
                data-vv-as="Indirizzo"
            >
            <span class="text-danger">{{ errors.first('address') }}</span>
        </div>

        <!-- Google Map -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label>Google Map</label>
            <input type="text" 
                name="address_map" 
                class="form-control"
                v-model="form.address_map"
                v-validate="'required'"
                data-vv-as="Google Map"
            >
            <span class="text-danger">{{ errors.first('address_map') }}</span>
        </div>

        <!-- Description Field -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label for="description">Descrizione</label>
            <textarea
                ref="description"
                class="form-control ckeditor"
                name="description"
                v-model="form.description"
                cols="2"
                rows="5"

                data-vv-as="Descrizione"
            />
            <span class="text-danger">{{ errors.first('description') }}</span>
        </div>

        <!-- Services Field -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label for="services">Servizi</label>
            <vue-multiselect
                v-model="form.services"
                :multiple="true"
                :options="services"
                :clear-on-select="false"
                :hide-selected="true"
                :searchable="true"
                placeholder="Seleziona più opzioni"
                select-label="Premere Invio per selezionare"
                label="name"
                track-by="name"
                :taggable="true"
            />
        </div>

        <!-- Recommendation -->
        <div class="col-sm-6 col-sm-offset-3" >
            <label>Informazioni</label>
            <span>
                <ul>
                    <li>
                        Dimensione massima dell'immagine: 1 MB
                    </li>
                    <li>
                        Dimensione raccomandata in pixel: 1080 x 720
                    </li>
                    <li>
                        Utilizzato questo link per comprimere le tue immagini: <a href="https://imagecompressor.com/"  target="_blank">https://imagecompressor.com</a>
                    </li>
                </ul>
            </span>
        </div>

        <!-- DROPZONE -->
        <div class="col-sm-6 col-sm-offset-3">
            <upload-images
                name="image"
                v-model="file"
                :images="form.gallery"
                v-validate="form.id ? '' : 'required'"
                data-vv-as="Immagine"
            />
            <span class="text-danger">{{ errors.first('image') }}</span>
            <hr>
        </div>

        <!-- Gallery -->
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <label>Immagine</label><br>
            <small>{{ form.gallery.length }} Immagini caricate</small>
            <hr>

            <!-- LOADING -->
            <div class="text-center" style="margin-bottom: 4rem; margin-top: 4rem;" v-if="loading">
                <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i>
            </div>
            <div v-else class="gallery gallery-widget" data-toggle="lightbox-gallery">
                <div class="row">
                    <div class="col-sm-3" v-for="(image, index) in form.gallery" :key="index">
                        <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                            <div class="dz-preview dz-image-preview text-center">
                                <a
                                    :href="image.url"
                                    class="gallery-link dz-image border-gray"
                                    title="Immagine"
                                >
                                    <img :src="image.url" alt="image" height="150" width="250" class="min-custom">
                                </a><br>

                                <button class="btn btn-xs btn-danger" @click="deleteImage(index)">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <input
                                    type="radio"
                                    :id="`image_${index}`"
                                    name="image"
                                    v-icheck
                                    :value="image.url"
                                    v-model="mainImage"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Field -->
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" class="btn btn-primary" @click="saveForm">Salvare</button>
            <a href="/admin/roomCategories" class="btn btn-default">Indietro</a>
        </div>
    </div>
</template>
<script>
import VueMultiselect from "vue-multiselect";
import UploadImages from "../../../components/UploadImages";

export default {
    components: { VueMultiselect, UploadImages },
    props: [
        "data",
        "roomLocations",
        "services",
        "translation",
        "name",
        "description"
    ],
    data() {
        return {
            form: {
                gallery: []
            },
            roomCategoryServices: [],
            file: null,
            picked: null,
            mainImage: null,
            loading: false
        };
    },
    created() {
        this.form = this.data ? JSON.parse(this.data) : { gallery: [] };
        this.form.name = this.name;
        this.form.description = this.description;
        this.form.language_id = this.translation.id;
    },
    mounted() {
        // Marcamos la Imagen Principal
        if (this.form.gallery) {
            this.form.gallery.some((item, index) => {
                const name =
                    item.url === this.form.image ? `#image_${index}` : "";
                if (name) {
                    $(name).iCheck("check");
                    return true;
                }
            });
        }
    },
    directives: {
        icheck: {
            inserted: function(el, b, vnode) {
                const vModel = vnode.data.directives.find(
                    item => item.name === "model"
                ).expression;
                $(el).on("ifChecked", function(event) {
                    const value = event.target.value;
                    vnode.context[vModel] = value;
                });
            }
        }
    },
    methods: {
        async saveForm() {
            // Validate Fields
            const isFormValid = await this.$validator.validateAll()
            if (!isFormValid)
                return false

            this.loading = true

            // Save CKEditor Description
            this.form.description = CKEDITOR.instances[this.$refs.description.name].getData()

            const gallery = this.form.gallery;
            this.form.user_id = 1;
            if (this.mainImage) this.form.image = this.mainImage;

            if (this.file) {
                this.file.forEach(image => {
                    const file = {
                        filename: image.upload.filename,
                        ...image
                    };
                    this.form.gallery.push(file);
                });
            }

            try {
                if (this.form.id > 0) {
                    await axios.put(`/api/admin/room_categories/${this.form.id}`, this.form)
                }
                else {
                    await axios.post("/api/admin/room_categories", this.form)
                }

                this.$swal({
                    type: 'success',
                    title: 'Salvato con Successo!',
                    showCloseButton: true
                })

                setTimeout(() => window.location.href = "/admin/roomCategories", 2000)
            } catch (error) {
                this.form.gallery = gallery;
                // Solo ocultamos el loading en caso de error
                this.loading = false;
            }
        },

        deleteImage(index) {
            if (confirm("Vuoi eliminare l'immagine?"))
                this.form.gallery.splice(index, 1);
        }
    }
};
</script>
<style>
.multiselect__spinner:before {
    position: absolute;
    border-color: rgb(73, 73, 73) !important;
}
.multiselect__tag {
    position: relative;
    background: rgb(73, 73, 73) !important;
}
.multiselect__option--highlight {
    background: rgb(73, 73, 73) !important;
}
.multiselect__option--highlight:after {
    content: attr(data-select);
    background: rgb(73, 73, 73) !important;
}
.multiselect__tag-icon:hover {
    background: #888888 !important;
}
.multiselect__tag-icon {
    color: #888888 !important;
}
.multiselect__tag-icon:after {
    color: #d4d4d4 !important;
}
</style>