<template>
    <div>
        <btn_regresar url="/" title="Home"/>
        <header_booking/>
        <form_booking />
        <wizard />
        <rooms />

        <!-- Navbar Booking desplegable -->
        <div class="container d-none d-md-block">
            <div class="row">
                <div class="col-12">
                        <p v-if="$store.getters.getRooms.length > 0" class="text-center">
                            {{ $store.getters.getTags({tag:'booking_1_note'}) }}
                        </p>
                        <p v-else class="text-center">
                            {{ $store.getters.getTags({tag:'booking_1_almost'}) }}
                        </p>
                    <p class="text-center">
                        <button type="button" :disabled="isDisabled" @click.prevent="nextStep" class="btn btn-primary btn-lg">
                        <span class="text-uppercase font-weight-bold">{{ $store.getters.getTags({tag:'booking_1_booking_now'}) }} <i class="fas fa-chevron-right"></i></span>
                        </button>
                    </p>
                </div>
            </div>
        </div>


        <div id="side" class="d-block d-md-none">
            <button id="up" class="book" @click="openNav"><img src="/images/iconos/up.svg" width="26" alt="">
            </button>
            <div class="text-center color">
                {{ $store.getters.getTags({tag:'booking_continue'}) }}
            </div>


            <button id="down" class="book" @click="closeNav"><img src="/images/iconos/down.svg" width="26" alt=""></button>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>{{ $store.getters.getTags({tag:'booking_1_booking_now'}) }}</h3>
                        <counter /> <!-- CONTADOR  -->
                        <p v-if="$store.getters.getRooms.length > 0">
                            {{ $store.getters.getTags({tag:'booking_1_note'}) }}
                        </p>
                        <p v-else>
                            {{ $store.getters.getTags({tag:'booking_1_almost'}) }}
                        </p>

                        <button type="button" :disabled="isDisabled" @click.prevent="nextStep" class="btn btn-primary btn-lg">
                            <span class="text-uppercase font-weight-bold">{{ $store.getters.getTags({tag:'booking_1_booking_now'}) }} <i class="fas fa-chevron-right"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
    import Rooms from './Rooms';
    export default {
        components: { Rooms },
        computed: {
            isDisabled() {
                return !(this.$store.getters.getRooms.length > 0);
            }
        },
        methods: {
            nextStep() {
                let total = this.$store.getters.getTotal;

                (total > 0) ? this.$router.push('/booking2') : this.showAlert('info', this.$store.getters.getTags({tag:'booking_1_alert_title'}), this.$store.getters.getTags({tag:'booking_1_alert_message'}));
            },
            openNav() {
              document.getElementById("side").style.height = "250px";
              document.getElementById('up').style.display = "none";
              document.getElementById('down').style.display = "block";
            },
            closeNav() {
                document.getElementById("side").style.height = "50px";
                document.getElementById('up').style.display = "block";
                document.getElementById('down').style.display = "none";
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
        }
    }
</script>
<style scoped>
#side{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1030;
    bottom: 68px;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 -8px 20px #a5a5a575;
}
.color{
    color: #21b186;
    font-weight: bold;
    font-size:1rem;
}
.book{
    border: none;
    padding: none;
    background-color: transparent;
    display: block;
    text-align: center;
    width: 100%;
    height: 20px;
}
.btn.disabled, .btn:disabled {
    opacity: 0;
}
@media (min-width: 768px){
    #side{
        bottom: 0;
    }
}
</style>

