<template>
    <div class="d-flex  justify-content-md-between justify-content-md-start">
            <!-- <div class="item-service tooltip py-2 px-1 p-md-3" v-if="quantity">
                <img :src="quantity.ico" alt="quantity-people">
                <span class="font-weight-bold">{{ quantity.adults }} <span v-show="quantity.children">+ {{ quantity.children }}</span></span>
                <span class="tooltiptext">{{ getTranslation(quantity).description }}</span>
            </div>
            <div v-for="(service, index) in data" :key="index" class="item-service tooltip py-2 px-1 p-md-3" :class="{ 'mx-auto': !quantity }">
                <img :src="service.ico" :alt="getTranslation(service).name">
                {{ service.pivot.info }}
                <span class="tooltiptext">{{ getTranslation(service).name }}</span>
            </div> -->
        <div>
            <span class="tooltip my-2">
                <img :src="quantity.ico" alt="quantity-people">
                 <small class="font-weight-bold">{{ textQuantityPeople(quantity.adults, quantity.children) }} </small>
                 <span class="tooltiptext">{{ getTranslation(quantity).description }}</span>
            </span>
            <span v-for="(service, index) in data" :key="index" class="tooltip my-2" :class="{ 'mx-auto': !quantity }">
                <img :src="service.ico" :alt="getTranslation(service).name">
                <small class="font-weight-bold">{{ service.pivot.info }}</small>
                <span class="tooltiptext">{{ getTranslation(service).name }}</span>
            </span>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'room-services',
        props: ['data', 'quantity'],
        computed: {
            language() {
                return this.$store.state.Language.languageActive.flag
            },
        },
        methods: {
            textQuantityPeople(adults, children){
                if ( adults && children ){
                    return `${adults} + ${children}`;
                }
                else if (adults) {
                    return `${adults}`;
                }
                else if (children) {
                    return `${children}`;
                }
            },
            getTranslation(model) {
                let translation = model.translations.find(translation => translation.code === this.language)

                if (! translation) {
                    translation = model.translations[0]
                }
                return translation
            }
        }
    }
</script>
<style scoped>
    img{
        width: 20px;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        z-index: 2 !important;
        width: 50px;
    }
    .tooltip small{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 22px;
    }

    @media (min-width: 768px){
        img{
            width: 36px;
        }
        .tooltip {
            position: relative;
            display: inline-block;
            z-index: 2 !important;
            width: 70px;
        }
        .tooltip small{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 36px;
        }
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        max-width: 120px;
        min-width: 120px;
        width: 120px;
        background-color: #0296b3;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index:2;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        opacity: 1;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #0296b3 transparent transparent transparent;
    }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

    .tooltip {
        opacity: 1;
    }
</style>
