<template>
    <div>
        <h3 class="text-primary">{{ data.name }}</h3>
        <p class="lead m-0">{{ getLocationNameByRoom( getCategoryByRoom(data.village).room_location_id ) }}</p>
        <p class="lead m-0">{{ $store.getters.getTags({tag:'booking_1_holiday_house'}) }}: <span>{{ getCategoryByRoom(data.village).name }}</span></p>

        <!-- Oferta Especial -->
        <div v-if="data.rate && hasOffers(data.rate)" class="alert alert-pink mt-2" role="alert">
            <img src="images/iconos/percentage.svg" width="32">
            {{ $store.getters.getTags({ tag: 'general_offer' }) }}
        </div>

        <template v-if="showAlert">
            <div class="alert alert-danger" role="alert">
                <i class="far fa-clock"></i> {{ $store.getters.getTags({ tag: 'booking_1_alert_look_bellow' }) }}
            </div>
        </template>

        <template v-else>
            <p><span v-html="data.description"></span></p>
            <p><span class="font-weight-bold">{{ subtitles.one }} </span> {{ subtitles.two }}</p>
        </template>
    </div>
</template>

<script>
    export default {
        name: 'room-description',
        props: ['data', 'subtitles', 'showAlert'],
        methods: {
            getLocationNameByRoom(id) {
                return this.$store.getters.getLocationNameById(id);
            },
            getCategoryByRoom(id) {
                return this.$store.getters.getCategoryById(id);
            },
            hasOffers(roomRate){
                return Object.getOwnPropertyNames(roomRate).some( prop => roomRate[prop].email === null)
            },
        }
    }
</script>
<style scoped>
.alert-pink {
    color: maroon;
    background: #ffbce1 !important;
}
</style>
