<template>
    <div class="overflow-hidden">
        <template v-if="loading">
            <div class="container d-flex justify-content-center">
                <div class="row m-5 mb-4">
                    <div class="col-12">
                        <pulse-loader :loading="loading" :color="color" :size="size"/>
                    </div>
                </div>
            </div>
        </template>

        <template v-else>
            <div class="container my-4">
                <div class="row my-5 bg-white py-3 shadow" v-if="index >= minIndex && index < maxIndex" v-for="(room, index) in rooms" :class="{ disabled: !checkSelectedRoom(room) && room.availability === 0 }">
                    <div class="col-12 col-md-5">
                        <swiper :options="swiperOption">
                            <swiper-slide v-for="(slide, index) in room.gallery" :key="index" class="position-relative">
                                <div class="ribbon ribbon-top-right">
                                    <span v-if="!checkSelectedRoom(room) && room.availability === 0">*{{ $store.getters.getTags({ tag: 'booking_1_unavailable' }) }}</span>
                                </div>
                                <!-- Oferta Especial -->
                                <div v-if="room.availability != 0 && room.price_detail_request.rate && hasOffers(room)"
                                    class="ribbon ribbon-offer ribbon-top-right">
                                    <span class="text-capitalize font-weight-bold">
                                        *{{ $store.getters.getTags({ tag: 'general_offer' }) }}*
                                    </span>
                                </div>
                                <img class="room-slider-img img-fluid" :src="slide.url" :alt="'img-' + room.name">
                            </swiper-slide>
                            <div class="swiper-pagination" slot="pagination"></div>
                        </swiper>
                    </div>

                    <div class="col-12 col-md-7">
                        <room-description
                            :data="{
                                name: getTranslation(room).name,
                                description: getTranslation(room).description,
                                village: room.room_category_id,
                                rate: room.price_detail_request.rate
                            }"
                            :subtitles="{ one: room.subtitle1, two: room.subtitle2 }"
                            :showAlert="!checkSelectedRoom(room) && room.availability === 0"
                        />

                        <p class="text-primary">
                            {{ $store.getters.getTags({tag:'booking_1_checkin'}) }}
                            <br>
                            {{ $store.getters.getTags({ tag: 'booking_1_checkout' }) }}
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="border-top border-bottom border-primary my-2">
                            <room-services
                                :data="room.services"
                                :quantity="quantity(room)"
                            />
                        </div>

                        <div class="lead d-flex justify-content-end">
                            <div class="mr-2">
                                <span class="font-weigth-bold info-price tooltip" style="color: #318eb6">
                                    {{ $store.getters.getTags({tag:'booking_3_price'}) }}:
                                    <span v-if="room.price_detail_request.rate && hasOffers(room) && getPriceWithoutOffer(room) > room.price_request" class="text-gray mx-1">{{ getPriceWithoutOffer(room) | money }} €</span>
                                    {{ room.price_request | money }} €
                                </span>
                            </div>

                            <div>
                                <template v-if="checkSelectedRoom(room)">
                                    <button type="button" @click.prevent="deleteRoom(room)"
                                            class="btn btn-warning btn-lg m-0">
                                        <span class="text-uppercase font-weight-bold">
                                            <i class="far fa-check-circle"></i> {{ $store.getters.getTags({tag:'booking_1_selected'}) }}
                                        </span>
                                    </button>
                                </template>


                                <template v-else>
                                    <template v-if="room.availability === 1">
                                        <button type="button" @click.prevent="addRoom(room)"
                                                class="btn btn-primary btn-lg m-0">
                                            <span class="text-uppercase font-weight-bold">{{ $store.getters.getTags({tag:'booking_1_select'}) }}</span>
                                        </button>
                                    </template>
                                </template>
                            </div>

                        </div>
                    </div>
                </div>
                <b-pagination
                    align="center"
                    :total-rows="rooms.length"
                    v-model="currentPage"
                    :per-page="perPage"
                    class="primary"
                    @change="scrollTop"
                />

            </div>
        </template>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min';
    import RoomDescription from './RoomDescription';
    import RoomServices from './RoomServices';


    export default {
        name: 'rooms',
        components: {RoomDescription, RoomServices, PulseLoader},
        data() {
            return {
                root: window.location.origin,
                swiperOption: {
                    pagination: {el: '.swiper-pagination', dynamicBullets: true, clickable: true,}
                },
                rooms: [],
                bookingDate: {},
                locked_room: null,
                color: '#1b1b1b',
                size: '15px',
                loading: false,
                currentPage: 1,
                perPage: 5,
                test: null
            }
        },
        beforeMount() {
            let data = this.$store.getters.getFilter;

            if (Object.keys(data).length === 0) this.$router.push('/');

            this.bookingDate = {
                checkin: Vue.moment(data.checkin).format('YYYY-MM-DD'),
                checkout: Vue.moment(data.checkout).format('YYYY-MM-DD'),
                roomLocationId: data.roomLocationId,
                quantity: data.quantity,
            };

            this.loading = true;
            this.getRooms();
        },
        mounted() {
            window.Echo.channel('room') //broadcasting
                .listen('.roomAvailability', (e) => {
                    //console.log(e);
                    let locked = this.rooms.find(key => key.id === e.room.id);
                    locked.availability = e.room.availability;
                });
        },
        computed: {
            booking() {
                return this.$store.getters.getBooking
            },
            filter() {
                return this.$store.getters.getFilter;
            },
            maxIndex() {
                return this.perPage * this.currentPage
            },
            minIndex() {
                return (this.perPage * this.currentPage) - this.perPage
            },
            nights() {
                const moment = require('moment')
                let checkin = moment(this.filter.checkin)
                let checkout = moment(this.filter.checkout)
                return checkout.diff(checkin, 'days')
            },
            language() {
                return this.$store.getters.getLanguagesFlagActive;
            }
        },
        watch: {
            filter: {
                handler(value) {
                    if (value.checkin !== this.bookingDate.checkin || value.checkout !== this.bookingDate.checkout || this.bookingDate.roomLocationId !== value.roomLocationId || this.bookingDate.quantity !== value.quantity) {
                        this.loading = true;
                        this.$store.dispatch('resetCounter');

                        setTimeout(() => location.reload(true), 1500);
                    }
                },
                deep: true
            }
        },
        methods: {
            async getRooms() {
                try {
                   const res = await axios.post(this.root + '/api/admin/rooms', this.bookingDate)
                    this.rooms = res.data.data.rooms;
                    this.totalRows = Object.keys(this.rooms).length;

                } catch (error) { console.log(error) }

                finally {
                    this.loading = false;
                    this.scrollTop();
                }
            },
            checkSelectedRoom(item) {
                const ROOMS = this.$store.getters.getRooms;

                if (ROOMS.length > 0) return ROOMS.find(key => key.roomId === item.id);

                return false;
            },
            addRoom(item) {
                if (this.booking.rooms.length === 0) this.$store.dispatch('setCounter');

                let data = {
                    name: item.name,
                    description: item.description,
                    roomId: item.id,
                    room_category_id: item.room_category_id,
                    personResponsible: {
                        name: null,
                        email: null,
                        phone: null,
                    },
                    maxAdults: item.adults_quantity ? item.adults_quantity : 1,
                    maxChildren: item.children_quantity ? item.children_quantity : 0,
                    totalItem: item.price_request,
                    ivaItem: item.iva_request,
                    bookingDate: this.bookingDate,
                    price_detail_request: item.price_detail_request,
                    translations: item.translations,
                };

                this.$store.dispatch('setRoom', data).then(() => {
                        this.showAlert('success', this.$store.getters.getTags({ tag: 'booking_1_add_room_message' }))

                    }).catch(error => {
                        this.showAlert('error', error);
                        item.availability = 0;

                        if (this.$store.getters.getRooms.length === 0) this.$store.dispatch('stopCounter');
                    })

            },
            deleteRoom(item) {
                const ROOMS = this.$store.getters.getRooms;

                if (ROOMS.length > 0) {
                    const ROOM_TO_DELETE = ROOMS.find(key => key.roomId === item.id);

                    this.$store.dispatch('deleteRoom', ROOM_TO_DELETE).then(response => {
                        if (response.status === 200) {
                            if (this.$store.getters.getRooms.length === 0) this.$store.dispatch('stopCounter');
                        }
                    }).catch(error => console.log(error));
                }
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
            scrollTop() {
                window.scrollTo(0, 460);
            },
            getTranslation(item) {
                let translation = item.translations.find(translation => translation.code === this.language);

                if (!translation) translation = item.translations[0];

                return translation;
            },
            quantity(room) {
                return {
                    ico: '/storage/multimedia/icons/posti-letto.svg',
                    adults: room.adults_quantity,
                    children: room.children_quantity,
                    translations: [
                    { code: 'it', description: 'numero di persone consentite' },
                    { code: 'en', description: 'number of people allowed' },
                    { code: 'es', description: 'cantidad de personas permitidas' },
                    { code: 'de', description: 'Anzahl der Personen erlaubt' }
                    ]
                }
            },
            hasOffers(room){
                return room.price_detail_request.rate && Object.getOwnPropertyNames(room.price_detail_request.rate).some( prop => 
                    room.price_detail_request.rate[prop].email === null    
                )
            },
            getPriceWithoutOffer(room) {
                let total = 0
                // Ofertas
                if (room.price_detail_request.rate) {
                    Object.getOwnPropertyNames(room.price_detail_request.rate).forEach( prop => {
                        const price = isNaN(parseFloat(room.price_detail_request.rate[prop].price_total_without_rate)) ? 0 : room.price_detail_request.rate[prop].price_total_without_rate
                        total += price
                    })
                }
                // Seasons
                if (room.price_detail_request.season) {
                    Object.getOwnPropertyNames(room.price_detail_request.season).forEach( prop => {
                        const quantity = isNaN(parseFloat(room.price_detail_request.season[prop].quantity)) ? 0 : room.price_detail_request.season[prop].quantity
                        const price = isNaN(parseFloat(room.price_detail_request.season[prop].price)) ? 0 : room.price_detail_request.season[prop].price

                        total += quantity * price
                    })
                }
                return total
            }
        }
    }
</script>
<style scoped>
    .text-gray {
        color: #9e9d9e;
        text-decoration: line-through;
    }

    .tooltip {
        position: relative;
        display: inline;
        z-index: 2 !important;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100px;
        background-color: #9e9d9e;
        color: #fff;
        font-size: 0.9rem;
        text-align: center;
        border-radius: 6px;
        padding: 1px 0;
        position: absolute;
        z-index: 2;
        bottom: 10%;
        right: -5px;
        margin-left: 0;
        opacity: 1;
        transition: opacity 0.3s;
        font-weight: 100;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 30%;
        left: 50%;
        margin-left: 50px;
        padding: 0px 4px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .tooltip {
        opacity: 1;
    }

    .border-y-green {
        border-top: 1px solid #21b186;
        border-bottom: 1px solid #21b186;
    }

    .info-price {
        vertical-align: top;
        font-size: 1.1rem;
        font-weight: bold;
    }

    /* common */
    .ribbon {
        width: 150px;
        height: 146px;
        overflow: hidden;
        position: absolute;
    }

    .ribbon span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 15px 0;
        background-color: #f1832b;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font: 700 18px/1;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        text-align: center;
    }

    .ribbon-offer span {
        background-color: deeppink;
    }

    .btn-warning {
        color: #fff;
        background-color: #f1832b;
        border-color: #f1832b;
    }

    /* top right*/
    .ribbon-top-right {
        top: 0px;
        right: 0px;
    }

    .ribbon-top-right span {
        left: -16px;
        top: 25px;
        transform: rotate(45deg);
        font-size: 12px;
    }

    /* Dinamic Classes */
    .disabled {
        opacity: 0.4;
    }
    .room-slider-img{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
</style>
