<template>
    <div>
        <div class="content">
            <!-- Language Id Field -->
            <div class="form-group text-center">
                <h3>{{ language }}: <b>{{ translations.name }}</b></h3>
            </div>

            <div class="row">
                <!-- Title Field -->
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <label>Titolo</label>
                    <input
                        class="form-control"
                        name="title"
                        v-model="form.title"
                        v-validate="'required'"
                        data-vv-as="Nome"
                        type="text"
                        readonly                        
                    />
                    <span class="text-danger">{{ errors.first( 'title' ) }}</span>
                </div>

                <div class="col-sm-8 col-sm-offset-2" >
                    <label>Informazioni</label>
                    <span>
                        <ul>
                            <li>
                                Dimensione massima dell'immagine: 1 MB 
                            </li>
                            <li>
                                Dimensione raccomandata in pixel: 1920 x 800  
                            </li>
                            <li>
                                Utilizzato questo link per comprimere le tue immagini: <a href="https://imagecompressor.com/">https://imagecompressor.com</a>
                            </li>
                        </ul>
                    </span>
                </div>

                <!-- Gallery -->
                <div id="gallery" class="col-sm-8 col-sm-offset-2">
                    <label>Galleria</label>
                    <div class="row mt-2 block">
                        <div class="text-center col-sm-4" v-for="( item, index ) in form.gallery" :key="item._id">
                            <picture-input
                                :ref="`galleryPicture_${index}`"
                                @change="galleryChange($event, item, index)"
                                @error="onFileError"
                                width="500"
                                height="300"
                                accept="image/jpeg,image/png"
                                size="1"
                                buttonClass="btn btn-primary btn-sm"
                                removeButtonClass="btn btn-danger btn-sm"
                                :alertOnError="false"
                                :prefill="item.url"
                                :crop="false"
                                :removable="false"
                                :hideChangeButton="true"
                                :zIndex="0"
                                :customStrings="customStrings">
                            </picture-input>
                            <button type="button" class="btn btn-danger"
                                v-if="index < form.gallery.length -1"
                                @click="removeItem(item)">
                                <i class="fa fa-trash"></i> Rimuovere
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Submit Field -->
            <div class="row">
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <button type="button" class="btn btn-primary" @click="saveForm">Salvare</button>
                    <a href="/admin/gallerySliders" class="btn btn-default">Annulla</a>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import axios from 'axios'
import PictureInput from 'vue-picture-input'
import swal from 'sweetalert2'

export default {
    props: [
        'translation',
        'language',
        'data'
    ],
    created() {
        // form
        this.form = this.data ? JSON.parse(this.data) : {
            image: null,
            gallery: []
        }
        this.translations = this.translation ? JSON.parse(this.translation) : null
        this.form.language_id = this.translations.id
        this.form.user_id = 1

        // agregar datos del translation al form
        var dataTrans = null;
        this.form.translations.forEach( item => {
            if ( item.language_id === this.form.language_id ) {
                // agregar item
                dataTrans = item;
            }
        } )
        Object.assign( this.form, dataTrans );

        if (this.form.id > 0) {
            this.selectedMainImage = this.form.image
        }

        this.form.gallery.forEach(item => {
            item._id = Math.random().toString(36).substr(2, 9),
            item.filename = item.name
        })

        // Agregamos un objecto de la galeria por defecto
        this.form.gallery.push({ _id: Math.random().toString(36).substr(2, 9) })
    },
    components: { PictureInput },
    data() {
        return {
            form: {},
            translations: {},
            images: [],
            selectedMainImage: null,
            customStrings: {
                upload: "<p>Il tuo dispositivo non supporta il caricamento di file.</p>", // HTML allowed
                drag: "Caricare l'immagine<br><i class='fa fa-picture-o'></i>", // HTML allowed
                change: 'Cambia foto', // Text only
                fileSize: "La dimensione del file supera il limite",
                fileType: "Questo tipo di file non è supportato."
            }
        }
    },
    methods: {
        onFileChange(image) {
            const file = this.$refs.mainPicture.file
            this.form.image = {
                filename: file.name,
                size: file.size,
                type: file.type,
                dataURL: image,
                width: 200,
                height: 200
            }
        },
        removeMainPicture() {
            this.selectedMainImage = null
            this.form.image = null
        },
        onFileError(e) {
            swal("Errore durante il caricamento dell'immagine", e.message, "error", { timer: 3000 })
        },
        galleryChange(image, item, index) {
            const refName = `galleryPicture_${index}`
            const file = this.$refs[refName][0].file

            Object.assign(item, {
                filename: file.name,
                size: file.size,
                type: file.type,
                dataURL: image,
                width: 200,
                height: 200
            })

            // Agregamos la imagen
            if (index === this.form.gallery.length -1) this.form.gallery.push({ _id: Math.random().toString(36).substr(2, 9) })
        },
        removeItem(item) {
            const index = this.form.gallery.indexOf(item);
            if (index > -1) {
                this.form.gallery.splice(index, 1);
            }
        },
        async saveForm() {
            // this.form.gallery.pop()
            this.form.user_id = 1
            try {
                if (this.form.id > 0) {
                    const response = await axios.put(`/api/admin/gallery_sliders/${this.form.id}`, this.form)
                } else {
                    const response = await axios.post('/api/admin/gallery_sliders', this.form)
                }

                window.location.href = '/admin/gallerySliders';
            } catch (error) {
                console.log('Error: ', error)
            }
        }
    }
}
</script>
<style scoped>
.gallery img:hover {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

pre {
    background: #f5f5f5 !important;
}

.mt-2 {
    margin-top: 2rem;
}

.nav-tabs.nav-justified>.active>a {
    font-weight: bold
}

.picture-input {
    margin: 4px auto !important;
}

.gallery-container {
    width:25%;
    float: left;
}

/*
 * CSS Hack Tab (Bootstrap 3): Hack para poder mostrar el componente PictureInput en la pestaña de Galeria
 * por lo que no se deben de quitar
 */
.tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}
.tab-content>.tab-pane.active {
    height: auto;
}
</style>