<template>
    <div>
        <div class="form-group col-sm-6">
            <label class="text-capitalize">{{ current | moment('MMMM YYYY')}}</label>
            <ul class="pagination pagination-sm remove-margin">
                <li class="prev">
                    <a href="javascript:void(0)" @click="prev"><i class="fa fa-chevron-left"></i> Mese Precedente</a>
                </li>
                <li class="">
                    <a href="javascript:void(0)" @click="today"> Mese Corrente</a>
                </li>
                <li class="next">
                    <a href="javascript:void(0)" @click="next">Mese Seguente <i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
        </div>
        <div class="form-group col-sm-6">
            <label>Appartamenti</label>
            <select v-model="roomId" class="form-control">
                <option v-for="(room, index) in rooms" :value="room.id">{{ room.name }}</option>
            </select>
        </div>
        <br>
        <br>
        <br>
        <br>
        <calendar
            style="height: 600px;"
            view="month"
            :schedules="scheduleList"
            :month="month"
            isReadOnly
            @clickSchedule="edit"
            ref="calendar"
        ></calendar>
    </div>
</template>
<script>
    import 'tui-calendar/dist/tui-calendar.css'
    import { Calendar } from '@toast-ui/vue-calendar'
    export default {
        props:['type'],
        components: {
            'calendar': Calendar
        },
        data(){
            return {
                roomId: 1,
                current:  null,
                month: {
                    daynames: ['Domenica', 'Lunedi','Martedì','Mercoledì','Giovedi','Venerdì','Sabato'],
                    startDayOfWeek: 1
                }
            }
        },
        methods:{
            edit(e) {
                setTimeout(()=>{
                    window.location.href = e.schedule.raw
                }, 1000)
            },
            getBookings(){
                let params = {room_id: this.roomId}
                this.$store.dispatch('getBookings', params)
            },
            getPrices(){
                let params = {
                    room_id: this.roomId,
                    month: this.current,
                }
                this.$store.dispatch('getSeasons', params)
                //this.$store.dispatch('getRates', params)
            },
            randomColor(){
                var r = Math.floor(Math.random() * 255);
                var g = Math.floor(Math.random() * 255);
                var b = Math.floor(Math.random() * 255);
                return 'rgb(' + r + ',' + g + ',' + b + ')'
            },
            next(){
                this.$refs.calendar.invoke('next')
                this.changeMonth(1)
            },
            prev(){
                this.$refs.calendar.invoke('prev')
                let talfi = this.current
                this.changeMonth(-1)
            },
            today(){
                this.current = Vue.moment()
                this.$refs.calendar.invoke('today')
            },
            changeMonth(val){
                this.current = Vue.moment(this.current).add(val, 'months')
                if (this.type == 'price') {
                    this.getPrices()
                }
            },
            scheduleBooking(){
                let schedule = []
                for (let i in this.$store.getters.getBookings) {
                    schedule.push({
                        id: this.$store.getters.getBookings[i].id,
                        calendarId: '1',
                        title: this.$store.getters.getBookings[i].personResponsible.full_name.toUpperCase(),
                        category: 'allday',
                        color: '#f2f2f2',
                        bgColor: this.randomColor(),
                        start: this.$store.getters.getBookings[i].checkin_date,
                        end: this.$store.getters.getBookings[i].checkout_date,
                        location: this.$store.getters.getBookings[i].room.name,
                        body: 'Reindirizzamento per visualizzare la prenotazione...',
                        raw: '/admin/bookings/' + this.$store.getters.getBookings[i].booking.id,
                    })
                }
                return schedule
            },
            schedulePrices(){
                let schedule = []
                for (let i in this.$store.getters.getSeasons) {
                    schedule.push({
                        id: this.$store.getters.getSeasons[i].id,
                        calendarId: '1',
                        title: this.$store.getters.getSeasons[i].title,
                        category: 'allday',
                        color: '#f2f2f2',
                        bgColor: this.$store.getters.getSeasons[i].bgColor,
                        start: this.$store.getters.getSeasons[i].start_date,
                        end: this.$store.getters.getSeasons[i].end_date,
                        location: this.$store.getters.getSeasons[i].title,
                        body: 'Reindirizzamento per visualizzare il prezzo ...',
                        raw: this.$store.getters.getSeasons[i].url,
                    })
                }

                return schedule
            },
        },
        async created(){
            this.current = Vue.moment()
            if (this.type == 'booking') {
                this.getBookings()
            }
            if(this.type == 'price'){
                this.getPrices()
            }
            this.$store.dispatch('getAllRooms')
            this.$moment.locale('it');
        },
        computed: {
            scheduleList(){
                if (this.type == 'booking') {
                    return this.scheduleBooking()
                }
                if (this.type == 'price') {
                    return this.schedulePrices()
                }
            },
            rooms(){
                return this.$store.getters.getAllRooms
            }
        },
        watch: {
            roomId(val){
                if (val) {
                    if (this.type == 'booking') {
                        this.getBookings()
                    }
                    if(this.type == 'price'){
                        this.getPrices()
                    }
                }
            }
        },
    }
</script>
<style>
</style>
