<template>
    <div>
        <div class="tabs">
            <ul>
                <template v-for="tab in tabs">
                    <a :href="tab.href" class="btn" :class="{ 'btn-info': tab.isActive }" @click="selectTab(tab)">
                        {{ tab.name }}
                    </a>
                </template>
            </ul>
        </div>

        <div class="tabs-details">
            <slot></slot>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Tabs',
        data() {
            return {
                tabs: []
            }
        },
        created() {
            this.tabs = this.$children;
        },
        methods: {
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name === selectedTab.name);
                });
            }
        }
    }
</script>