<template>
    <vue-dropzone
        ref="imagesContainer"
        id="imagesContainer"
        :options="dropzoneOptions"
        @vdropzone-file-added="change"
        @vdropzone-removed-file="change"
        @vdropzone-canceled="cancel"
    ></vue-dropzone>
</template>
<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    export default {
        props:{
            value:{
                required: true
            },
            limit: {
                default: null
            },
            images: {
                default: null
            },
            thumbnailWidth: {
                default: 200
            },
        },
        components: {
          vueDropzone: vue2Dropzone
        },
        created(){
            this.images
        },
        data() {
            return {
                dropzoneOptions: {
                    url: 'http://localhost',
                    thumbnailMethod: 'contain',
                    maxFilesize: 10,
                    headers: { "My-Awesome-Header": "header value" },
                    autoProcessQueue: false,
                    maxFiles: this.limit,
                    addRemoveLinks: true,
                    thumbnailWidth: this.thumbnailWidth,
                    dictDefaultMessage: 'Trascina qui i file da caricare',
                    dictRemoveFile: 'Rimuovi il file',
                },
            }
        },
        methods: {
            loadImages(images){
                this.drop.removeAllFiles()
                if (this.limit == 1) {
                  var file = { size: this.thumbnailWidth, name: images, type: "image/png" };
                  this.$refs.imagesContainer.manuallyAddFile(file, images);
                } else {
                    images.map((image) => {
                        if (image.multimedia && image.multimedia.name) {
                          var file = { id: image.multimedia.id, size: this.thumbnailWidth, filename: image.multimedia.name, name: image.multimedia.name, type: "image/png" };
                          this.$refs.imagesContainer.manuallyAddFile(file, image.multimedia.url);
                        }
                    })
                }
            },
            change(){
                if(this.limit != null && this.drop.files.length > this.limit){
                    this.drop.removeFile(this.drop.files[this.limit])
                }
                this.$emit('input', this.drop.files)
            },
            cancel(){
                this.$parent.temp = this.drop.files
            },
        },
        computed: {
            drop(){
                return this.$refs.imagesContainer.dropzone
            }
        },
        watch: {
            images(val){
                if(val){
                    this.loadImages(val)
                }
            }
        }
    }
</script>
<style>
.vue-dropzone>.dz-preview .dz-remove {
    background-color: red;
}
.vue-dropzone>.dz-preview .dz-progress {
    display: none !important;
}
/*
.vue-dropzone>.dz-preview .dz-details {
    opacity: 0.3 !important;
}
*/
</style>
