<template>
    <div>
        <aside class="py-2">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <div class="border-content">
                            <img class="img-fluid" src="/images/suites/icon/wifi-24px.svg" alt="">
                            <p class="mt-2 mb-0">WIFI</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <div class="border-content">
                            <img class="img-fluid" src="/images/suites/icon/senal-de-parking.svg" alt="">
                            <p class="mt-2 mb-0">Parcheggio</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <div class="border-content">
                            <img class="img-fluid" src="/images/suites/icon/grupo-de-familia-del-padre-y-la-madre-con-dos-bebes-y-un-perro.svg" alt="">
                            <p class="mt-2 mb-0">I bambini sono i benvenuti</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <div class="border-content">
                            <img class="img-fluid" src="/images/suites/icon/senal-de-prohibido-animales.svg" alt="">
                            <p class="mt-2 mb-0">Animali non ammessi</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <div class="border-content">
                            <img class="img-fluid" src="/images/suites/icon/temperatura.svg" alt="">
                            <p class="mt-2 mb-0">Aria condizionta</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <div class="border-content">
                            <img class="img-fluid" src="/images/suites/icon/netflix.svg" alt="">
                            <p class="mt-2 mb-0">Netflix</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>
<style scoped>
img{
    width: 68px;
}
p{
    line-height: 1.2;
}
.border-content {
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 140px;
    height: 140px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
</style>

