<template>
    <div class="sticky-top d-md-none">
        <div class="container-fluid bg">
            <div class="row">
                <div class="col-12 py-2">
                    <router-link :to="url">
                        <img src="/images/iconos/left-arrow.svg" width="32" :alt="title" class="d-inline-block mr-2">
                        {{ title }}
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['url','title']
}
</script>
<style lang="sass" scoped>
.bg
    background-color: #A7EAF6

a
    color: #0296b3
    font-weight: bold
</style>

