<template>
    <cookie-law theme="solaria" :buttonText="getTags({ tag: 'textOthers_CookieBtn' })" position="bottom" buttonClass="btn btn-primary">
        <div slot="message" class="text-center">
            {{ getTags({ tag:'textOthers_Cookie' }) }}
            <router-link to="/termini" v-text="getTags({ tag:'textOthers_CookieLink' })" />
        </div>
    </cookie-law>
</template>
<script>
    import { mapGetters } from 'vuex'
    import CookieLaw from 'vue-cookie-law'

    export default {
        name: 'cookies',
        components: { CookieLaw },
        computed: {
            ...mapGetters(['getTags'])
        }
    };
</script>
<style lang="sass" scoped>
    .Cookie--solaria 
        background: #000
        color: #FFF
        padding: 0.8em
        font-size: 0.88em

    a 
        color: #0296b3
        &:hover
            color: #0296b3
    
</style>
