<template>
    <div>
        <footer class="bg-white">
            <div class="py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="img-fluid" src="/images/logos/solaria-logo.png" alt="Solaria Vacanza">
                        </div>
                        <div class="hr my-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 my-2">
                            <h4 class=" font-weight-bold">Solaria Home Holiday</h4>
                            <p>
                                {{ $store.getters.getSetting('address').value }}
                                <a class="d-block" :href="'tel:' + $store.getters.getSetting('telefono').value">{{$store.getters.getSetting('telefono').value}}</a>
                                <a class="d-block" :href="'mailto:' + $store.getters.getSetting('contact_email').value">{{ $store.getters.getSetting('contact_email').value }}</a>
                            </p>
                            <p class="">
                                <a :href="$store.getters.getSetting('instagram_url').value" class="d-inline-block m-1" target="blank">
                                    <img src="/images/iconos/instagram.svg" alt="instagram" width="28">
                                </a>
                                <a :href="$store.getters.getSetting('facebook_url').value" class="d-inline-block m-1" target="blank">
                                    <img src="/images/iconos/Facebook-b.svg" alt="facebook" width="28">
                                </a>
                                <a :href="'https://api.whatsapp.com/send?phone='+ $store.getters.getSetting('whatsapp_number').value +'&text=Ciao%2C%20'" class="d-inline-block m-1" >
                                    <img src="/images/iconos/whatsapp.svg" alt="whatsapp" width="28">
                                </a>

                                <a :href="$store.getters.getSetting('youtube_url').value" class="d-inline-block m-1" target="blank">
                                    <img src="/images/iconos/youtube.svg" alt="youtube" width="28">
                                </a>
                            </p>

                        </div>
                        <div class="col-12 col-md-2 my-2">
                            <h4 class="font-weight-bold">Links</h4>
                            <template v-for="(item, index) in links">
                                <div :key="index" >
                                    <router-link
                                        v-if="item.hash"
                                        class="d-block text-capitalize"
                                        :to="item.url"
                                        v-scroll-to="item.hash"
                                        v-text="item.tag"
                                    />

                                    <router-link
                                        v-else
                                        class="d-block text-capitalize"
                                        :to="item.url"
                                        v-text="item.tag"
                                    />
                                </div>
                            </template>
                        </div>

                        <div class="col-12 col-md-3 my-2">
                            <h4 class="font-weight-bold">
                                {{ this.$store.getters.getTags({ tag: 'general_footer_title_rooms' }) }}
                            </h4>
                            <a v-for="(item, index) in getVillages" :key="index" class="d-block text-capitalize" :href="`/village/${item.slug}`" v-text="item.name" />
                        </div>
                        <div class="col-12 col-md-3 my-2">
                            <h4 class=" font-weight-bold">Tags</h4>
                            <template v-for="(activityCategory, index) in activityCategories">
                                <strong :key="index">
                                    <a :href="`/esperienze/${activityCategory.slug}`" class="badge badge-dark tags badge-font">
                                        {{ getTranslation(index).name }}
                                    </a>
                                </strong>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <Jumperr />
    </div>
</template>
<script>
    import Jumperr from './Jumperr';

    export default {
        name: 'Footer',
        components: { Jumperr },
        created() {
            this.$store.dispatch('getActivityCategories')
        },
        methods: {
            getTranslation(index){
                let translation = this.activityCategories[index].translations.find(translation => translation.code === this.language)

                if (! translation) {
                    translation = this.activityCategories[index].translations[0]
                }

                return translation
            }
        },
        computed: {
            links() {
                return [
                    { url: '/#chisiamo', hash: '#chisiamo', tag: this.$store.getters.getTags({tag: 'navbar_link1'}) },
                    { url: '/#camera', hash: '#camera', tag: this.$store.getters.getTags({tag: 'navbar_link2'}) },
                    { url: '/#servizi', hash: '#servizi', tag: this.$store.getters.getTags({tag: 'navbar_link3'}) },
                    { url: '/#esperienze', hash: '#esperienze', tag: this.$store.getters.getTags({tag: 'navbar_link4'}) },
                    { url: '/contactUs', hash: null, tag: this.$store.getters.getTags({tag: 'navbar_link5'} )},
                    { url: '/promozioni', hash: null, tag: this.$store.getters.getTags({tag: 'navbar_link6'} )},
                    { url: '/termini', hash: null, tag: this.$store.getters.getTags({tag: 'ttextTerminos_title'} )},
                    { url: '/termini', hash: null, tag: this.$store.getters.getTags({tag: 'textReglamento'} )},
                ];
            },
            activityCategories() {
                return this.$store.state.Activity.activityCategories
            },
            language() {
                return this.$store.state.Language.languageActive.flag
            },
            getVillages() {
                let villas = this.$store.getters.getCategories
                let array = [];
                for (let index = 0; index < 5; index++) {
                    array.push(villas[index]);
                }
                return array
            }
        },
    }
</script>
<style scoped>
    .hr {
        height: 2px;
        width: 100%;
        background-color: #006dab;
    }

    a, a:hover, a:link, a:visited, a:focus {
        color: #212529;
        text-decoration: none;
        line-height: 1.8;
    }

    .badge-dark {
        color: #fff !important;
        background-color: #00000047 !important;
    }

    .title {
        font-weight: bold;
        color: #d7392c;
    }

    .badge-dark {
        color: #fff !important;
        background-color: #00000047 !important;
    }

    .size {
        width: 25%;
        height: auto;
    }

    .size-other {
        width: 10%;
        height: auto;
    }

    .size-other-2 {
        width: 7%;
        height: auto;
    }

    .badge {
        padding: 0.25em 0.4em;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0rem;
        margin: 2px;
    }
</style>
