<template>
    <div>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-3 my-3">
                        <div class="rounded text-center flex-fill mb-1 mb-md-3">
                            <img width="105" src="/images/iconos/team.svg" alt="team" class="rounded icon-contact">
                        </div>
                        <div class="text-center flex-fill">
                            <h5 class="text-separation">INCONTRIAMOCI</h5>
                            <div>
                                <a href="#">{{ $store.getters.getSetting('address').value }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 my-3">
                        <div class="text-center rounded flex-fill mb-1 mb-md-3">
                            <img width="105" src="/images/iconos/smartphone.svg" alt="phone" class="rounded icon-contact">
                        </div>

                        <div class="text-center flex-fill">
                            <h5 class="text-separation">Telefono</h5>
                            <div><a :href="'tel:'+ $store.getters.getSetting('telefono').value">{{$store.getters.getSetting('telefono').value}}</a></div>
                        </div>
                    </div>

                    <div class="col-md-3 my-3">
                        <div class="rounded text-center flex-fill mb-1 mb-md-3">
                            <img width="105" src="/images/iconos/email.svg" alt="email" class="rounded icon-contact">
                        </div>

                        <div class="text-center">
                            <h5 class="text-separation">E-MAIL</h5>
                            <div>
                                <a :href="'mailto:'+ $store.getters.getSetting('contact_email').value">{{ $store.getters.getSetting('contact_email').value }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 my-3">
                        <div class="text-center flex-fill mb-1 mb-md-3">
                            <img width="105" src="/images/iconos/follow.svg" alt="follow" class="rounded icon-contact">
                        </div>
 
                        <div class="text-center flex-fill">
                            <h5 class="text-separation">{{ $store.getters.getTags ({ tag:'formbooking_seguir' }) }}</h5>
                            <div>
                                <a :href="$store.getters.getSetting('facebook_url').value" target="_blank">Facebook</a>
                                <br>
                                <a :href="$store.getters.getSetting('instagram_url').value" target="_blank">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<style scoped>
    .icon-contact {
        border: 1px solid #8a8a8a;
        padding: 20px 20px 20px 20px
    }
</style>
