<template>
   <div>
       <vue-recaptcha
           :class="{ 'd-none': hide }"
           ref="recaptcha"
           :sitekey="siteKey"
           @verify="verify"
           @expired="expired"
           size="invisible"
       />
   </div>
</template>
<script>
    import VueRecaptcha from 'vue-recaptcha';

    export default {
        components: { VueRecaptcha },
        data() {
            return {
                hide: false
            }
        },
        mounted() {
            setTimeout(() => this.hide = true, 8000);
        },
        computed: {
            siteKey() {
                return this.$store.getters.getSetting('recaptcha_site_key').value;
            }
        },
        methods: {
            verify() {
                this.$emit('verify');
            },
            expired() {
                this.$emit('expired');
            }
        }
    }
</script>
