<template>
    <div class="bg-black">
        <div class="container pb-0 pt-2">
            <div class="row">
                <div class="col-12 col-md-9">
                    <p class="text-white text-center text-md-left small">
                        © {{ new Date().getFullYear() }} Solaria Home Holiday<br class="d-md-none"> | P.IVA 01522050911
                    </p>
                </div>
                <div class="col-12 col-md-3 ml-auto text-center text-md-right">
                    <a href="http://jumperr.com">
                        <img src="/images/logos/jumperr-logo-fondo-negro.png" width="160" alt="jumperr-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Jumperr'
    }
</script>
<style scoped>
    .bg-black {
        background-color: #000;
    }
</style>
