<template>
    <div>
        <div class="content-nav">
            <div class="container" id="navbar">
                <nav class="navbar navbar-expand-xl py-md-2 text-uppercase">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>

                    <router-link class="navbar-brand m-0" to="/">
                        <img src="/images/logos/solaria-logo.png" alt="logo" width="140">
                    </router-link>

                    <div class="action-menu ml-auto ml-md-0 order-md-12 d-inline-flex align-items-center">
                        <img src="/images/iconos/world.svg" alt="facebook" width="24"> &nbsp;

                        <select name="lang" class="form-control select-languaje text-uppercase" @change="changeLanguage" v-model="lang">
                            <template v-for="flag in getFlags">
                                <option :key="flag.code" :value="flag.code">{{ flag.code }}</option>
                            </template>
                        </select>

                        <router-link :to="GetRoute" class="font-1 d-inline-block align-items-center border-left pl-2 ml-2 py-1">
                            <span v-if="isAuth"><img src="/images/iconos/logout.svg" alt="login" width="26"></span>
                            <span v-else><img src="/images/iconos/user.svg" alt="login" width="26"></span>
                        </router-link>
                    </div>

                    <route-list :data="listInfo" />
                </nav>
            </div>
        </div>
    </div>
</template>
<script>
    import RouteList from './RouteList'

    export default {
        name: 'NavBar',
        components: { RouteList },
        data() {
            return {
                lang: 'it',
                isAuth: null
            }
        },
        beforeMount() {
            this.lang = this.$store.getters.getLanguagesFlagActive
            this.$validator.localize(this.lang) // change language for vee-validate
        },
        computed: {
            GetRoute() {
                this.isAuth = (this.$store.getters.getauthenticated)

                if (this.isAuth) return '/my-account'
                
                return '/clientLogin'
            },
            getFlags() {
                return this.$store.getters.getLanguagesFlags
            },
            listInfo() {
                return [
                    { url: '/#chisiamo', hash: '#chisiamo', tag: this.$store.getters.getTags({ tag: 'navbar_link1' }) },
                    { url: '/#camera', hash: '#camera', tag: this.$store.getters.getTags({ tag: 'navbar_link2' }) },
                    { url: '/#servizi', hash: '#servizi', tag: this.$store.getters.getTags({ tag: 'navbar_link3' }) },
                    { url: '/#esperienze', hash: '#esperienze', tag: this.$store.getters.getTags({ tag: 'navbar_link4' }) },
                    { url: '/contactUs', tag: this.$store.getters.getTags({ tag: 'navbar_link5' } )},
                    { url: '/promozioni', tag: this.$store.getters.getTags({ tag: 'navbar_link6' } )}
                ]
            }
        },
        methods: {
            changeLanguage() {
                this.$validator.localize(this.lang) // change language for vee-validate

                this.$store.dispatch('changeLanguageByFlagActive', this.lang)
            },
        }
    }
</script>
<style lang="sass" scoped>
.content-nav
  position: relative
  top: 0
  left: 0
  z-index: 1030
  width: 100%
  background-color: #fff

@media (max-width: 991.98px)
  .container
    max-width: 100%
    padding-right: 0
    padding-left: 0

.navbar-brand h1
  font-size: 1.25rem
  margin: 0
  vertical-align: sub
  vertical-align: -webkit-baseline-middle

a
  &.font-1
    text-decoration: none
    color: #000
    font-family: 'Josefin Sans', sans-serif
    line-height: 1.2
    &:hover
      color: #000
      text-decoration: none
    font-size: 1rem
  &:hover
    text-decoration: none
</style>
