<template>
    <div class="d-md-none">
        <nav>
            <a :href="`https://api.whatsapp.com/send?phone=${getSetting('whatsapp_number').value}&text=Ciao%2C%20`">
                <img src="/images/iconos/whatsapp2.svg" alt="whatsapp" height="36">
            </a>
            <a :href="`mailto:${getSetting('contact_email').value}`">
                <img src="/images/iconos/envelope.png" alt="email" height="36">
            </a>
            <a :href="getSetting('facebook_url').value">
                <img src="/images/iconos/facebook-w.svg" alt="map" height="36">
            </a>
            <a :href="`tel:${getSetting('telefono').value}`">
                <img src="/images/iconos/phone-call.png" alt="phone" height="36">
            </a>
        </nav>

        <div class="posapie"></div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    export default {
        name: 'NavbarFixed',
        computed: {
            ...mapGetters(['getSetting'])
        }
    }
</script>
<style lang="sass" scoped>
    nav
        position: fixed
        left: 0
        bottom: 0
        background-color: #0296b3
        height: 68px
        width: 100%
        padding: 5px
        display: flex
        justify-content: space-around
        align-items: center
        z-index: 1030

    img
        opacity: 0.7

    .posapie
        height: 68px
</style>
