<template>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav text-center">
            <template v-for="item in data">
                <li :key="item.url" class="nav-item py-md-2 px-2">
                       <router-link
                            v-if="item.hash"
                            :to="item.url"
                            v-scroll-to="{ el: item.hash, offset: isMobile ? -350 : 0 }"
                            class="nav-item nav-link text-uppercase"
                            data-toggle="collapse" 
                            data-target="#navbarNav" 
                            aria-expanded="false" 
                            aria-controls="navbarNav"
                            v-text="item.tag"
                            exact
                        />

                       <router-link 
                            v-else
                            :to="item.url" 
                            class="nav-item nav-link text-uppercase" 
                            data-toggle="collapse" 
                            data-target="#navbarNav" 
                            aria-expanded="false" 
                            aria-controls="navbarNav"
                            v-text="item.tag"
                        />
                </li>
            </template>
        </ul>
    </div>
</template>
<script>
    export default {
        name: "route-list",
        props: [ 'data' ],
        computed: {
            isMobile() {
                (screen.width <= 1199.98) ? true : false
            }
        }
    }
</script>
<style lang="sass" scoped>
.content-nav
  position: relative
  top: 0
  left: 0
  z-index: 1030
  width: 100%
  background-color: #fff

@media (max-width: 991.98px)
  .container
    max-width: 100%
    padding-right: 0
    padding-left: 0

.navbar
  justify-content: flex-start

.navbar-toggler
  font-size: 1.6rem

.navbar-brand h1
  font-size: 1.25rem
  margin: 0
  vertical-align: sub
  vertical-align: -webkit-baseline-middle

.navbar-dark .navbar-toggler
  color: rgba(255, 255, 255, 0.7)
  border-color: rgba(255, 255, 255, 0)

.navbar-nav .nav-link
  color: #005d9c
  font-size: .9rem
  &:hover
    color: #FF913D
    font-weight: bold

.router-link-active
  color: #FF913D
  font-weight: bold

a:hover
  text-decoration: none
</style>