<template>
    <div>
        <button id="goTop" v-scroll-to="{ el: '#navbar' }">
            <i class="fas fa-chevron-circle-up fa-3x"></i>
        </button>
    </div>
</template>
<script>
    export default {
        name: 'scroll-top',
        mounted() {
              window.onscroll = () => {
                document.getElementById("goTop").style.display = (document.body.scrollTop > 300 ||  document.documentElement.scrollTop > 300) ? 'block' : 'none'    
            }
        }
    }
</script>
<style lang="sass" scoped>
    #goTop 
        position: fixed
        z-index: 999
        right: 0
        top: 80%
        transform: translateY(-50%)
        padding: 10px
        color: #0296b3
        background: rgba(00, 00, 00, 00)
        border: none
        opacity: 1
        transition: opacity 0.4s linear
        display: none
        cursor: pointer
        &:hover 
            color: #03859f
</style>
