<template>
    <div>
        <btn_regresar url="/" title="Home"/>
        <section class="bg-contact">
            <div class="container-fluid">
                <div class="row justify-content-center">

                </div>
            </div> 
        </section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 bg-brown-c">
                <ul class="nav nav-tabs bg-brown-c" id="myTab" role="tablist">
                    <template v-for="item in response">
                        <li class="nav-item">
                            <a aria-controls="home" class="nav-link active text-right" data-toggle="tab" :href="'#' + item.slug" role="tab" @click="changeActive(item.slug)">
                                {{ getTranslation(item.translations).name }}
                            </a>
                        </li>
                    </template>
                </ul>
            </div>
            
            <div class="col-lg-8">
                <template v-for="item in response" >
                    <div class="tab-content px-4">
                        <div class="tab-pane" :class="{ 'active': getActive(item.slug) }" :id="item.slug" role="tabpanel">
                            <div v-html="getTranslation(item.translations).description"></div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</section>


    </div>
</template>

<script>
export default {
    name: 'terminos',
    data() {
        return {
            loading: false,
            response: null,
            slug: null
        }
    },
    mounted() {
        this.showPolicies();
    },
    computed: {
        language() {
           return this.$store.getters.getLanguagesFlagActive;
        }
    },
    methods: {
        showPolicies() {
            this.loading = true;
            
            axios.get('/api/admin/policies').then(response => {
                // handle success
                if (response.status === 200) {
                      this.slug = response.data.data[0].slug;
                    this.response = response.data.data;
                    this.loading = false;
                }
            }).catch(error => {
                console.log(error);
               this.loading = false;   
            });
        },
        getTranslation(item) {
            let translation = item.find(key => key.code === this.language);
            
            if (!translation) translation = item[0];
            
            return translation;
        },
        getActive(slug) {
            return (this.slug === slug);
        },
        changeActive(slug) {
            this.slug = slug;
        }
    }
}
</script>
<style scoped>

.bg-contact {
    widows: 100%;
    min-height: 300px;
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url("/images/home/gallery-slider-map/solaria-vacanze-slider1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.col-lg-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-lg-8 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav {
    width: 100%;
    height: auto;
}

.nav.nav-tabs {
    float: right;
    height: auto;
    border-bottom:0;
    border-right: 1px solid #ddd;
    border-top-right-radius: 0 !important;
    
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0;
  
}

.nav-tabs .nav-link.active {
    color: #FFF;
    background-color:#282725 !important;
    font-family: 'Roboto', sans-serif;
}
.nav-tabs .nav-link {
    border-top: 1px solid #FFF !important;
    width: 100%;
}
.tab-content>.active {
    display: block;
    background: #f8fafc;
    min-height: 165px;
}
.nav.nav-tabs {
    float: right;
    display: block;
    border-bottom: 0;
    border-right: 1px solid transparent;
}
a.nav-link  {
    color: #FFF;
}
a.nav-link:active  {
    color: #FFF;
    font-weight: bold;
    
}
.bg-contact {
    background-color: #e3e3e3;
}
.bg-gray {
    background-color: #9d9d97;
}

</style>