<template>
<div v-if="experience != null">
  <!-- Inicio bloque uno Detalles de Espererience -->
    <div class="bg-white">
      <div class="container">
        <div class="row ">
          <div class="col-12 col-md-6 my-2 my-md-5">
                <swiper :options="swiperGalleryOption">
                    <!-- slides -->
                    <swiper-slide v-for="(imagen, index) in experience.gallery" :key="index">
                        <img :src="imagen.url" alt="" class="img-fluid">
                    </swiper-slide>
                    <!-- Optional controls -->
                    <div class="swiper-pagination"  slot="pagination"></div>
                </swiper>
          </div>

          <div class="col-12 col-md-6 my-2 my-md-5 word-wrap">
              <h2>{{ getTranslation(experience).title }}</h2>

              <p v-html="getTranslation(experience).description"/>

              <div class="col-12 text-right">
                <button class="btn btn-primary btn-lg text-uppercase font-weight-bold text-center" @click="modalShow = true">
                    {{ $store.getters.getTags ({ tag:'formbooking_consultare' }) }}
                </button>
              </div>
          </div>

          <div class="col-12 my-4">
                <router-link to="/esperienze/">
                    <img src="/images/iconos/left-arrow.svg" width="22" :alt="getTranslation(experience).title" class="d-inline-block mr-2">
                    {{ $store.getters.getTags ({ tag:'formbooking_title1' }) }}
                </router-link>
          </div>

        </div>
      </div>
      <form_attivita :activity="experience" :modalShow="modalShow" @closeModal="modalShow = false"/>
    </div>
    <!-- Fin bloque uno Detalles de Espererience -->

    <!-- Inicio del Bloque dos Servicios  -->
    <section v-if="experience.ally">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="mb-0">{{$store.getters.getTags({tag:'service_titulo'})}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <swiper :options="swiperOption">
                        <!-- slides -->
                        <swiper-slide v-if="experience.ally_email">
                            <a :href="'mailto:' + experience.ally_email">
                            <div class="rounded text-center flex-fill border py-3">
                                <img width="100" src="/images/esperienze/envelope.svg" alt="nolegio">
                            </div>
                            </a>
                        </swiper-slide>
                        <swiper-slide v-if="experience.ally_website">
                            <a :href="experience.ally_website" target="blank">
                                <div class="rounded text-center flex-fill border py-3">
                                    <img width="100" src="/images/esperienze/internet.svg" alt="neveta">
                                </div>
                            </a>
                        </swiper-slide>
                        <swiper-slide v-if="experience.ally_phone">
                            <a :href="'tel:+' + experience.ally_phone">
                                <div class="rounded text-center flex-fill border py-3">
                                        <img width="100" src="/images/esperienze/phone-call.svg" alt="spa">
                                </div>
                            </a>
                        </swiper-slide>
                        <!-- Optional controls -->
                        <div class="swiper-pagination d-md-none position-relative"  slot="pagination"></div>
                    </swiper>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin bloque 2 -->

    <!-- Inicio del Bloque imagen  -->
    <!-- <galleryFull :experience="experience"/> -->
    <!-- Fin bloque 3 -->

<section class="bg-color" v-if="relateds.length > 1">
     <div class="container py-4">
        <div class="row">
            <div class="col-12 text-center mb-2">
                <h1 class="mb-0 text-white">{{$store.getters.getTags({tag:'relateds_titulo'})}}<!--Servizi--></h1>
            </div>
        </div>
        <!-- Contenido a filtrar aca toda la estructura la generamos con el componente item_filter -->
        <div class="container pb-5">
            <div class="row justify-content-center">
                <template v-for="(item, index) in relateds">
                        <item_filter 
                            :key="index"
                            v-if="index < 3 && item.id != experience.id" 
                            :experience="item"
                            :title="getTranslation(item).title"
                            :description="getTranslation(item).description"
                        />
                </template>
            </div>
        </div>
     </div>
 </section>
</div>
</template>
<script>
export default {
    data() {
      return {
        swiperOption: {
            slidesPerView: 3,
            spaceBetween: 40,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 2000,
            },
            breakpoints: {
                // when window width is <= 320px
                480: {
                    slidesPerView: 1,
                    spaceBetween: 10
                },
                // when window width is <= 480px
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20
                },
                // when window width is <= 640px
                992: {
                    slidesPerView: 3,
                    spaceBetween: 30
                }
            }
        },
        swiperGalleryOption: {
            slidesPerView: 1,
            spaceBetween: 40,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 2000,
            },
        },
        activity: null,
        index: null,
        experience: null,
        modalShow: false,
      }
    },
    computed: {
        language(){
            return this.$store.state.Language.languageActive.flag
        },
        relateds(){
            let experiences = this.$store.getters.getActivities
            return experiences.filter(experience => experience.activity_category_id == this.experience.activity_category_id).slice(0, 4)
        },
        slug(){
            return this.$route.params.slug
        }
    },
    created() {
        this.$store.dispatch('getActivities')
            .then(response => {
                this.experience = this.$store.state.Activity.data.find(activity => activity.slug === this.slug)
            })
    },
    methods: {
        getTranslation(model){
            let translation = model.translations.find(translation => translation.code === this.language)

            if (! translation) {
                translation = model.translations[0]
            }
            return translation
        },
    }
  }
</script>

<style scoped>
@media (min-width: 992px) {
  .swiper-wrapper{
    justify-content: center;
  }
}
.border{
    border: 3px solid #0296b3 !important;
    border-radius: 20px !important;
}
.bg-color{
    background-color: #0296b3;
}
.word-wrap{
    word-wrap: break-word;
}
</style>
