<template>

<form id="form-search" method="get" :action="action" accept-charset="UTF-8">
    <div class="row" style="height: 200px">
        <!-- Date Picker -->
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group p-0">
                <label>Inserisci la data di prenotazione</label>
                <vue-ctk-date-time-picker
                    ref="datepicker"
                    id="date-picker-booking"
                    v-model="date_range"
                    locale="it"
                    formatted="DD/MM/YYYY"
                    format="YYYY-MM-DD"
                    output-format="DD/MM/YYYY"
                    name="date_range"
                    data-vv-as="Data"
                    color="#2ac093"
                    :min-date="minDate"
                    enable-button-validate
                    position="bottom"
                    no-header
                    range
                    only-date
                    no-shortcuts
                    overlay
                    right
                    label="Seleziona un intervallo di date"
                    no-clear-button
                />
            </div>
        </div>

        <input type="hidden" class="form-control" v-model="date_range.start" name="checkin" id="start_date"/>
        <input type="hidden" class="form-control" v-model="date_range.end" name="checkout" id="end_date"/>

        <!-- Email Field -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label>{{ emailTag }}</label>
            <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                v-model="email"
                data-vv-as="Email"
				v-validate="'required|email'"
            />
            <span class="text-danger">{{ errors.first('email') }}</span>
        </div>
    </div>
    <div class="row">
        <!-- Search Field -->
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary" :disabled="!isFormValid">Ricerca</button>
            <a href="/admin/bookings" class="btn btn-default">Indietro</a>
        </div>
    </div>
</form>

</template>
<script>
export default {
    name: "bookingForm",
    props: ['action', 'emailTag'],
    data() {
        return {
            date_range: {
                start: null,
                end: null
            },
            email: null,
            minDate: moment().format('YYYY-MM-DD')
        }
    },
    computed: {
        isFormValid() {
           return this.date_range.start && this.date_range.end
        }
    }
}
</script>
<style>
    #date-picker-booking .datepicker {
        margin-top: -100px;
    }
</style>




