<template>
  <div>
    <template v-if="loading">
      <div class="container d-flex justify-content-center">
          <div class="row m-5 mb-4">
              <div class="col-12">
                  <pulse-loader :loading="loading" color="#1b1b1b" size="15px" />
              </div>
          </div>
      </div>
    </template>

    <template v-else>
      <div class="container py-3">
        <div class="text-center py-2">
          <h2 class="font-weight-bold text-uppercase">{{ $store.getters.getTags({ tag:'textblog_tittle1' }) }}</h2>
        </div>
        <div  class="row justify-content-center align-items-center">

          <div class="col-12 col-md-8">
            <div class="card shadow" @mouseover="hover = true" @mouseleave="hover = false" :class="{ 'shadow-lg': hover }">
              <div class="card-body">
                <template v-if="post === undefined">
                  <h3 class="card-title my-2 text-center font-weight-bold text-uppercase">Sorry the post not exist!!!</h3>
                </template>

                <template v-else>
                  <template v-if="post.gallery.length === 0 ">
                      <img :src="post.image" alt="" class="card-img img-fluid rounded">
                  </template>
                  
                  <template v-else>
                    <village-gallery :gallery="post.gallery" :slidesPerView="1" :breakpoints="breakpoints"/>
                  </template>

                  <h4 class="card-title my-2">{{ getTranslation(post).title }}</h4>

                  <h6 class="card-subtitle my-2 text-muted">
                    {{ getTranslation(post).subtitle }}
                  </h6>

                  <!-- Share Facebook -->
                  <a :href="'https://facebook.com/sharer/sharer.php?u=' + url" target="_blank">
                    <i class="fab fa-facebook-square fa-2x text-primary"></i>
                  </a>

                  <!-- Share Twitter -->
                  <a :href="'https://twitter.com/intent/tweet/?text=' + title(getTranslation(post).title) + ';url=' + url" target="_blank">
                    <i class="fab fa-twitter-square fa-2x text-primary"></i>
                  </a>

                  <!-- Share WhatsApp -->
                  <a :href="isMobile() + title(getTranslation(post).title) + '%20' + url" target="_blank">
                    <i class="fab fa-whatsapp-square fa-2x text-primary"></i>
                  </a>

                  <p v-html="getTranslation(post).description"></p>
                </template>

                <p class="text-center">
                  <router-link tag="button" to="/promozioni/" class="btn btn-light text-uppercase font-weight-bold">
                    <img src="/images/iconos/left-arrow.svg" alt="arrow-left" width="20" class="d-inline-block mr-2">
                    {{ $store.getters.getTags({ tag:'textblog_tittle1' }) }}
                  </router-link>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min';
    import VillageGallery  from "../../village/VillageGallery";


  export default {
    components: { PulseLoader, VillageGallery },
    data() {
      return {
        url: null,
        slug: this.$route.params.slug,
        hover: false,
        breakpoints: {
            480: {
                slidesPerView: 1,
                spaceBetween: 10
            },
            768: {
                slidesPerView: 1,
                spaceBetween: 10
            },
            992: {
                slidesPerView: 1,
                spaceBetween: 20
            }
        }
      }
    },
    created() {
      if (this.$store.getters.getPosts === null) this.$store.dispatch('getPosts');
    },
    beforeMount() {
       const fixedEncodeURIComponent = (str => encodeURIComponent(str).replace(/[!'()]/g, escape).replace(/\*/g, '%2A'));
       this.url = fixedEncodeURIComponent(window.location.href);
    },
    computed: {
      post() {
        return this.$store.getters.getPost(this.slug);
      },
      language() {
          return this.$store.state.Language.languageActive.flag
      },
      loading() {
        return this.$store.getters.loading
      }
    },
    methods: {
      getTranslation(model) {
          let translation = model.translations.find(translation => translation.code === this.language);

          if (! translation) {
              translation = model.translations[0];
          }
          return translation;
      },
      title(item) {
        return escape(item);
      },
      isMobile() {
        if( screen.width <= 760 ) {
          return 'whatsapp://send?text=';
        }
        
        return 'https://web.whatsapp.com/send?text=';
      }
    }
  }
</script>