<template>
    <div>
        <b-modal ref="myModalRef" size="lg" hide-footer hide-header body-class="experience-modal" aria-hidden="true" no-close-on-backdrop>
                        <div class="modal-header">
                            <h5 class="modal-title text-white m-auto">{{ $store.getters.getTags({ tag: 'formbooking_title2' }) }}</h5>
                            <button type="button" class="close m-0 p-0" @click="closeModal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <template v-if="loading">
                            <div class="container d-flex justify-content-center">
                                <div class="row m-5 mb-4">
                                    <div class="col-12">
                                        <pulse-loader :loading="loading" color="#1b1b1b" size="15px" />
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template v-else>
                            <div class="container">
                                <invisible-recaptcha ref="recaptchaComponent" @verify="onVerify" @expired="onExpired" />

                                <div class="row">
                                    <div class="col-12">
                                        <form class="row">

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                <label for="name" class="text-uppercase">{{ $store.getters.getTags({ tag: 'booking_2_fullname' }) }}</label>
                                                <span v-show="errors.has('name')" :class="{'text-danger': errors.has('name') }">*</span>
                                                <input id="name" type="text" :maxlength="50" v-validate="'required|alpha_spaces|min:2|max:50'" data-vv-delay="1500"
                                                       name="name" :data-vv-as="$store.getters.getTags({ tag:'formbooking_accountname' })" :class="{'text-danger': errors.has('name') }"
                                                       v-model="form.name" class="form-control">
                                                <small v-show="errors.has('name')" class="help text-danger">{{ errors.first('name') }}</small>
                                            </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="phone" class="text-uppercase">{{ $store.getters.getTags({ tag: 'booking_2_phone' }) }}</label>
                                                    <span class="text-success" :class="{'text-danger': errors.has('phone')}">*</span>
                                                    <input id="phone" type="number" :maxlength="16" v-validate="'required|numeric|min:9|max:16'" data-vv-delay="1500"
                                                           name="phone" data-vv-as="Telefono" :class="{'text-danger': errors.has('phone')}"
                                                           v-model="form.phone" class="form-control">
                                                    <small v-show="errors.has('phone')" class="help text-danger">{{ errors.first('phone') }}</small>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="email" class="text-uppercase">E-mail</label>
                                                    <span class="text-success" :class="{'text-danger': errors.has('email')}"></span>
                                                    <input id="email" type="email" :maxlength="50" v-validate="'required|email|min:9|max:50'" name="email"
                                                           data-vv-as="Email" :class="{ 'text-danger': errors.has('email')}"
                                                           v-model="form.email" class="form-control" placeholder="E-mail">
                                                    <small v-show="errors.has('email')" class="help text-danger">{{ errors.first('email') }}</small>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="activity" class="text-uppercase ">{{ $store.getters.getTags({ tag: 'formbooking_activita' }) }}</label>
                                                    <span v-show="errors.has('activity')" :class="{'text-danger': errors.has('activity') }">*</span>
                                                    <input id="activity" type="text" :maxlength="50" v-validate="'required|max:50'" name="activity"
                                                    class="form-control" v-model="getTranslation(activity).title" placeholder="$store.getters.getTags({ tag: 'formbooking_activita' })" disabled>
                                                    <small v-show="errors.has('activity')" class="help text-danger">{{ errors.first('activity') }}</small>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <label for="adult" class="text-uppercase m-0">{{ $store.getters.getTags({ tag: 'formbooking_adult' }) }}</label>
                                                <span v-show="errors.has('adult')" :class="{'text-danger': errors.has('adult') }">*</span>
                                                <input id="adult" type="text" :maxlength="50" v-validate="'required|numeric|max:50'" name="adult"
                                                class="form-control" v-model="form.adult" :placeholder=" $store.getters.getTags({ tag:'formbooking_adult' })">
                                                <small v-show="errors.has('adult')" class="help text-danger">{{ errors.first('adult') }}</small>
                                            </div>

                                            <div class="col-12  col-md-4">
                                                <label for="chiildren" class="text-uppercase m-0">{{ $store.getters.getTags({ tag: 'formbooking_bambini' }) }}</label>
                                                <span v-show="errors.has('chiildren')" :class="{'text-danger': errors.has('chiildren') }">*</span>
                                                <input id="chiildren" type="text" :maxlength="50" v-validate="'numeric|max:50'" name="chiildren"
                                                class="form-control" v-model="form.children"  :placeholder="$store.getters.getTags({ tag:'formbooking_bambini' })">
                                                <small v-show="errors.has('children')" class="help text-danger">{{ errors.first('children') }}</small>
                                            </div>

                                            <div class="col-12  col-md-4">
                                                <label for="pets" class="text-uppercase m-0">{{ $store.getters.getTags({ tag: 'formbooking_animali' }) }}</label>
                                                <span v-show="errors.has('pets')" :class="{'text-danger': errors.has('pets') }">*</span>
                                                <input id="pets" type="text" :maxlength="50" v-validate="'numeric|max:50'" name="pets"
                                                class="form-control" v-model="form.pets" :placeholder="$store.getters.getTags({ tag:'formbooking_animali' })">
                                                <small v-show="errors.has('pets')" class="help text-danger">{{ errors.first('pets') }}</small>
                                            </div>

                                            <div class="col-12 ">
                                                <label for="message" class="text-uppercase m-0">{{ $store.getters.getTags({ tag: 'formbooking_message' }) }}</label>
                                                <span v-show="errors.has('message')" :class="{'text-danger': errors.has('message') }">*</span>
                                                <textarea id="message" v-model="form.message" type="text" :maxlength="50" v-validate="'required|max:50'" name="message"
                                                class="form-control" :data-vv-as="$store.getters.getTags({ tag:'formbooking_message' })" :placeholder="$store.getters.getTags({ tag:'formbooking_message' })"></textarea>
                                                <small v-show="errors.has('message')" class="help text-danger">{{ errors.first('message') }}</small>
                                            </div>

                                            <div class="col-12 my-3 py-2 text-center">
                                            <button  type="button" @click.prevent="sendexper()" class="btn btn-primary btn-lg text-bold" :disabled="!validForm">
                                                <span class="text-btn-white">{{ $store.getters.getTags({ tag: 'formbooking_inviare' }) }}</span>
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </template>
        </b-modal>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min';

    export default {
        components: { PulseLoader },
        props: ['modalShow', 'activity'],
        data() {
            return {
                recaptcha: null,
                form: {
                    name: null,
                    phone: null,
                    email: null,
                    activity_id: null,
                    adult: 1,
                    children: 0,
                    pets: 0,
                    message: null
                },
                loading: false,
            }
        },
        created() {
            this.form.activity_id = this.activity.id;
        },
        computed: {
            validForm() {
                return this.form.name != null && this.form.phone != null && this.form.email != null && this.form.activity_id != null && this.form.adult != null && this.form.message != null && this.errors.items.length === 0;
            },
            language() {
                return this.$store.state.Language.languageActive.flag;
            }
        },
        methods: {
            sendexper() {
                this.recaptcha = this.$refs.recaptchaComponent.$refs.recaptcha;
                this.recaptcha.execute();
            },
            onVerify() {
                this.loading = true;
                this.recaptcha.reset();

                this.$validator.validateAll().then(result => {
                    if (result) {
                        axios.post('/api/admin/activity_requests', this.form).then(responseAPI => {
                            if (responseAPI.status === 200) {
                                this.cleanForm();
                                this.showAlert('success', this.$store.getters.getTags({ tag: 'formbooking_modalactivita_success' }));
                                this.loading = false;
                                this.$router.push('/');
                                this.closeModal()

                            }
                        }).catch(error => {
                            this.showAlert('error', this.$store.getters.getTags({ tag: 'formbooking_modalactivita' }));
                            console.log('error axios: ' + error);
                            this.loading = false;
                            this.closeModal()
                        })
                    }
                }).catch(() => {
                    this.loading = false;
                    console.log('error vee-validate');
                });
            },
            showAlert(type, title) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
            cleanForm() {
                this.form = {
                    name: null,
                    phone: null,
                    email: null,
                    adult: null,
                    children: null,
                    pets: null,
                    message: null
                }
            },
            getTranslation(model) {
                let translation = model.translations.find(translation => translation.code === this.language);

                if (!translation) translation = model.translations[0];

                return translation;
            },
            onExpired() {
                console.log('Expired');
            },
            closeModal () {
                this.$emit('closeModal')
            }
        },
        watch: {
            modalShow(val){
                if (val) {
                    this.$refs.myModalRef.show()
                } else {
                    this.$refs.myModalRef.hide()
                }
            }
        }
    }
</script>
<style scoped>
    label {
        font-size: .7rem;
    }

    .modal-header {
        background-color: #0296b3;
    }
</style>
