<template>
    <div>
        <btn_regresar url="/" title="Home"/>
        <header>
            <h2 class="text-white">{{ $store.getters.getTags ({ tag:'formbooking_title1' }) }}</h2>
        </header>

        <div class="container py-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div id="myBtnContainer" class="text-md-center">
                        <button class="btn" :class="!slug ? 'active' : ''" @click="filter('')">
                            <span class="text-uppercase">{{ $store.getters.getTags({ tag: 'camere_image_veditutto' }) }}</span>
                        </button>
                        <template v-for="(category, k) in categories">
                            <button
                                :key="k"
                                @click="filter(category.slug)"
                                class="btn" :class="slug == category.slug ? 'active' : ''"
                            >
                                <span class="text-uppercase">{{ getTranslation(category).name }}</span>
                            </button>&nbsp;
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="linea mb-2"></div>

        <div class="container pb-5">
            <div class="row">
                <template v-for="(item, i) in experiences">
                    <item_filter
                    :key="i"
                    :experience="item"
                    :title="getTranslation(item).title"
                    :description="getTranslation(item).description"
                    />
                </template>
            </div>
        </div>
    </div>
</template>

<script>
//galeria
import VueGallerySlideshow from 'vue-gallery-slideshow';

export default {
    components: {
        VueGallerySlideshow
    },
    data() {
        return {
            slug: null,
            activity: null,
        }
    },
    created() {
        this.$store.dispatch('getActivityCategories')
        this.$store.dispatch('getActivities')
        this.slug = this.$route.params.slug
    },
    computed: {
        experiences() {
            let experiences = this.$store.getters.getActivities
            if (!this.slug) {
                return experiences
            }
            return experiences.filter(experience => experience.activity_category.slug == this.slug)
        },
        categories() {
            return this.$store.getters.getActivityCategories
        },
        language() {
            return this.$store.state.Language.languageActive.flag
        }
    },
    methods: {
        getTranslation(model) {
            let translation = model.translations.find(translation => translation.code === this.language)

            if (! translation) {
                translation = model.translations[0]
            }
            return translation
        },
        filter(slug) {
            this.slug = slug
            this.$router.push('/esperienze/' + slug)
        }
    }
}
</script>

<style scoped>
header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-image: url("/images/esperienze/solaria-vacanze-esperienze-banner.jpg");
    padding-bottom: 45px;
    background-position:center center
}
header h2{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.linear-wipe {
  text-align: center;


  background: linear-gradient(to right, #d7392c 20%, #ffd900 40%, #ffd900 60%, #d7392c 80%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
}

@keyframes shine {
    to {
      background-position: -200% center;
    }
}

/*---------------------*/
.container {
    overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: .3rem 1rem;
  background-color: #0296b3;
  cursor: pointer;
  margin: 3px 0px;
  color: white;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #c0f1e3;
}
.btn:focus{
    box-shadow: none;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #033972;
  color: white;
}

.linea{
    border-bottom: 2px solid #0296b3;
}


</style>
