<template>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4" :class="experience.category">
        <div class="card shadow my-2">
            <img class="card-img-top" :src="gallery[0]" @click="index = 0">
            <vue-gallery-slideshow :images="gallery" :index="index" @close="index = null" />
            <div class="card-body">
                <h3 class="card-title mb-0" v-html="title">
                </h3>
                 <div class="card-text text-truncate">
                    <span v-html="cutText" />
                </div>
                <p class="mt-4 text-right">
                </p>
                 <div class="col-12 text-right">
                    <a :href="`/attivita/${experience.slug}`" class="btn btn-primary btn-lg text-uppercase font-weight-bold text-center">
                        {{ $store.getters.getTags ({ tag:'btn_details' }) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
//galeria
import VueGallerySlideshow from 'vue-gallery-slideshow';
export default {
    components: {
        VueGallerySlideshow
    },
    props: ['experience', 'title', 'description'],
    data(){
        return {
            index: null,
        }
    },
    computed: {
        cutText(){
            return this.description.replace(/(<([^>]+)>)/ig, '')
        },
        gallery(){
            let images = []
            for (let i in this.experience.gallery) {
                images.push(this.experience.gallery[i].url)
            }
            return images
        }
    },
}
</script>
<style scoped>
    .card-img-top{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
</style>
