<template>
    <div>
        <template v-if="isLoading">
            <div class="container d-flex justify-content-center pt-50vh">
                <div class="row m-5 mb-4">
                    <div class="col-12">
                        <pulse-loader :loading="isLoading" color="#1b1b1b" size="15px" />
                    </div>
                </div>
            </div>
        </template>

        <template v-else>
            <NavBar />

            <router-view />

            <div class="box-fixed">
                <counter />
            </div>

            <Footer />

            <scroll-top />

            <Cookies />

            <NavBarFixed />
        </template>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min';

    import NavBar from './general/NavBar';
    import Cookies from './general/Cookies';
    import Footer from './general/Footer';
    import ScrollTop from './general/ScrollTopAnimate';
    import NavBarFixed from './general/NavBarFixed';

    export default {
        components: { PulseLoader, NavBar, Footer, ScrollTop, Cookies, NavBarFixed },
        created() {
            this.$store.dispatch('APIGetAllLanguagesTags');

            this.$store.dispatch('APIGetCategories')
                .then(response => {
                   if (response.status === 200) {
                       this.$store.dispatch('APIGetLocations');

                       this.$store.dispatch('getSettings');
                   }
                });
        },
        beforeMount() {
            this.$store.dispatch('getEnviroment');
        },
        computed: {
            isLoading() {
                return (this.$store.getters.getLanguagesTagActive.length === 0 || this.$store.getters.getLocations.length === 0 || this.$store.getters.getCategories.length === 0 || this.$store.getters.getSettings.length === 0);
            }
        }
    }
</script>
