<template>
  <div v-if="posts.length">
    <div class="container py-2">
      <div class="text-center py-2">
        <h2 class="font-weight-bold text-uppercase">{{ $store.getters.getTags({ tag:'textblog_tittle1' }) }}</h2>
      </div>

      <div v-for="(post, key) in posts" :key="key"  class="row d-flex justify-content-center align-items-center">
        <template v-if="key >= minIndex && key < maxIndex">
            <div class="col-12 col-md-8 py-2">
                <div class="card shadow" @mouseover="index = key" @mouseout="index = null" :class="{ 'shadow-lg': index === key }">
                    <div  class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                              <village-gallery :gallery="post.gallery" :slidesPerView="1" :breakpoints="breakpoints"/>
                            </div>

                            <div class="col-12 col-md-6 my-auto">
                                <h4 class="card-title mb-2">{{ getTranslation(post).title }}</h4>
                                <h6 class="card-subtitle text-muted">{{ getTranslation(post).subtitle }}</h6>

                                <div class="mt-4 text-right">
                                    <router-link tag="button" :to="'/promozioni/' + post.slug" class="btn btn-primary font-weight-bold">
                                        {{ $store.getters.getTags({ tag:'btn_details' }) }}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
      </div>
    </div>

    <b-pagination
        align="center"
        :total-rows="posts.length"
        v-model="currentPage"
        :per-page="perPage"
        class="primary"
        @change="scrollTop"
    />
  </div>

  <div v-else>
    <div class="container">
      <div class="row">
        <div class="col-12 py-5">
          <p class="lead text-center text-uppercase">
            {{ $store.getters.getTags ({ tag:'general_promotions_empty' }) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VillageGallery  from "../village/VillageGallery";

  export default {
    name: 'blog-list',
    components: { VillageGallery },
      data() {
          return {
            index: null,
            currentPage: 1,
            perPage: 5,
            breakpoints: {
                480: {
                    slidesPerView: 1,
                    spaceBetween: 10
                },
                768: {
                    slidesPerView: 1,
                    spaceBetween: 10
                },
                992: {
                    slidesPerView: 1,
                    spaceBetween: 20
                }
            }

          }
      },
      created() {
          this.$store.dispatch('getPosts');
    },
    computed: {
      posts() {
        return this.$store.getters.getPosts
      },
      language() {
          return this.$store.state.Language.languageActive.flag
      },
      maxIndex() {
          return this.perPage * this.currentPage
      },
      minIndex() {
          return (this.perPage * this.currentPage) - this.perPage
      }
    },
    methods: {
        getTranslation(model) {
            let translation = model.translations.find(translation => translation.code === this.language)

            if (!translation) {
                translation = model.translations[0]
            }
            return translation
        },
        scrollTop() {
            window.scrollTo(0, 0)
        },
    }
  }
</script>

