<template>
    <div id="rooms-suites" class="bg-page">
        <form_booking/>

        <div class="container">
            <div class="row py-2">
                <div class="col">
                    <div class="card w-100 shadow  mt-2">
                        <div class="card-body">
                            <img class="card-img-top rounded" :src="village.image" :alt="village.name">
                            <div class="card-text">
                                <village-details
                                    :title="getTranslation(village).name"
                                    :location="getLocationNameByRoom(village.room_location_id)"
                                    :description="getTranslation(village).description"
                                    :services="village.services"
                                    :address="village.address"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-2">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <village-gallery :gallery="village.gallery" :breakpoints="breakpoints" :slidesPerView="3" title/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-2">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <village-services :services="village.services.filter(key => key.service_category_id === 2)" />
                        </div>
                    </div>
                </div>
            </div>

            <village-general-info v-if="generalInformation" :information="getTranslation(generalInformation).description" />

            <village-apart :rooms="village.rooms" />

            <div class="row">
                <div class="col">
                    <div class="card mb-4 shadow">
                        <div class="card-body">
                            <h3 class="font-weight-bold">{{ getTags({ tag: 'textOthers_maps' }) }}</h3>
                            <mapa :address="village.address_map"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { generalInformationService } from '../../services'
    import { mapGetters } from 'vuex'

    import VillageDetails from './VillageDetails';
    import VillageGallery from './VillageGallery';
    import VillageServices from './VillageServices';
    import VillageGeneralInfo from './VillageGeneralInfo';
    import VillageApart from './VillageApart';

export default {
    name: 'village',
    components: { VillageGallery, VillageDetails, VillageServices, VillageGeneralInfo, VillageApart },
    data() {
        return {
            village: {},
            generalInformation: null,
            breakpoints: {
                480: {
                    slidesPerView: 1,
                    spaceBetween: 10
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 10
                },
                992: {
                    slidesPerView: 3,
                    spaceBetween: 20
                }
            }
        }
    },
    created() {
        this.village = this.getCategoryBySlug(this.slug);
        this.getGeneralInformation()
    },
    computed: {
        ...mapGetters(['getLanguagesFlagActive', 'getLocationNameById', 'getCategoryBySlug', 'getTags']),
         slug() {
            return this.$route.params.slug
         },
    },
    methods: {
        getLocationNameByRoom(value) {
            if (value !== undefined) return this.getLocationNameById(value);
        },
        getTranslation(item) {
            let translation = item.translations.find(translation => translation.code === this.getLanguagesFlagActive);

            if (!translation) translation = item.translations[0];

            return translation;
        },
        async getGeneralInformation() {
            try {
                const { data } = await generalInformationService.getAll()
                this.generalInformation = data.data[0]

            } catch (e) {
                console.log(e)
            }
        }
    }
}
</script>
<style scoped>
    .bg-page {
        background-color: #f4f3f3;
    }
    .card-img-top{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    @media (min-width: 992px) {
        .card-img-top{
            width: 100%;
            height: 420px;
        }
    }
</style>
