<template>
    <div class="bg-page">
        <!-- <header_landing/> -->
        <form_booking/>
        <village-rooms/>
    </div>
</template>
<script>
    import VillageRooms from './VillageRooms';

    export default {
        components: { VillageRooms }
    }
</script>
<style scoped>
    .bg-page {
        background-color: #f4f3f3;
    }
</style>
