<template>
    <div>
        <swiper :options="swiperOption">
            <swiper-slide  class="position-relative" v-for="(slide, i) in images" :key="i">
                <img class="img-fluid" :src="slide.url" @click="onClick(i)" >
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
            <!-- <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div> -->
        </swiper>

        <vue-gallery-slideshow :images="arrayGallery" :index="index" @close="index = null" />
    </div>
</template>
<script>
    import VueGallerySlideshow from 'vue-gallery-slideshow';
export default {
    components: {VueGallerySlideshow},
    name: 'slideshow',
    props: {
        images: {
            required: true
        }
    },
    data() {
        return {
            arrayGallery: [],
            params: this.$route.params.id,
            index: null,
            swiperOption: {
                slidesPerView: 1,
                spaceBetween: 30,
                autoplay: {
                    delay: 2500,
                },
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                    clickable: true
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }

            }
        }
    },
    mounted(){
        this.CreateGallery();
    },
    methods: {
        CreateGallery() {
                this.images.forEach(item => {
                    this.arrayGallery.push(item.url);
                });
            },
        onClick(i) {
                this.index = i;
            },
        scrollTop() {
                if (window.scrollY !== 0) {
                    setTimeout(() => {
                        window.scrollTo(0, window.scrollY - 30);
                        this.scrollTop();
                    }, 10);
                }
            }
    }
}
</script>
<style scoped>
    .img-fluid{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
</style>

