<template>
    <div class="">
        <template>
            <div class="container my-2">
                <div class="row my-5 bg-white py-3 shadow" v-for="(room, id) in rooms" :key="id">
                    <div class="col-12 col-md-5">
                        <slider-gallery-shop :images="room.gallery" />
                    </div>

                    <div class="col-12 col-md-7 word-wrap">
                        <room-description
                            :data="{ 
                                name: getTranslation(room).name,
                                description: getTranslation(room).description,
                                village: room.room_category_id
                            }"
                            :subtitles="{ one: room.subtitle1, two: room.subtitle2 }"
                        />
                        <p class="text-primary">
                            {{ $store.getters.getTags({tag:'booking_1_checkin'}) }}
                            <!--spacing-->&nbsp;<!--spacing-->
                            {{ $store.getters.getTags({tag:'booking_1_checkout'}) }}
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="border-y-green my-2">
                            <room-services
                                :data="room.services"
                                :quantity="quantity(room)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    import RoomDescription from '../booking/step-one/RoomDescription';
    import RoomServices from '../booking/step-one/RoomServices';
    import sliderGalleryShop from './sliderGalleryShop';
    import { mapGetters } from 'vuex';

export default {
    components: { RoomDescription, RoomServices, sliderGalleryShop },
    name: 'Room',
    props: ['rooms'],
    data() {
        return {
            params: this.$route.params.id
        }
    },
    computed: {
        ...mapGetters(['getLanguagesFlagActive']),
    },
    methods: {
        getLocationNameByRoom(value) {
            if (value !== undefined) return this.$store.getters.getLocationNameById(value);
        },
        getTranslation(item) {
            let translation = item.translations.find(translation => translation.code === this.getLanguagesFlagActive);

            if (!translation) translation = item.translations[0];

            return translation;
        },
        scrollTop() {
            if (window.scrollY !== 0) {
                setTimeout(() => {
                    window.scrollTo(0, window.scrollY - 30);
                    this.scrollTop();
                }, 10);
            }
        },
        quantity(value) {
            return {
                ico: '/storage/multimedia/icons/posti-letto.svg',
                adults: value.adults_quantity,
                children: value.children_quantity,
                translations: [
                { code: 'it', description: 'numero di persone consentite' },
                { code: 'en', description: 'number of people allowed' },
                { code: 'es', description: 'cantidad de personas permitidas' },
                { code: 'de', description: 'Anzahl der Personen erlaubt' }
                ]
            }
        }
    }
}
</script>
<style scoped>
    .tooltip {
        position: relative;
        display: inline;
        z-index: 2 !important;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100px;
        background-color: #9e9d9e;
        color: #fff;
        font-size:0.9rem;
        text-align: center;
        border-radius: 6px;
        padding: 1px 0;
        position:absolute;
        z-index:2;
        bottom: 10%;
        left: 50%;
        margin-left: -200px;
        opacity: 1;
        transition: opacity 0.3s;
        font-weight:100;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 30%;
        left: 50%;
        margin-left: 50px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #9e9d9e;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .tooltip {
        opacity: 1;
    }

    .border-y-green {
        border-top: 1px solid #0296b3;
        border-bottom: 1px solid #0296b3;
    }

    .info-price {
        vertical-align: top;
        font-size: 1.6rem;
        font-weight: bold;
    }

    /* common */
    .ribbon {
        width: 132px;
        height: 138px;
        overflow: hidden;
        position: absolute;
    }

    .ribbon span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 15px 0;
        background-color: #f1832b;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font: 700 18px/1;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        text-align: center;
    }

    .btn-warning {
        color: #fff;
        background-color: #f1832b;
        border-color: #f1832b;
    }
    /* top right*/
    .ribbon-top-right {
        top: -10px;
        right: 1px;
    }

    .ribbon-top-right span {
        left: -25px;
        top: 30px;
        transform: rotate(45deg);
    }

    /* Dinamic Classes */
    .disabled {
        opacity: 0.4;
    }
    .word-wrap{
        word-wrap: break-word;
    }
</style>
