<template>
    <div class="container py-4">
        <h2 class="text-center">Conosci le nostre Ville</h2>
        <div class="row">
            <template v-for="village in getVillages">
                <div class="col-12 col-md-6 my-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <img :src="village.image" :alt="'img-' + village.name" class="img-fluid villa-room-image">

                            <h3 class="font-weight-bold mt-1">{{ getTranslation(village).name }}</h3>

                            <div class="d-flex justify-content-between mb-3">

                                <b class="d-block">{{ getLocationNameByRoom(village.room_location_id) }}</b>
                                <b class="d-block" v-if="village.rooms.length > 0"> {{ village.rooms.length }} {{ $store.getters.getTags({ tag: 'camere_image4_detalle1' }) }}</b>

                            </div>

                            <div class="border-y-green min-log d-flex my-2 py-2">
                                <template v-for="(item, index) in village.services">
                                    <template v-if="item.service_category_id === 3" >
                                        <div :key="index" class="info-case" :class="{ 'mr-3': (index === 0 || index === 1) }">
                                            <img :src="item.ico" width="34" :alt="'img-' + item.name">
                                            <span class="content-text-icon">{{ item.pivot.info }}</span>
                                        </div>
                                    </template>
                                </template>
                            </div>
                            <div class="py-3 text-right">
                                <router-link :to="'/village/' + village.slug" class="btn btn-primary font-weight-bold">
                                    <a>{{ $store.getters.getTags({ tag: 'camere_image_veditutto'}) }}</a>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'village-rooms',
        computed: {
            getVillages() {
                return this.$store.getters.getCategories;
            },
            language() {
                return this.$store.getters.getLanguagesFlagActive;
            }
        },
        methods: {
            getCols(index) {
                if (index > 1) return 'col-lg-4';

                return 'col-lg-6';
            },
            getLocationNameByRoom(value) {
                if (value !== undefined) return this.$store.getters.getLocationNameById(value);
            },
            getTranslation(item) {
                let translation = item.translations.find(translation => translation.code === this.language);

                if (!translation) translation = item.translations[0];

                return translation;
            }
        }
    }
</script>
<style>
    .border-y-green {
        border-top: 1px solid #0296b3;
        border-bottom: 1px solid #0296b3;
    }
    .villa-room-image{
        object-fit: cover;
        width: 100%;
        height: 180px;
    }
    @media (min-width: 480px) {
        .villa-room-image{
            object-fit: cover;
            width: 100%;
            height: 280px;
        }
    }
    .info-case {
        position: relative;
        text-align: center;
        word-wrap: break-word;
        word-break: break-word;
        width: 25%;
    }
    span.content-text-icon {
        font-size: 10px;
        display: block;
    }
</style>
