<template>
    <div>
        <h3 class="text-uppercase font-weight-bold" v-if="title">
            {{ $store.getters.getTags({ tag: 'textOthers_gallery' }) }}
        </h3>
        <swiper :options="swiperOption">
            <swiper-slide v-for="(image, i) in gallery" :key="i">
                <img class="img-fluid img-object rounded" :src="image.url" :alt="'img-gallery' + i" @click="onClick(i)">
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
        </swiper>

        <vue-gallery-slideshow :images="arrayGallery" :index="index" @close="index = null" />
    </div>
</template>

<script>
    import VueGallerySlideshow from 'vue-gallery-slideshow';

    export default {
        name: 'village-gallery',
        components: { VueGallerySlideshow },
        props: {
            title: {
                type: Boolean
            },
            gallery: {
                type: Array,
                required: true
            },
            slidesPerView: {
                type: Number,
                default: 1
            },
            breakpoints: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                arrayGallery: [],
                swiperOption: {
                    spaceBetween: 20,
                    slidesPerView: this.slidesPerView,
                    pagination: {
                        el: '.swiper-pagination',
                        dynamicBullets: true,
                        clickable: true,
                    },
                    autoplay: {
                        delay: 3000,
                    },
                    breakpoints: this.breakpoints,
                },
                index: null,
            }
        },
        mounted() {
            this.crearArrayGaleria()
        },
        methods: {
            crearArrayGaleria() {
                this.gallery.forEach(imagen => {
                    this.arrayGallery.push(imagen.url);
                });
            },
            onClick(i) {
                this.index = i;
            }
        }
    }
</script>
<style scoped>
    .img-object {
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        height: 200px;
    }
</style>
