<template>
    <div>
        <div class="container">
            <div class="row mt-3">
                <div class="info">
                    <div class="row">
                        <div class="col-12 p-2 ml-1">
                            <h3 class="text-uppercase font-weight-bold">{{ title }}</h3>
                        </div>

                        <div class="col-12 p-2">
                            <template v-for="(item, id) in services">
                                <div class="caracteristicas tooltip" :key="id" v-if="item.service_category_id === 3" >
                                    <img class="p-1" :src="item.ico" :alt="item.name" width="30">
                                    <small class="">{{ item.pivot.info || getTranslation(item).name }}</small>
                                    <span class="tooltiptext">{{ item.name }}</span>
                                </div>
                            </template>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="font-weight-bold my-2">{{ location }}</h4>
                            <p class="mb-2" v-html="description"></p>
                        </div>
                    </div>
                    <div class="row" v-if="address">
                        <div class="col-12">
                            <h4 class="font-weight-bold my-2">
                                {{ $store.getters.getTags({ tag: 'general_address' }) }}
                            </h4>
                            <p class="mb-2">{{ address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'village-details',
        props: ['title', 'services', 'location', 'description', 'address'],
        computed: {
            language() {
                return this.$store.getters.getLanguagesFlagActive;
            }
        },
        methods: {
            getTranslation(item) {
                let translation = item.translations.find(translation => translation.code === this.language);

                if (!translation) translation = item.translations[0];

                return translation;
            }
        }
    }
</script>
<style scoped>
h4{
    word-break: break-word;
}
small, .small {
    font-size: 70%;
    font-weight: 400;
}
.caracteristicas{
        display: inline-block;
    }
@media (max-width: 540px) {
    .caracteristicas{
        display: inline-block;
        width: 50%;
    }
    
}


.tooltip {
    position: relative;
    z-index: 2 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 120px;
    min-width: 120px;
    width: 120px;
    background-color: #0296b3;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index:2;
    bottom: 100%;
    left: 25%;
    margin-left: -60px;
    opacity: 1;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0296b3 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    opacity: 1;
}
</style>
