<template>
    <div>
        <div class="container bg-white">
            <div class="row py-1">
                <div class="col-12">
                    <h3 class="text-uppercase font-weight-bold">
                        {{ $store.getters.getTags({ tag: 'textOthers_servizicasa' }) }}
                    </h3>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mb-1" v-for="(item, index) in services" :key="index">
                    <div class="d-inline-block text-truncate">
                        <span class="d-inline-block text-truncate" style="width:100%">
                            <img :src="item.ico" height="20" alt="check-list">
                            <small>{{ getTranslation(item).name }}</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['services'],
        computed: {
            language() {
                return this.$store.getters.getLanguagesFlagActive;
            }
        },
        methods: {
            getTranslation(item) {
                let translation = item.translations.find(translation => translation.code === this.language);

                if (!translation) translation = item.translations[0];

                return translation;
            }
        }
    }
</script>
