<template>
    <div>
        <p class="text-center pt-2">
            <button class="btn btn-primary" :class="{ 'btn-lg font-weight-bold': addClass }" @click.prevent="addClass = !addClass"  type="button" data-toggle="collapse" data-target="#moreInfo" aria-expanded="false" aria-controls="moreInfo">
                {{ $store.getters.getTags({ tag: 'textOthers_infoBtn' }) }}
            </button>
        </p>

        <div class="row">
            <div class="col">
                <div id="moreInfo" class="card shadow collapse">
                    <div class="card-body container">
                        <div class="row justify-content-center">
                            <div v-html="information"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'VillageGeneralInfo',
        props: {
            information: {
                type: String,
                required: true
            },
        },
        data() {
            return {
                addClass: false
            }
        }
    }
</script>