<template>
<div>
    <div id="chisiamo"></div>
    <div class="w-100 m-0 d-md-none">
        <img src="/images/home/about-us/solaria-vacanze-affitto-ville-appartamenti-sardegna-budoni.jpg" class="image-aboutus img-fluid m-0">
    </div>

    <div class="container">
        <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <img src="/images/home/about-us/solaria-vacanze-affitto-ville-appartamenti-sardegna-budoni.jpg" class="image-aboutus img-fluid">
        </div>
        <div class="col-md-6">
            <h1 class="mt-md-5 text-left">{{ $store.getters.getTags({ tag: 'about_titulo1' }) }}</h1>
            <div class="content-chisiamo">
                <p v-text="$store.getters.getTags({ tag:'about_parrafo' })" />
            </div>
        </div>
        <div class="py-4"></div>
        </div>
    </div>
</div>
</template>
<style lang="sass" scoped>
p
    font-size: 1.1rem

.image-aboutus
    margin-top: 40px
    padding-bottom: 10px
</style>
