<template>
    <div>
        <header_landing :galleryHeader='galleryHeader'/>
        <form_booking/>
        <aboutus/>
        <home_camere/>
        <!-- <slider_olbia/> -->
        <gallery_full_width :galleryLanding='galleryLanding' />
        <services/>
        <esperience/>
        <video_youtube/>
        <newsletter/>
        <!-- <gallery_horizontal/> -->
        <mapa/>
    </div>
</template>

<script>
    import { galleryService } from '../../services';

    export default {
        data() {
            return {
                galleries: [],
                galleryHeader: [],
                galleryLanding: [],
            }
        },
        created() {
            this.getGallery()
        },
        methods: {
            async getGallery() {
                try {

                    const { data } = await galleryService.getAll();
                    this.galleries = data.data;

                    this.galleryHeader = this.getUrls('gallery-header');
                    this.galleryLanding = this.getUrls('gallery-landing');

                    } catch { console.log( ' error axio gallery')}
            },
            getUrls(slug) {
                let data = this.galleries.find(key => key.slug === slug);

                let gallery = [];
                data.gallery.forEach( item => {
                    gallery.push( item.url)
                });

                return gallery;
            }
        }
    }
</script>
