<template>
    <div>
        <btn_regresar url="/" title="Home"/>

        <section class="bg-contact">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="rounded bg-form-contact ">
                        <h2 class="text-center text-uppercase mb-2 mt-4 my-md-3">{{ $store.getters.getTags({ tag:'formbooking_contactille' }) }}</h2>
                        <p class="text-center">
                            {{ $store.getters.getTags({ tag:'formbooking_contactex' }) }}
                        </p>

                        <template v-if="loading">
                            <div class="container d-flex justify-content-center">
                                <div class="row m-5 mb-4">
                                    <div class="col-12">
                                        <pulse-loader :loading="loading" color="#1b1b1b" size="15px" />
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template v-else>
                            <form>
                                <invisible-recaptcha ref="recaptchaComponent" @verify="onVerify" @expired="onExpired" />

                               <div class="form-group">
                                   <label for="name" class="text-uppercase" :class="{ 'text-danger': errors.has('name') }">
                                       {{ $store.getters.getTags({ tag: 'formbooking_accountname' }) }}
                                       <span class="text-success" :class="{ 'text-danger': errors.has('name') }">*</span>
                                   </label>
                                   <input
                                       type="text"
                                       id="name"
                                       name="name"
                                       v-model="form.name"
                                       :maxlength="30"
                                       v-validate="'required|alpha_spaces|min:2|max:30'"
                                       :data-vv-as="$store.getters.getTags({ tag: 'formbooking_accountname' })"
                                       data-vv-delay="600"
                                       :class="{ 'text-danger': errors.has('name') }"
                                       class="form-control"
                                       :disabled="loading"
                                   >
                                   <small v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</small>
                               </div>

                                <div class="form-group">
                                    <label for="email" class="text-uppercase" :class="{ 'text-danger': errors.has('email') }">
                                        Email
                                        <span class="text-success" :class="{ 'text-danger': errors.has('email') }">*</span>
                                    </label>
                                    <input
                                        type="text"
                                        id="email"
                                        name="email"
                                        v-model="form.email"
                                        :maxlength="50"
                                        v-validate="'required|email|min:9|max:50'"
                                        data-vv-as="Email"
                                        data-vv-delay="600"
                                        :class="{ 'text-danger': errors.has('email') }"
                                        class="form-control"
                                        :disabled="loading"
                                    >
                                    <small v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</small>
                                </div>

                                <div class="form-group">
                                    <label for="phone" class="text-uppercase" :class="{ 'text-danger': errors.has('phone') }">
                                        {{ $store.getters.getTags({ tag: 'formbooking_phone' }) }}
                                        <span class="text-success" :class="{ 'text-danger': errors.has('phone') }">*</span>
                                    </label>
                                    <input
                                        type="number"
                                        id="phone"
                                        name="phone"
                                        v-model="form.phone"
                                        :maxlength="16"
                                        v-validate="'required|numeric|min:9|max:16'"
                                        :data-vv-as="$store.getters.getTags({ tag: 'formbooking_phone' })"
                                        data-vv-delay="600"
                                        :class="{ 'text-danger': errors.has('phone') }"
                                        class="form-control"
                                        :disabled="loading"
                                    >
                                    <small v-show="errors.has('phone')" class="text-danger">{{ errors.first('phone') }}</small>
                                </div>

                                <div class="form-group">
                                    <label for="message" class="text-uppercase" :class="{ 'text-danger': errors.has('message') }">
                                        {{ $store.getters.getTags({ tag:'formbooking_message' }) }}
                                        <span class="text-success" :class="{ 'text-danger': errors.has('message') }">*</span>
                                    </label>
                                    <textarea
                                        type="text"
                                        id="message"
                                        name="message"
                                        v-model="form.msg"
                                        :maxlength="150"
                                        v-validate="'required|min:2|max:150'"
                                        :data-vv-as="$store.getters.getTags({ tag:'formbooking_message' })"
                                        data-vv-delay="600"
                                        :class="{ 'text-danger': errors.has('message') }"
                                        class="form-control"
                                        :disabled="loading"
                                        rows="3"
                                    ></textarea>
                                    <small v-show="errors.has('message')" class="text-danger">{{ errors.first('message') }}</small>
                                </div>

                               <div class="form-row text-center py-4">
                                   <div class="col-12">
                                       <button :disabled="errors.any() || isDisabled" @click.prevent="sendMail" class="btn btn-primary">
                                           <span class="text-btn-white">{{ $store.getters.getTags({ tag: 'formbooking_inviare' }) }}</span>
                                       </button>
                                   </div>
                               </div>
                           </form>
                       </template>
                    </div>
                </div>
            </div>
        </section>

        <information />

        <section class="py-4"></section>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min'

    export default {
        components: { PulseLoader },
        data() {
            return {
                recaptcha: null,
                form: {
                    name: null,
                    email: null,
                    subject: null,
                    phone: null,
                    msg: null
                },
                loading: false
            }
        },
        computed: {
            isDisabled() {
                return !this.form.name || !this.form.email || !this.form.phone || !this.form.msg
            },
        },
        methods: {
            sendMail() {
                this.recaptcha = this.$refs.recaptchaComponent.$refs.recaptcha
                this.recaptcha.execute()
            },
            onVerify(response) {
                this.scrollTop()
                this.loading = true
                this.recaptcha.reset()

                this.$validator.validateAll().then(result => {
                    if (result) {
                        axios.post('/api/contactus', this.form).then(responseAPI => {
                            if (responseAPI.status === 200) {
                                this.loading = false
                                this.showAlert('success', this.$store.getters.getTags({ tag: 'formcontact_modalenvioerro' }))
                                this.cleanForm()
                                this.$router.push('/')
                            }
                        }).catch(error => {
                            this.loading = false
                            console.log('error axios: ' + error)
                            this.showAlert('error', this.$store.getters.getTags({ tag: 'formbooking_modalenvioerro' }))
                        })
                    }
                }).catch(() => {
                    this.loading = false
                    console.log('error vee-validate')
                })
            },
             scrollTop() {
                if (window.scrollY !== 0) {
                    setTimeout(() => {
                        window.scrollTo(0, window.scrollY - 30)
                        this.scrollTop()
                    }, 10)
                }
            },
            showAlert(type, title) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    showConfirmButton: false,
                    showCloseButton: true
                })
            },
            cleanForm() {
                this.form = {
                    name: null,
                    email: null,
                    subject: null,
                    phone: null,
                    msg: null
                }
            },
            onExpired() {
              console.log('Expired')
            }
        }
    }
</script>
<style lang="sass" scoped>
.bg-contact
  width: 100%
  min-height: 420px
  padding-top: 100px
  padding-bottom: 100px
  background-image: url("/images/playa.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bg-form-contact
  background-color: white
  width: 50%
  height: auto
  padding: 0 5%

.text-btn-white
  font-size: 1.3rem
  letter-spacing: 0.2rem
  font-weight: bold

@media (max-width: 600px)
  .bg-form-contact
    width: 90%
    height: auto
    padding: 0 5%
</style>
