<template>
    <div v-if="activityCategories.length > 0">
        <div id="esperienze"></div>
        <section id="swipper-esperience-slider" class="pt-4 pb-0 pb-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <router-link to="/esperienze">
                            <h1 class="text-white text-shadow mt-1">
                                {{ $store.getters.getTags ({ tag: 'esperience_titulo' }) }}
                            </h1>
                        </router-link>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row flex-column flex-md-row">
                    <div :key="index" v-for="(activityCategory, index) in activityCategories" class="content-actividad">
                        <router-link
                            :to="'/esperienze/' + activityCategory.slug"
                            :style="`background-image: url(${activityCategory.image})`"
                            class="actividad d-flex justify-content-center align-items-center"
                        >
                            <h3 >{{ getTranslation(index).name }}</h3>
                        </router-link>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        name: 'Activity',
        data() {
            return {
                swiperOption: {
                    slidesPerView: 3,
                    spaceBetween: 0,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    autoplay: { delay: 5000 },
                    breakpoints: {
                        480: { slidesPerView: 1, spaceBetween: 10 },
                        768: { slidesPerView: 1, spaceBetween: 20 },
                        992: { slidesPerView: 2, spaceBetween: 30 }
                    }
                }
            }
        },
        created() {
            this.$store.dispatch('getActivityCategories')
        },
        computed: {
            activityCategories() {
                return this.$store.state.Activity.activityCategories
            },
            language() {
                return this.$store.state.Language.languageActive.flag
            }
        },
        methods: {
            getTranslation(index) {
                let translation = this.activityCategories[index].translations.find(translation => translation.code === this.language)

                if (! translation)
                    translation = this.activityCategories[index].translations[0]

                return translation
            }
        }
    }
</script>
<style lang="sass" scoped>
.content-actividad
  width: 100%
  height: 280px
  padding: 0

.actividad
  display: block
  width: 100%
  height: 100%
  background-color: #333
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  color: #ffffff
  &:hover
    text-decoration: none
  h3
    font-weight: bold
    font-size: 1.8rem
    text-shadow: 1px 1px 5px #000000bd

@media (min-width: 768px)
  .content-actividad
    width: 50%
    height: 320px
    padding: 1%
    &:nth-child(3n)
      width: 100%

#swipper-esperience-slider
  background-color: #A7EAF6

.swiper-button-prev, .swiper-container-rtl .swiper-button-next
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E")
  left: 30px

.swiper-button-next, .swiper-container-rtl .swiper-button-prev
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E")
  right: 30px

@media screen and (min-width: 768px)
  .swiper-slide
    margin: 0px !important

h3
  color: #fff

.text-shadow
  text-shadow: 1px 1px 5px #000000bd
</style>

