<template>
  <div>
      <section id="swipper-esperience-slider">
        <swiper :options="swiperOption">
            <!-- slides -->
            <swiper-slide v-for="(gallery , key) in galleryHeader" :key="key">
                <img class="img-full" :src="gallery" alt="">
            </swiper-slide>
            <!-- Optional controls -->
            <div class="swiper-pagination"  slot="pagination"></div>
        </swiper>
      </section>
  </div>
</template>
<script>
export default {
    name: 'carrousel',
    props: {
        galleryHeader: {
            type: Array,
            required: true
        }
    },
    data() {
      return {
        swiperOption: {
            slidesPerView: 1,
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            autoplay: {
                delay: 3000
            }
        }
      }
    }
  }
</script>
<style lang="sass" scoped>
#swipper-esperience-slider .swiper-slide
  width: 100%
  height: 75vh
  overflow: hidden
  position: relative

.img-full
  width: 100%
  object-position: center
  height: 100%
  object-fit: cover
</style>


