<template>
    <div>
        <div id="camera"></div>
        <section class="bg-gray">
            <div class="container py-3">
                <div class="row">
                    <div class="col-md-12 col-md-offset-2 text-center top">
                        <h1 class=" my-0 ">{{ $store.getters.getTags({ tag:'camere_section_titulo1' }) }}</h1>
                    </div>

                    <template v-for="(item, index) in getVillages">
                            <div class="villa-room col-12 col-md-6 no-padding-movil" :class="getCols(index)" :key="index">
                                <div class="imagen-room" onclick="void(0)">
                                    <img class="img-fluid" :src="item.image" :alt="item.name">

                                    <div class="info text-white">
                                        <h3 class="font-weight-bold">{{ getTranslation(item).name }}</h3>

                                        <b class="d-block" v-if="item.rooms.length > 1"> {{ item.rooms.length }} {{ $store.getters.getTags({ tag: 'camere_image4_detalle1' }) }}</b>

                                        <!-- <b class="d-block">{{ getLocationNameByRoom(item.room_location_id) }}</b> peticion de gian se comenta la localidad-->
                                    </div>

                                    <div class="content-room-image text-center">
                                        <div class="content-middle">
                                            <div class="min-log d-flex justify-content-center">
                                                <template v-for="(service, index) in item.services">
                                                        <div :key="index" v-if="service.service_category_id === 3" class="info-case">
                                                            <img :src="service.ico" width="34" :alt="'img-' + service.name">
                                                            <small class="d-block">{{ service.pivot.info }}</small>
                                                        </div>
                                                </template>
                                            </div>
                                            <h3 class="text-white mt-2">{{ getTranslation(item).name }}</h3>
                                            <router-link :to="'/village/' + item.slug" class="myButton"><a>{{ $store.getters.getTags({ tag: 'camere_image_veditutto' }) }}</a></router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                </div>
            </div>
            <div class="text-center my-3">
                <router-link to="/villages" class="btn btn-primary text-white font-weight-bold"><a>{{ $store.getters.getTags({tag: 'camere_image_veditutto'}) }}</a></router-link>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        name: 'villages-home',
        computed: {
            getVillages() {
                let villas = this.$store.getters.getCategories
                let array = [];
                for (let index = 0; index < 5; index++) {
                    array.push(villas[index]);
                }
                return array
            },
            language() {
                return this.$store.getters.getLanguagesFlagActive;
            }
        },
        methods: {
            getCols(index) {
                if (index > 1) return 'col-lg-4';

                return 'col-lg-6';
            },
            getLocationNameByRoom(id) {
                return this.$store.getters.getLocationNameById(id);
            },
            getTranslation(item) {
                let translation = item.translations.find(translation => translation.code === this.language);

                if (!translation) translation = item.translations[0];

                return translation;
            },
            transformInfo(event){
                console.log(event)
            }
        }
    }
</script>
<style scoped>
    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.2rem;
        background-color: #00000034;
        color: #fff;
        text-shadow: 0px 1px 1px #8d8d8d;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        color: #fff;
    }

    @media (min-width: 768px) {
        h2 {
            font-size: 1.8rem;
        }
    }

    .imagen-room {
        position: relative;
        overflow: hidden;
        margin-top: 15px;
    }

    .villa-room .imagen-room > img{
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position: center;
    }
    @media (min-width: 992px) {
        .villa-room .imagen-room > img{
            width: 100%;
            height: 340px;
            object-fit: cover;
            object-position: center;
        }
        .villa-room:nth-last-child(-n+3) .imagen-room > img{
            width: 100%;
            height: 280px;
            object-fit: cover;
            object-position: center;
        }
    }


    .content-room-image {
        position: absolute;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.898);
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen-room:hover .content-room-image {
        top: 0;
    }

    .myButton {
        background-color: #ffffff;
        -moz-border-radius: 41px;
        -webkit-border-radius: 41px;
        border-radius: 41px;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 5px 18px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }

    .myButton:hover {
        background-color: #ffffff;
        text-decoration: none;
        color: #000000;

    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

    @media (max-width: 580px) {
        .no-padding-movil {
            padding: 0px;
        }
    }

    .info-case {
        color: #fff;
        font-size: .8rem;
        text-align: center;
        margin: 0rem .8rem;
    }

    .info-case span {
        display: block;
    }
</style>
