<template>
    <div>
        <section class="google-maps" v-html="address || $store.getters.getSetting('iframe_google_map').value" />
    </div>
</template>
<script>
export default {
    props: ['address']
}
</script>
<style lang="sass" scoped>
.google-maps 
    width: 100%
    height: 300px

.google-maps iframe
    width: 100% !important
    height: 100% !important
</style>
