<template>
    <div class="container-fluid p-md-5">
        <div class="row justify-content-center text-center align-items-center back-image ">
            <div class="col-12">
                <div class="h-30p pad">
                    <h2 class="title-suscribe text-white font-weight-bold text-capitalize">
                        {{ $store.getters.getTags ({ tag:'newsletter_titulo' }) }}
                    </h2>
                </div>
            </div>

            <template v-if="loading">
                <div class="container d-flex justify-content-center">
                    <div class="row m-5 mb-4">
                        <div class="col-12">
                            <pulse-loader :loading="loading" color="#FFF" size="15px"/>
                        </div>
                    </div>
                </div>
            </template>

            <template v-else>
                <div class="col-12  col-md-5 justify-content-center text-center align-items-center">
                    <form>
                        <div class="input-group mb-3">
                            <input id="email" type="text" :maxlength="50" v-validate="'required|email|min:9|max:50'"
                                   name="email" data-vv-as="Mail" :class="{'text-danger': errors.has('email') }"
                                   v-model="form.email" class="form-control radius" placeholder="Mail">
                            <div class="input-group-append">
                                <button type="button" :disabled="errors.any() || isDisabled" @click.prevent="sendnews()" class="btn btn-primary radius-btn bold">{{ $store.getters.getTags({ tag: 'newsletter_button' }) }}</button>
                            </div>
                        </div>

                        <small v-show="errors.has('email')" class="help text-danger">{{ errors.first('email') }}</small>

                        <div class="form-check pad2">
                            <input v-validate="'required'" name="terms" v-model="form.terms" type="checkbox" class="form-check-input" id="check">
                            <label for="check" class="label2 form-check-label text-white pad2 m-0" :class="{ 'text-danger': errors.has('terms') }">
                                <span v-show="errors.has('terms')" class="help text-danger">*</span>
                                {{ $store.getters.getTags({ tag: 'newsletter_check' }) }}
                            </label>
                            <div>
                            </div>
                        </div>
                    </form>
                </div>
            </template>
        </div>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min'

    export default {
        components: { PulseLoader },
        data() {
            return {
                form: { email: null, terms: null },
                error: null,
                success: false,
                loading: false
            }
        },
        computed: {
            isDisabled() { return !this.form.email || !this.form.terms }
        },
        methods: {
            sendnews() {
                this.loading = true;
                this.$validator.validateAll().then((result) => {
                    axios.post('/api/newsletter', this.form).then((res) => {
                        if (res.status == 200) {
                            this.loading = false;
                            this.showAlert('success', this.$store.getters.getTags({ tag:'formbooking_modalenvioex'}));
                            this.cleanForm();
                        }
                    }).catch((error) => {
                        this.loading = false;
                        this.showAlert('error', this.$store.getters.getTags({ tag:'formbooking_modalenvioerro'}));
                        this.cleanForm();
                    })
                }).catch(() => {
                    this.loading = false;
                    console.log('error form')
                });
            },
            showAlert(type, title) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
            cleanForm() {
                this.form = { name: '', terms: '' }
            }
        }
    };
</script>
<style lang="sass" scoped>
.back-image
  background-position: 0 75%
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/home/newsletter/header-solaria.jpg")

.pad
  padding-top: 5%
  padding-bottom: 3%

.pad2
  padding-bottom: 10%

.title-suscribe
  font-size: 1.4rem

.radius
  border-radius: 145px 0px 0px 145px !important
  -moz-border-radius: 145px 0px 0px 145px !important
  -webkit-border-radius: 145px 0px 0px 145px !important
  border: 0px solid #000000 !important
  height: 50px

.radius-btn
  border-radius: 0px 145px 145px 0px !important
  -moz-border-radius: 0px 145px 145px 0px !important
  -webkit-border-radius: 0px 145px 145px 0px !important
  border: 0px solid #000000 !important
  z-index: 100

.form-control:focus
  background-color: #fff
</style>
