<template>
    <div>
        <section id="servizi">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="mb-3" v-text="getTags({ tag: 'service_titulo' })" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <swiper :options="swiperOption">
                            <template v-for="item in services">
                                <swiper-slide :key="item.id">
                                    <div class="rounded text-center flex-fill border py-3">
                                        <img  :src="`/images/iconos/services/${item.src}`" :alt="item.text" width="100">
                                    </div>
                                    <p class="text-center" v-text="item.text" />
                                </swiper-slide>
                            </template>

                            <div class="swiper-pagination"  slot="pagination"></div>
                        </swiper>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'

    export default {
        name: 'carrousel',
        data() {
        return {
            swiperOption: {
                spaceBetween: 20,
                slidesPerView: 6,
                pagination: { el: '.swiper-pagination', clickable: true },
                autoplay: { delay: 3000 },
                breakpoints: {
                    480: { slidesPerView: 1, spaceBetween: 10 },
                    768: { slidesPerView: 2 },
                    992: { slidesPerView: 4 }
                }
            }
        }
        },
        computed: {
            ...mapGetters(['getTags']),
            services() {
                return [
                    { id: 1, src: '043-wifi.svg', text: this.getTags({ tag: 'service_uno' }) },
                    { id: 2, src: '044-swimming-pool.svg', text: this.getTags({ tag: 'service_dos' }) },
                    { id: 3, src: 'monitor.svg', text: this.getTags({ tag: 'service_tres' }) },
                    { id: 4, src: '019-deck.svg', text: this.getTags({ tag: 'service_cuatro' }) },
                    { id: 5, src: '120-washing-machine.svg', text: this.getTags({ tag: 'service_cinco' }) },
                    { id: 6, src: '045-air-conditioner.svg', text: this.getTags({ tag: 'service_seis' }) }
                ]
            }
        }
    }
</script>
<style lang="sass" scoped>
section
  overflow: hidden

.border
  border: 3px solid #0296b3 !important
  border-radius: 20px !important
  min-height: 138px

.swiper-container
  overflow: visible

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
  bottom: 0
  left: 0
  width: 100%

.swiper-pagination
  position: relative
  text-align: center
  -webkit-transition: 300ms opacity
  -o-transition: 300ms opacity
  transition: 300ms opacity
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  z-index: 10

.swiper-pagination-bullet
  width: 8px
  height: 8px
  display: inline-block
  border-radius: 100%
  background: #9E9E9E !important
  opacity: 0.9 !important
</style>