<template>
<form id="form-search" method="get" :action="action" accept-charset="UTF-8">    
    <div class="row">       
        <!-- Date Picker -->
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group p-0">
                <label>Inserisci la data dell'offerta</label>
                <vue-ctk-date-time-picker
                    id="date-picker-rate"
                    v-model="date_range"
                    locale="it"
                    formatted="DD/MM/YYYY"
                    format="YYYY-MM-DD"
                    output-format="DD/MM/YYYY"
                    name="date_range"
                    data-vv-as="Data"
                    color="#2ac093"
                    :min-date="minDate"
                    enable-button-validate
                    no-header
                    range
                    only-date
                    no-shortcuts
                    overlay
                    right                    
                    label="Seleziona un intervallo di date"
                    no-clear-button
                />
            </div>
        </div>
        <input type="hidden" class="form-control" v-model="date_range.start" name="start_date" id="start_date"/>               
        <input type="hidden" class="form-control" v-model="date_range.end" name="end_date" id="end_date"/>         
    </div>
    <div class="row">
        <!-- Search Field -->      
        <div class="col-sm-6 col-sm-offset-3">            
            <button type="submit" class="btn btn-primary" :disabled="!isFormValid">Ricerca</button>
            <a href="/admin/rates" class="btn btn-default">Indietro</a>
        </div>
    </div>
</form>    
</template>
<script>
export default {
    name: "rateSearchForm",
    props: ['action'],
    data() {
        return {
            date_range: {
                start: null,
                end: null
            },
            minDate: moment().format('YYYY-MM-DD') 
        }
    },
    computed: {
        isFormValid() {
           return this.date_range.start && this.date_range.end
        }
    }
}
</script>
<style>
    #date-picker-rate .datepicker {
        margin-top: -100px;
    }
</style>



