<template>
    <div>
        <div class="countdown" v-if="$store.getters.getCounter">
            {{ count }}
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                count: null
            }
        },
        created() {
            this.$options.interval = setInterval(this.setCounter, 1000);
        },
        beforeDestroy() {
            clearInterval(this.$options.interval);
        },
        watch: {
            counter(val) {
                if (val == null) this.$options.interval = setInterval(this.setCounter, 1000);
            }
        },
        computed: {
            counter() {
                return this.$store.getters.getCounter;
            },
            countDownDate() {
                return Vue.moment(this.counter).add(this.maxMinutes, 'minutes').format('YYYY-MM-DD HH:mm:ss');
            },
            rooms() {
                return this.$store.getters.getBooking.rooms;
            },
            maxMinutes() {
                return parseInt(this.$store.getters.getSetting('booking_time').value);
            }
        },
        methods: {
            setCounter() {
                if (this.counter != null) {
                    let now = Vue.moment(Vue.moment().tz('Europe/Rome')).format('YYYY-MM-DD HH:mm:ss');
                    this.count = Vue.moment(Vue.moment(this.countDownDate) - Vue.moment(now)).format('mm:ss');

                    if (Vue.moment(now) > Vue.moment(this.countDownDate)) {
                        this.unlockAllRooms();
                        this.$store.dispatch('resetCounter');
                        clearInterval(this.$options.interval);
                        this.count = '';

                        this.$swal({
                            position: 'center',
                            type: 'warning',
                            title: this.$store.getters.getTags({ tag: 'booking_1_end_time_title' }),
                            text: this.$store.getters.getTags({ tag: 'booking_1_end_time_message' }),
                            showConfirmButton: false,
                            showCloseButton: true,
                        });

                        this.$router.push('/');
                    }
                }
            },
            unlockAllRooms() {
                for (var i = this.rooms.length - 1; i >= 0; i--) {
                    this.$store.dispatch('deleteRoom', this.rooms[i])
                }
            }
        }
    }
</script>
