<template>
    <div>
        <div></div>
        <section class="py-3 bg-theme">
            <form class="form-booking-fluid">
                <invisible-recaptcha ref="recaptchaComponent" @verify="onVerify" @expired="onExpired" />

                <div class="container-fluid">
                    <div class="row flex-column flex-md-row justify-content-center">
                        <div class="col-12 col-lg-2 mr-lg-2 mb-2 mb-md-0 col-md-4">
                            <label for="location" class="mt-0">{{ $store.getters.getTags({ tag: 'formbooking_localidad1' }) }}</label>
                            <select id="location" class="form-control arrow-select" v-model="roomLocationId">
                                <option :value="0">{{ $store.getters.getTags({ tag: 'formbooking_localidad' }) }}</option>
                                <option v-for="location in roomLocations" :value="location.id">{{ location.name }}</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3 mb-2 mb-md-0 col-md-4" @click.append="error = null">
                            <label class="mt-0"  :class="{ 'is-danger': errors.has('search') || error }">
                                {{ $store.getters.getTags({ tag: 'formbooking_DataPicker_text' }) }}
                            </label>
                            <vue-ctk-date-time-picker
                                disable-time
                                enable-button-validate
                                :locale="this.$moment.locale(this.$store.getters.getLanguagesFlagActive)"
                                v-model="search"
                                formatted="DD/MM/YYYY"
                                format="YYYY-MM-DD"
                                :label="$store.getters.getTags({ tag: 'formbooking_DataPicker_text' })"
                                v-validate="'required'"
                                name="search"
                                data-vv-as="Data"
                                color="#2ac093"
                                :class="{ 'is-danger': errors.has('search') || error }"
                                withoutRangeShortcut
                                range-mode
                                :min-date="minDate"
                            />
                            <small v-show="errors.has('search') || error" class="help text-danger">{{ errors.first('search') || error }}</small>
                        </div>

                        <div class="col-12 col-lg-2 mb-2 mb-md-0 col-md-4">
                            <label for="quantityPersons" class="mt-0">{{ $store.getters.getTags({ tag: 'formbooking_quantity' }) }}</label>
                            <b-form-select
                                type="number"
                                id="quantityPersons"
                                name="quantityPersons"
                                v-model="quantityPerson"
                                v-validate="{ required: true, numeric: true, min_value: 1, max_value: 8 }"
                                :data-vv-as="$store.getters.getTags({ tag: 'formbooking_quantity' })"
                                class="form-control arrow-select"
                                :options="[1,2,3,4,5,6,7,8]"
                            />
                            <small v-show="errors.has('quantityPersons')" class="help text-danger">{{ errors.first('quantityPersons') }}</small>
                        </div>

                        <div class="col-12 col-lg-2 mb-2 mb-md-0 ">
                            <label></label>
                            <button type="button" :disabled="errors.any() || isDisabled" @click.prevent="setFilterDates" class="btn btn-primary btn-lg btn-block text-uppercase font-weight-bold">
                                {{ $store.getters.getTags({ tag:'formbooking_Buttom' }) }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</template>
<script>
    import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
    import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css';
    import Counter from './Counter';

    export default {
        components: { VueCtkDateTimePicker, Counter },
        data() {
            return {
                recaptcha: null,
                search: {
                    start: null,
                    end: null
                },
                error: null,
                roomLocationId: 0,
                quantity: 0,
                locked_room: null,
                quantityPerson: null,
            }
        },
        created() {
            this.filtersData();
            this.quantityPerson = this.$store.getters.getQuantityPersons;
        },
        watch: {
            quantityPerson(val) {
                if (val) this.$store.dispatch('setQuantityPersons', val)
            }
        },
        computed: {
            minDate() {
                return Vue.moment().format('MM/DD/YYYY');
            },
            validForm() {
                return this.search.start != null && this.search.end != null && this.diff >= this.minDays
            },
            diff() {
                let begin = Vue.moment(this.search.start);
                let end = Vue.moment(this.search.end);
                return end.diff(begin, 'days');
            },
            minDays() {
                return parseInt(this.$store.getters.getSetting('booking_min_days').value);
            },
            roomLocations() {
                return this.$store.getters.getLocations;
            },
            getCounterTime() {
                return this.$store.getters.getCounter;
            },
            isDisabled() {
                return !this.search.start || !this.search.end || !this.quantityPerson;
            }
        },
        methods: {
            filtersData() {
                let data = this.$store.getters.getFilter;

                if (!data) {
                    return
                }

                if (data.checkin != null && data.checkout != null) {
                    this.search = {
                        start: Vue.moment(data.checkin).format('YYYY/MM/DD'),
                        end: Vue.moment(data.checkout).format('YYYY/MM/DD')
                    };
                    this.roomLocationId = data.roomLocationId;
                    this.quantity = data.quantity;
                }
            },
            setFilterDates() {
                this.recaptcha = this.$refs.recaptchaComponent.$refs.recaptcha;
                if (process.env.NODE_ENV === "development") {
                    this.onVerify();
                } else {                    
                    this.recaptcha.execute();
                }
            },
            onVerify(response) {
                this.error = null;
                this.recaptcha.reset();

                this.$validator.validateAll().then(result => {
                    if (result) {
                        let message = this.setMessage();

                        if (this.validForm) {
                            let bookingDate = this.$store.getters.getFilter;

                            if (this.search.start !== bookingDate.checkin || this.search.end !== bookingDate.checkout || this.roomLocationId !== bookingDate.roomLocationId || this.quantity !== bookingDate.quantity) {
                                let rooms = this.$store.getters.getRooms;

                                if (rooms.length > 0) {
                                    let cant = rooms.length - 1;

                                    for (let i = cant; i >= 0; i--) {
                                        this.$store.dispatch('deleteRoom', rooms[i])
                                    }
                                }

                                if (this.$store.getters.getRooms.length === 0) this.$store.dispatch('stopCounter');

                                let data = {
                                    checkin: this.search.start,
                                    checkout: this.search.end,
                                    roomLocationId: this.roomLocationId,
                                    quantity: this.quantity
                                };

                                this.$store.dispatch('setFilterDates', data);
                            }

                            if (window.location.pathname !== '/booking') this.$router.push('/booking');

                        } else {
                            this.search = { start: null, end: null };
                            this.error = message;
                        }
                    }
                }).catch(() => console.log('error vee-validate'));
            },
            setMessage() {
                return this.diff < this.minDays
                    ? this.$store.getters.getTags({ tag:'formbooking_min_nights' }) + ' ' + this.minDays + ' ' + this.$store.getters.getTags({ tag:'booking_3_nights' })
                    : this.$store.getters.getTags({ tag:'formbooking_required_fields' })
            },
            onExpired() {
                console.log('Expired')
            }
        }
    }
</script>
<style scoped>
    .bg-theme {
        background-color: #A7EAF6;
    }

    /* formulario booking */
    .form-booking .form-group, .form-control {
        min-width: 100%;
        display: block;
        margin: 0;
    }

    .form-booking .form-control {
        cursor: pointer;
        background-color: #fff;
        transition-duration: .3s;
        position: relative;
        width: 100%;
        height: 37.03px;
        min-height: 37.03px;
        padding: 0 12px;
        font-weight: 300;
        outline: none;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
        font-size: 14px;
        z-index: 0;
        -webkit-appearance: listbox;
    }

    .form-control {
        height: 42px;
    }

    .form-booking .form-control.arrow-select {
        background-image: url('/images/iconos/arrow-select.png');
        background-repeat: no-repeat;
        background-size: 1rem;
        background-origin: content-box;
        background-position: center right;
    }

    .form-booking .btn-primary {
        background-color: #2ac093;
        border-color: #2ac093;

    }

    .form-booking .btn-primary:hover {
        color: #fff;
        background-color: #2ac093;
        border-color: #2ac093;
    }

    .form-booking .btn-primary.focus, .form-booking .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem #2ac0938a;
    }

    .form-booking .btn-primary:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: #2ac093;
        border-color: #2ac093;
    }

    .form-booking .btn-lg {
        padding: .4rem 1rem;
        font-size: 1.25rem;
        line-height: 1.2;
        border-radius: 4px;
    }

    .form-booking select.form-control {
        text-align-last: left;
    }

    .btn {
        height: 42px;
    }

    @media screen and (min-width: 992px) {
        .form-booking .form-group, .form-control {

            display: block;
            margin: 0;
        }
    }
</style>
