<template>
    <div>
        <section>
            <div id="youtube"></div>
            <div class="container py-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="mb-3">Youtube</h1>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 my-1 text-center youtube">
                        <!-- <v-for="(video, vid) in videoId" :key="vid" > -->
                        <!-- <youtube :video-id="video" ref="youtube"></youtube> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UflG5zywHok" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                           <a href="https://www.youtube.com/channel/UCjDiQmnUMWkaCrs9q-3761w/featured" 
                            target="_blank" class="btn btn-primary btn-lg lead text-uppercase font-weight-bold">Vai al Canale</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                videoId: []
            }
        },
        created() {
            let feed = 'https://www.youtube.com/feeds/videos.xml?channel_id=UCjDiQmnUMWkaCrs9q-3761w?';
            let yql = `https://query.yahooapis.com/v1/public/yql?q=select%20entry%20from%20xml%20where%20url%20%3D%20'${ feed }'%20&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys`;

            fetch(yql).then(res => res.json()).then(res => {
                let value = res.query.results.feed;

                if (!Array.isArray(value)) {
                    this.videoId.push(value.entry.videoId);

                } else {
                    value.forEach(o => {
                        this.videoId.push(o.entry.videoId);
                    });
                }
            });
        } 
    }
</script>

<style scoped>
    .bg_color_red{
        background-color:#e20513;
    }

    .hr-full{
        background-color: red; 
        height: 20px;
        margin-bottom: 10px!important;
    }

    .hr-bottom{
        border-bottom: 20px solid;
        border-color: #af0c16;
    }

    .hr-white{
        background-color: white;
        height: 3px;
        width: 100%;
    }

    .bg-imagen{
        background-image: url('/images/home/slider_step/imagen4.jpg');
        width: 100%; 
        min-height: auto; 
        background-repeat: no-repeat; 
        background-position: center;
    }

    #conta {
        padding: 0px !important;
    }

    @media (max-width: 480px) {
        .img-fluid{
            max-width: 70%;
        }
    }

     .btn-outline-light {
        border: 2px solid #f8f9fa !important;
    }
</style>
