<template>
  <div class="bg-white">
    <form class="form-register">
      <div id="form-total" role="application" class="clearfix">
        <div class="steps clearfix">
          <ul role="tablist" class="mb-0">
            <li role="tab" aria-disabled="false" :class="active == 'booking-step-1' ? 'done d-inline-block' : ''" aria-selected="false" >
              <a>
                <span class="title">1</span>
              </a>
            </li>
            <li role="tab" aria-disabled="false" :class="active == 'booking-step-2' ? 'done d-inline-block' : ''" aria-selected="true">
              <a>
                <span class="title">2</span>
              </a>
            </li>
            <li role="tab" aria-disabled="false" class="last " :class="active == 'booking-step-3' ? 'done d-inline-block' : ''" aria-selected="false">
              <a id="form-total-t-2" href="#form-total-h-2" aria-controls="form-total-p-2">
                <span class="title">3</span>
              </a>
            </li>
          </ul>
          <div class="container d-none d-md-block">
            <div class="row text-center">
              <div class="col-4">
                <span class="title" >{{ $store.getters.getTags({tag:'booking_wizard_step1'}) }}</span>
              </div>
              <div class="col-4">
                <span class="title" >{{ $store.getters.getTags({tag:'booking_wizard_step2'}) }}</span>
              </div>
              <div class="col-4">
                <span class="title" >{{ $store.getters.getTags({tag:'booking_wizard_step3'}) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
  export default {
    computed: {
      active() {
        return this.$route.name
      }
    }
  }
</script>
<style>
.form-register .steps {
    padding-bottom: 33px;
    padding-top: 40px;
}
.form-register .steps .title li a{
  border: 0px;
  color: #0296b3;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.title {
  color: #0296b3 ;
  font-size: 1.0rem;
}
.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
}
.form-register .steps li,
.form-register .steps li.current {
  outline: none;
  -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #fff;
    border: 2px solid #0296b3;
    margin-right: 350px;
    position: relative;
    outline: none;
}
.form-register .steps li a::before {
  position: absolute;
  content: "";
  background: #0296b3;
  width: 350px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  left: 100%;
}
.form-register .steps li.last a {
  margin-right: 0;
}
.form-register .steps li.last a::before {
  content: none;
}
.form-register .steps li.current a,
.form-register .steps li.current a:active,
.form-register .steps li.done a::before,

.form-register .steps li.done a,
.form-register .steps li.done a span,
.form-register .steps li.done a:active  {
    background: #0296b3;
    color: #fff;
}
.form-register .steps li .current-info {
  display: none;
}
.form-register .steps li .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #0296b3;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.form-register .content {
  padding: 0 80px;
}
.form-register .content h2 {
  display: none;
}


/* Responsive */
@media(max-width: 991.98px) {
  .form-register .steps li {
    width:47% !important;
  }
 }
@media(max-width: 767.98px) {
  .form-register .steps li {
    width:47% !important;
  }
 }

@media screen and (max-width: 575.98px) {
  .form-register .content {
      padding: 0 40px;
  }
  .form-register .steps li a {
    width: 50px;
    height: 50px;
    margin-right: 50px;
  }
  .form-register .steps li a::before {
    width: 60px;
  }
  .form-register .steps li {
    width:auto !important;
  }

}

</style>
