<template>
    <div>
        <!-- Name Field -->
        <div class="form-group col-sm-6 col-sm-offset-3">
            <label for="name" class="mt-0" :class="{ 'text-danger': errors.has('name') }">
                <span v-show="errors.has('name')" class="font-weight-bold">*</span>
                Nome
            </label>
            <input
                    type="text"
                    id="name"
                    name="name"
                    :class="['form-control', { 'text-danger is-invalid': errors.has('name') }]"
                    v-model="slug"
                    v-validate="'required|min:2|max:50'"
                    data-vv-as="Nome"
                    disabled
            >
            <small class="text-danger">{{ errors.first('name') }}</small>
        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <tabs>
                <tab name="IT" :selected="true">
                    <!-- Description Field -->
                    <div class="form-group">
                        <label for="it" class="mt-0" :class="{ 'text-danger': error }">
                            <span v-show="error" class="font-weight-bold">*</span>
                            Descrizione
                        </label>
                        <textarea
                                id="it"
                                name="it"
                                v-model="translation.it.description"
                                ref="it"
                                cols="2"
                                rows="5"
                                data-vv-as="Descrizione"
                                class="form-control ckeditor"
                        />
                        <small v-show="error" class="text-danger">
                            {{ error }}
                            <button class="btn btn-danger btn-xs" @click="error = null">x</button>
                        </small>
                    </div>
                </tab>

                <tab name="EN">
                    <!-- Description Field -->
                    <div class="form-group">
                        <label for="en">Descrizione</label>
                        <textarea
                                id="en"
                                name="en"
                                v-model="translation.en.description"
                                ref="en"
                                cols="2"
                                rows="5"
                                data-vv-as="Descrizione"
                                class="form-control ckeditor"
                        />
                    </div>
                </tab>

                <tab name="DE">
                    <!-- Description Field -->
                    <div class="form-group">
                        <label for="de">Descrizione</label>
                        <textarea
                                id="de"
                                name="de"
                                v-model="translation.de.description"
                                ref="de"
                                cols="2"
                                rows="5"
                                data-vv-as="Descrizione"
                                class="form-control ckeditor"
                        />
                    </div>
                </tab>

                <tab name="ES">
                    <!-- Description Field -->
                    <div class="form-group">
                        <label for="es">Descrizione</label>
                        <textarea
                                id="es"
                                name="es"
                                v-model="translation.es.description"
                                ref="es"
                                cols="2"
                                rows="5"
                                data-vv-as="Descrizione"
                                class="form-control ckeditor"
                        />
                    </div>
                </tab>
            </tabs>
        </div>

        <!-- Submit Field -->
        <div class="col-sm-6 col-sm-offset-3">
            <button :disabled="loading" type="button" class="btn btn-primary" @click="validateBeforeSubmit">
                <template v-if="loading">
                    <i class="text-info fa fa-spinner fa-spin fa-fw"></i>
                </template>
                <template v-else>Salvare</template>
            </button>
            <a href="/admin/rooms" class="btn btn-default">Indietro</a>
        </div>
    </div>
</template>
<script>
    import Tabs from '../../../components/Tabs'
    import Tab from '../../../components/Tab'

    export default {
        name: 'RoomGeneralInfo',
        components: { Tabs, Tab },
        data() {
            return {
                loading: false,
                error: null,
                id: null,
                slug: null,
                translation: {
                    it: { description: null },
                    en: { description: null },
                    de: { description: null },
                    es: { description: null },
                }
            }
        },
        mounted() {
            this.getData()
        },
        methods: {
            async getData() {
                try {
                    const { data } = await axios.get('/api/admin/general_informations')
                    const response = data.data[0]

                    console.log(response)

                    this.slug = response.slug
                    this.id = response.id

                    if (this.id && response.translations) {
                        response.translations.forEach(item => {
                            this.$set(this.translation, item.code, {
                                language_id: item.language_id,
                                description: item.description
                            })
                        })
                    }

                } catch (e) {
                    console.log(e)
                }
            },
            async validateBeforeSubmit() {
                const validate = await this.$validator.validateAll()

                let fields = {
                    it: CKEDITOR.instances[this.$refs.it.name].getData(),
                    en: CKEDITOR.instances[this.$refs.en.name].getData(),
                    de: CKEDITOR.instances[this.$refs.de.name].getData(),
                    es: CKEDITOR.instances[this.$refs.es.name].getData()
                }

                if (validate && fields.it.length > 0) {
                    Object.keys(fields).forEach((key) => {
                        this.translation[key].description = (fields[key].length > 0) ? fields[key] : null
                    })

                    this.submitForm()

                } else if (fields.it.length === 0) this.error = 'Il campo Descripzione IT è richiesto.'
            },
            async submitForm() {
                try {
                    this.loading = true
                    let form = {
                        id: this.id,
                        slug: this.slug,
                        translation: this.translation
                    }

                    const { data }  = await axios.put('/api/admin/general_informations', form)

                     this.$swal({
                        type: 'success',
                        title: 'Salvato con Successo!',
                        confirmButtonColor: '#0296b3',
                        cancelButtonColor: '#FE2E2E',
                        confirmButtonText: 'OK',
                        showCloseButton: true
                    })

                    console.log(data)

                } catch (error) {
                    console.log(error)
                }
                finally {
                    this.loading = false
                }
            }
        }
    }
</script>
<style lang="sass" scoped>
    .is-invalid
        border-color: #e74c3c
        outline: 0
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e74c3cba
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e74c3cba
</style>