<template>
    <div>
        <div class="card my-2">
            <div class="card-header lead text-white font-weight-bold">
                {{ $store.getters.getTags({tag:'booking_2_comment'}) }}
            </div>
            <div class="card-body">
               <form>
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <textarea v-model="comment" class="form-control" name="message" id="" rows="3"></textarea>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            comment: '',
        }
    },
    watch: {
        comment(val){
            this.$store.dispatch('setBookingComment', val)
        },
    }
}
</script>

<style scoped>
.card{
    border-radius: 0rem;
}
.card-header{
    background-color: #0296b3;
    border-radius: 0rem;
}
</style>
