<template>
    <div>
        <template v-if="validResponsible">
            <label class="d-block">{{ $store.getters.getTags({ tag: 'booking_2_same_responsable' }) }}</label>
            <label class="switch m-0">
                <input v-model="sameResponsible" type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </template>


        <template v-if="value.length > 0">
            <div v-for="(room, index) in value" :key="index" class="card my-2">
            <div class="card-header lead text-white font-weight-bold">
                {{ $store.getters.getTags({ tag: 'booking_2_responsable' }) }} #{{ index + 1 }}
            </div>
            <div class="card-body">
               <form>
                    <div class="form-row">
                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{ 'text-danger': errors.has('name-' + index) }">*</span>
                            <label for="name">{{ $store.getters.getTags({tag:'booking_2_fullname'}) }}</label>
                            <input
                                id="name"
                                :name="'name-'+ index"
                                type="text"
                                v-model="room.personResponsible.name"
                                :maxlength="30"
                                v-validate="'required|alpha_spaces|min:2|max:30'"
                                data-vv-delay="600"
                                :data-vv-as="$store.getters.getTags({ tag: 'booking_2_fullname' })"
                                class="form-control"
                                :class="{ 'text-danger': errors.has('name-' + index )}"
                                autocomplete="nope"
                            >
                            <small v-show="errors.has('name-' + index)" class="help text-danger">{{ errors.first('name-' + index) }}</small>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{'text-danger': errors.has('phone-' + index) }">*</span>
                            <label for="phone">{{ $store.getters.getTags({ tag: 'booking_2_phone' }) }}</label>
                            <input
                                id="phone"
                                :name="'phone-' + index"
                                type="number"
                                v-model="room.personResponsible.phone"
                                :maxlength="16"
                                v-validate="'required|numeric|min:9|max:16'"
                                data-vv-delay="600"
                                :data-vv-as="$store.getters.getTags({ tag: 'booking_2_phone' })"
                                class="form-control"
                                :class="{ 'text-danger': errors.has('phone-' + index) }"
                                autocomplete="nope"
                            >
                            <small v-show="errors.has('phone-' + index)" class="help text-danger">{{ errors.first('phone-' + index) }}</small>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{ 'text-danger': errors.has('email-' + index) }">*</span>
                            <label for="email">{{ $store.getters.getTags({ tag: 'booking_2_email' }) }}</label>
                            <input
                                id="email"
                                :name="'email-' + index"
                                v-model="room.personResponsible.email"
                                type="text"
                                :maxlength="50"
                                v-validate="'required|email|min:9|max:50'"
                                data-vv-delay="600"
                                :data-vv-as="$store.getters.getTags({ tag: 'booking_2_email' })"
                                class="form-control"
                                :class="{ 'text-danger': errors.has('email-' + index) }"
                                autocomplete="nope"
                            >
                            <small v-show="errors.has('email-' + index)" class="help text-danger">{{ errors.first('email-' + index) }}</small>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <label for="adults">
                                {{ $store.getters.getTags({ tag: 'booking_2_visitors' }) }}
                            </label>
                            <div class="tooltip">
                                <i title="Only quantity of adults" class="fa fa-info-circle"></i>
                                <span class="tooltiptext">{{ $store.getters.getTags({ tag: 'quantity_adults' }) }}</span>

                            </div>
                            <select id="adults" v-model="room.adults_quantity" class="form-control">
                                <template v-for="i in room.maxAdults">
                                    <option :key="i" :value="i">{{ i }}</option>
                                </template>
                            </select>
                        </div>

                        <template v-if="room.maxChildren">
                            <div class="col-12 col-md-6 mb-3">
                                <label class="d-block">{{ $store.getters.getTags({ tag: 'have_children' }) }}</label>
                                <label class="switch m-0" @click="clearChildren(index)">
                                    <input v-model="children" type="checkbox" :value="index">
                                    <span class="slider round"></span>
                                </label>
                            </div>

                            <div class="col-12 col-md-6 mb-3" v-show="showChildren(index)">
                                <label for="children">{{ $store.getters.getTags({ tag: 'quantity_children' }) }}</label>
                                <select id="children" v-model="room.children_quantity" class="form-control">
                                    <template v-for="i in room.maxChildren">
                                        <option :key="i" :value="i">{{ i }}</option>
                                    </template>
                                </select>
                            </div>
                        </template>
                    </div>
               </form>
            </div>
        </div>
        </template>
    </div>
</template>
<script>
    export default {
        props: ['value', 'responsible'],
        data() {
            return {
                sameResponsible: false,
                children: []
            }
        },
        watch: {
            value: {
                handler(val) {
                    if (val) {
                        this.$store.dispatch('setRoomsResponsibles', val)
                    }
                },
                deep: true
            },
            sameResponsible(val) {
                if (val) {
                    for (let i in this.value) {
                        this.value[i].personResponsible.name = this.responsible.first_name + ' ' + this.responsible.last_name
                        this.value[i].personResponsible.phone = this.responsible.phone
                        this.value[i].personResponsible.email = this.responsible.email
                    }
                } else {
                    for (let i in this.value) {
                        this.value[i].personResponsible.name = ''
                        this.value[i].personResponsible.phone = ''
                        this.value[i].personResponsible.email = ''
                    }
                }
            },
            validForm(val) {
                this.$store.dispatch('setBookingValidForm', val)
            },
        },
        computed:{
            validResponsible() {
                return this.responsible.first_name != '' &&
                    this.responsible.last_name != '' &&
                    this.responsible.email != '' &&
                    this.responsible.phone != '' &&
                    this.responsible.fiscalCode != '' &&
                    this.errors.items.length == 0
            },
            validRoomResponsibles() {
                let result = true
                for (let i in this.value) {
                    if ((this.value[i].personResponsible.name == '' || this.value[i].personResponsible.name == null) ||
                    (this.value[i].personResponsible.phone == '' || this.value[i].personResponsible.phone == null) ||
                    (this.value[i].personResponsible.email == '' || this.value[i].personResponsible.email == null) ){
                        result = false
                        break
                    }
                }
                return result;
            },
            validForm() {
                return this.validResponsible && this.validRoomResponsibles;
            },
        },
        methods: {
            clearChildren(index) {
                 this.value[index].children_quantity = 0;

                 if (!this.showChildren(index)) {
                     let tel = this.$store.getters.getSetting('whatsapp_number') ? this.$store.getters.getSetting('whatsapp_number').value : '393408831917';
                     let email = this.$store.getters.getSetting('contact_email') ? this.$store.getters.getSetting('contact_email').value : 'booking@solariahomeholiday.com';

                     this.$swal({
                         position: 'center',
                         type: 'info',
                         title: this.$store.getters.getTags({ tag: 'validation_age_children' }) + ':',
                         footer: `<a class="text-dark mr-2" href="tel:${tel}"><i class="fas fa-phone-volume"></i> ${tel}</a> / <a class="ml-2 text-dark" href="mailto:${email}"> <i class="far fa-envelope-open"></i> ${email}</a>`,
                         showConfirmButton: false,
                         showCloseButton: true,
                     })
                 }
            },
            showChildren(index) {
                return this.children.find( key => key === index) !== undefined
            }
        }
    }
</script>
<style scoped>
    .card {
        border-radius: 0rem;
    }

    .card-header {
        background-color: #0296b3;
        border-radius: 0rem;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #0296b3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #0296b3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        z-index: 2 !important;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #21b186;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index:2;
        bottom: 90%;
        left: 50%;
        margin-left: -60px;
        opacity: 1;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #21b186 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .tooltip {
        opacity: 1;
    }
</style>
