<template>
    <div>
        <div class="card my-2">
            <div class="card-header lead text-white font-weight-bold">
                {{ $store.getters.getTags({tag:'booking_2_booking_info'}) }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="info">
                            <b class="d-block">{{ $store.getters.getTags({tag:'booking_2_arrival'}) }}</b>
                            <span class="d-block text-capitalize">{{ filter.checkin | moment("dddd, MMMM Do YYYY") }}</span>

                            <b class="d-block">{{ $store.getters.getTags({tag:'booking_2_departure'}) }}</b>
                            <span class="d-block text-capitalize">{{ filter.checkout | moment("dddd, MMMM Do YYYY") }}</span>

                            <b class="d-block">{{ $store.getters.getTags({tag:'booking_2_total_duration'}) }}</b>
                            <span class="d-block text-capitalize">{{ nights }} notti</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header lead text-white font-weight-bold">
                {{ $store.getters.getTags({tag:'booking_2_selected'}) }}
            </div>

            <div class="items-selected">
                <div v-for="(room, index) in value.rooms" :key="index" class="card-body">
                    <div class="row border-bottom">
                        <div class="col-12 mb-3">
                            <div>
                                <strong class="d-block">{{ getTranslation(room).name }}</strong>
                                <div v-html="getTranslation(room).description"></div>
                                <div>
                                    <b>{{ $store.getters.getTags({tag:'booking_2_holiday_homes'}) }}</b>
                                    {{ getHouse(room.room_category_id).name }}
                                </div>
                                <div>
                                    <b>{{ $store.getters.getTags({tag:'booking_2_destination'}) }}</b>
                                    {{  getLocationNameByRoom( getHouse(room.room_category_id).room_location_id ) }}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between lead">
                                <a href="##" @click="deleteRoom(room)" class="remove text-red">
                                    <img src="/images/iconos/delete.svg" alt="" width="18">
                                    {{ $store.getters.getTags({tag:'booking_2_remove'}) }}
                                </a>
                                <span class="price">€ {{ room.totalItem === undefined ? room.price_request  : room.totalItem | money }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header lead text-white font-weight-bold">
                <b>{{ $store.getters.getTags({tag:'booking_2_total'}) }}</b> {{ total | money }} €
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <template v-if="! loading">
                            <div class="paypaypal">
                                <label class="d-block" for="dni">{{ $store.getters.getTags({tag:'booking_2_accept_terms'}) }}</label>

                                <label class="switch my-2">
                                    <input v-model="terms" type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                                <template v-if="!sandbox">
                                    <paypal-checkout
                                        v-show="validForm"
                                        :amount="total.toFixed(2)"
                                        currency="EUR"
                                        :client="credentials"
                                        @payment-completed="onCompleted"
                                        @payment-cancelled="onCancelled"
                                        :button-style="buttonStyle"
                                        :items="paypalItems"
                                        :locale="locale"
                                    />
                                </template>
                                <template v-else>
                                    <paypal-checkout
                                        v-show="validForm"
                                        :env="sandbox"
                                        :amount="total.toFixed(2)"
                                        currency="EUR"
                                        :client="credentials"
                                        @payment-completed="onCompleted"
                                        @payment-cancelled="onCancelled"
                                        :button-style="buttonStyle"
                                        :items="paypalItems"
                                        :locale="locale"
                                    />
                                </template>

                                <div class="text-center" v-show="!validForm">
                                    <img class="w-100" src="/images/paypal-disabled.png" alt="img-paypal">
                                    <label class="text-red">{{ $store.getters.getTags({tag:'booking_2_fill_all_fields'}) }}</label>
                                </div>

                            </div>
                        </template>

                        <template v-else>
                            <div class="container d-flex justify-content-center">
                                <div class="row m-5 mb-4">
                                    <div class="col-12">
                                        <pulse-loader :color="color" :size="size"/>
                                        <label>{{ $store.getters.getTags({tag:'booking_2_loading'}) }}</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min';

    export default {
        name: 'box-data-booking-info',
        components: { PulseLoader },
        props: ['value'],
        data() {
            return {
                terms: false,
                buttonStyle: {
                    label: 'checkout',
                    size: 'responsive',
                    shape: 'pill',
                    color: 'gold'
                },
                color: '#1b1b1b',
                size: '16px',
                locales: [
                    { key: 'it', locale: 'it_IT' },
                    { key: 'en', locale: 'en_US' },
                    { key: 'de', locale: 'de_DE' },
                    { key: 'es', locale: 'es_ES' },
                ],
            };
        },
        created() {
            this.$moment.locale(this.$store.state.Language.languageActive.flag);
        },
        watch: {
            language(val) {
                if (val) {
                    this.$moment.locale(val);
                }
            }
        },
        computed: {
            paypalItems() {
                let items = [];
                for (let i in this.value.rooms) {
                    items.push({
                        'name': this.value.rooms[i].name,
                        'description': this.value.rooms[i].description,
                        'quantity': '1',
                        'price': parseFloat(this.value.rooms[i].totalItem === undefined ? this.value.rooms[i].price_request : this.value.rooms[i].totalItem ).toFixed(2),
                        'currency': 'EUR',
                    });
                }
                return items;
            },
            validForm(){
                return this.$store.getters.getBookingValidForm && this.terms
            },
            loading() {
                return this.$store.getters.getBookingLoading;
            },
            total() {
                let total = 0;

                this.value.rooms.forEach(item => {
                    total += item.totalItem === undefined ? item.price_request  : item.totalItem;
                });

                return total;
            },
            filter() {
                return this.$store.getters.getFilter;
            },
            nights() {
                const moment = require('moment');
                let checkin = moment(this.filter.checkin);
                let checkout = moment(this.filter.checkout);
                return checkout.diff(checkin, 'days');
            },
            locale() {
                return this.locales.find(locale => locale.key == this.language).locale;
            },
            language() {
                return this.$store.getters.getLanguagesFlagActive;
            },
            credentials() {
                let token = this.$store.getters.getSetting('paypal_client_id').value;
                return {
                    sandbox: token,
                    production: token,
                };
            },
            sandbox() {
                if (this.$store.getters.getSetting('paypal_mode').value != 'sandbox') {
                    return false
                }

                return this.$store.getters.getSetting('paypal_mode').value;
            },
        },
        methods: {
            onCancelled(response) {
                // TODO: Método que se ejecuta cuando se cierra la ventana de PayPal
            },
            onCompleted(response) {
                this.terms = false;

                this.$store.dispatch('stopCounter')
                if (this.value.personResponsible.register) {
                    this.$store.dispatch('createAccount', this.value.personResponsible)
                        .then(response => {
                            this.showAlert('success', this.$store.getters.getTags({ tag:'formbooking_modalcreateaccount1'}), this.$store.getters.getTags({ tag:'formbooking_modalcreateaccount2'}));
                            this.$store.dispatch('setUserId', response.data.user_id)
                            this.storeBooking()
                        })
                        .catch(error => {
                            this.showAlert('warning', this.$store.getters.getTags({ tag:'booking_2_unregister_title'}), this.$store.getters.getTags({ tag:'booking_2_unregister_message'}));
                            this.storeBooking()
                        })
                } else {
                    this.storeBooking()
                }
            },
            storeBooking(){
                this.$store.dispatch('storeBooking', this.value).then(response => {
                    console.log(response)
                    if (response.status === 200) this.$router.push('/booking3')
                })
            },
            getHouse(id) {
                return this.$store.getters.getCategoryById(id);
            },
            getLocationNameByRoom(id) {
                return this.$store.getters.getLocationNameById(id);
            },
            deleteRoom(room) {
                this.$emit('removeResponsible', room.roomId);

                this.$store.dispatch('deleteRoom', room).then(response => {
                    if (response.status === 200) {
                        if (this.$store.getters.getRooms.length === 0) {

                            this.$store.dispatch('resetCounter')
                            setTimeout(() => this.$router.push('/'), 500)
                        }
                    }
                }).catch(error => console.log(error));
            },
            getTranslation(item) {
                let translation = item.translations.find(translation => translation.code === this.language);

                if (!translation) translation = item.translations[0];

                return translation;
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
        }
    };
</script>
<style scoped>
    .card {
        border-radius: 0;
    }

    .card-header {
        background-color: #0296b3;
        border-radius: 0;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #0296b3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #0296b3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .text-red {
        color: red;
        text-decoration: none;
    }

    /**/
    .items-selected {
        max-height: 360px;
        overflow-y: scroll;
    }

    .items-selected::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 0;
        background-color: #F5F5F5;
    }

    .items-selected::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    .items-selected::-webkit-scrollbar-thumb {
        border-radius: 0;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #0296b3;
    }
</style>
