<template>
    <div>
        <div class="card my-2">
            <div class="card-header lead text-white font-weight-bold">
                {{ $store.getters.getTags({tag:'booking_2_insert_data'}) }}
            </div>
            <div class="card-body">
               <form>
                    <div class="form-row">
                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{'text-danger': errors.has('first_name')}">*</span>
                            <label for="first_name">{{ $store.getters.getTags({tag:'booking_2_first_name'}) }}</label>
                            <input
                                type="text"
                                id="first_name"
                                name="first_name"
                                v-model="value.first_name"
                                :maxlength="30"
                                v-validate="'required|alpha_spaces|min:2|max:30'"
                                data-vv-delay="600"
                                :data-vv-as="$store.getters.getTags({tag:'booking_2_first_name'})"
                                class="form-control"
                                :class="{'text-danger': errors.has('first_name')}"
                                :disabled="authenticated || loading"
                            >
                            <small v-show="errors.has('first_name')" class="help text-danger">{{ errors.first('first_name') }}</small>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{'text-danger': errors.has('last_name')}">*</span>
                            <label for="last_name">{{ $store.getters.getTags({tag:'booking_2_surname'}) }}</label>
                            <input
                                type="text"
                                id="last_name"
                                name="last_name"
                                v-model="value.last_name"
                                :maxlength="30"
                                v-validate="'required|alpha_spaces|min:2|max:30'"
                                data-vv-delay="600"
                                :data-vv-as="$store.getters.getTags({ tag: 'booking_2_surname' })"
                                class="form-control"
                                :class="{'text-danger': errors.has('last_name')}"
                                :disabled="authenticated || loading"
                            >
                            <small v-show="errors.has('last_name')" class="help text-danger">{{ errors.first('last_name') }}</small>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{'text-danger': errors.has('email')}">*</span>
                            <label for="email">{{ $store.getters.getTags({ tag: 'booking_2_email' }) }}</label>
                            <input
                                type="text"
                                id="email"
                                name="email"
                                v-model="value.email"
                                :maxlength="50"
                                v-validate="'required|email|min:9|max:50'"
                                data-vv-delay="600"
                                :data-vv-as="$store.getters.getTags({ tag: 'booking_2_email' })"
                                class="form-control"
                                :class="{'text-danger': errors.has('email')}"
                                :disabled="authenticated || loading"
                            >
                            <small v-show="errors.has('email')" class="help text-danger">{{ errors.first('email') }}</small>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                          <span class="text-primary" :class="{'text-danger': errors.has('phone')}">*</span>
                            <label for="phone">{{ $store.getters.getTags({ tag: 'booking_2_phone' }) }}</label>
                            <input
                                id="phone"
                                type="number"
                                name="phone"
                                v-model="value.phone"
                                :maxlength="16"
                                v-validate="'required|numeric|min:9|max:16'"
                                data-vv-delay="600"
                                :data-vv-as="$store.getters.getTags({ tag: 'booking_2_phone' })"
                                class="form-control"
                                :class="{'text-danger': errors.has('phone')}"
                                :loading="loading"
                                >
                            <small v-show="errors.has('phone')" class="help text-danger">{{ errors.first('phone') }}</small>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{'text-danger': errors.has('dni')}">*</span>
                            <label for="dni">{{ $store.getters.getTags({ tag: 'booking_2_fiscal_code' }) }}</label>
                            <input
                                type="text"
                                id="dni"
                                name="dni"
                                v-model="value.fiscalCode"
                                :maxlength="16"
                                v-validate="'required|alpha_num|min:8|max:16'"
                                :data-vv-as="$store.getters.getTags({ tag:'booking_2_fiscal_code' })"
                                data-vv-delay="600"
                                :class="{ 'text-danger': errors.has('dni') }"
                                class="form-control text-uppercase"
                                :disabled="loading"
                                >
                            <small v-show="errors.has('dni')" class="help text-danger">{{ errors.first('dni') }}</small>
                        </div>

                        <template v-if="!authenticated">
                            <div class="col-12 col-md-6 mb-3 text-right">
                                <label class="d-block" for="dni">{{ $store.getters.getTags({tag:'booking_2_register'}) }}</label>
                                <label class="switch m-0">
                                    <input v-model="value.register" type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </template>
                    </div>
                    <div v-if="value.register" class="form-row">
                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{'text-danger': errors.has('password')}">*</span>
                            <label for="password">{{ $store.getters.getTags({tag:'booking_2_password'}) }}</label>
                            <input
                                type="password"
                                id="password"
                                name="password"
                                :maxlength="20"
                                v-model="value.password"
                                class="form-control"
                                v-validate.initial="'required|min:8|max:20'"
                                :data-vv-as="$store.getters.getTags({tag:'booking_2_password'})"
                                ref="password"
                                :disabled="loading"
                                >
                            <small v-show="errors.has('password')" class="help text-danger">{{ errors.first('password') }}</small>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <span class="text-primary" :class="{'text-danger': errors.has('confpassword')}">*</span>
                            <label for="confpassword">{{ $store.getters.getTags({tag:'booking_2_confirm_password'}) }}</label>
                            <input
                                type="password"
                                id="confpassword"
                                name="confpassword"
                                :maxlength="20"
                                v-model="value.password_confirmation"
                                class="form-control"
                                v-validate.initial="'required|min:8|max:20|confirmed:password'"
                                :data-vv-as="$store.getters.getTags({tag:'booking_2_confirm_password'})"
                                :disabled="loading"
                                >
                            <small v-show="errors.has('confpassword')" class="help text-danger">{{ errors.first('confpassword') }}</small>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'box-data-booking',
    props: ['value'],
    data() {
        return {
            authenticated: false,
        }
    },
    created() {
        if (this.$store.getters.getRooms.length > 0 || this.$route.params.token) {
            this.authenticated = this.$store.getters.getauthenticated;

            if (this.authenticated) this.getSession();

        }
        else {
            this.$router.push('/booking')
        }

    },
    watch: {
        value: {
            handler(val) {
                if (val) {
                    this.$store.dispatch('setPersonResponsible', val)
                }
            },
            deep: true,
        }
    },
    computed: {
        loading() {
                return this.$store.getters.getBookingLoading;
            }
    },
    methods: {
        getSession() {
            let data = this.$store.getters.getSession[0];
            this.value.userId = data.id;
            this.value.first_name = data.name;
            this.value.last_name = data.lastname;
            this.value.phone = data.phone;
            this.value.email = data.email;
            this.value.fiscalCode = data.fiscalCode;
        }
    },
}
</script>
<style scoped>
    .card {
        border-radius: 0rem;
    }

    .card-header {
        background-color: #0296b3;
        border-radius: 0rem;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #0296b3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #0296b3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
