<template>
    <div>
        <btn_regresar url="/" title="Home"/>
        <header_booking/>
        <form_booking/>
        <wizard/>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <box-data-booking v-model="personResponsible"/>

                    <box-data-booking-personal v-model="rooms" :responsible="personResponsible"/>

                    <box-data-booking-comment/>
                </div>
                <div class="col-12 col-md-4">
                    <box-data-booking-info v-model="booking" @removeResponsible="removeResponsible"/>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import boxDataBooking from './BoxDataBooking';
    import boxDataBookingPersonal from './BoxDataBookingPersonal';
    import boxDataBookingComment from './BoxDataBookingComment';
    import boxDataBookingInfo  from './BoxDataBookingInfo'

    export default {
        name: 'booking-step-two',
        components: { boxDataBooking, boxDataBookingPersonal, boxDataBookingComment, boxDataBookingInfo },
        data() {
            return {
                comment: '',
                personResponsible: {
                    register: false,
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    fiscalCode: '',
                    password: '',
                },
                rooms: [],
                info:[]
            }
        },
        created() {
            if (this.$route.params.token) {
                this.setBooking()
            } else {
                this.$store.dispatch('setBookingValidForm', false)
                this.setPersonResponsibleByRoom()

            }
        },
        computed: {
            booking() {
                return this.$store.getters.getBooking
            },
        },
        methods: {
            removeResponsible(id) {
                let index = this.rooms.findIndex(key => key.roomId === id);
                this.rooms.splice(index, 1)
            },
            setPersonResponsibleByRoom() {
                for (let i in this.booking.rooms) {
                    this.rooms.push({
                        roomId: this.booking.rooms[i].roomId,
                        personResponsible: {
                            name: '',
                            email: '',
                            phone: '',
                            fiscalCode: null,
                        },
                        maxAdults: this.booking.rooms[i].maxAdults,
                        adults_quantity: this.booking.rooms[i].maxAdults,
                        maxChildren: this.booking.rooms[i].maxChildren,
                        children_quantity: null
                    })
                }
            },
            setBooking(){
                this.$store.dispatch('getBookingToken', this.$route.params.token)
                    .then(response => {
                        var item = response.data.rooms[0]
                        if (item.availability == 0) {
                            this.showAlert('error', this.$store.getters.getTags({ tag: 'booking_2_rate_unavailable' }))
                            this.$store.commit('clearFilterDates')
                            this.$router.push('/')
                        } else {
                            this.$store.dispatch('setCounter')
                            let data = {
                                name: item.name,
                                description: item.description,
                                room_category_id: item.room_category_id,
                                personResponsible: {
                                    name: null,
                                    email: null,
                                    phone: null,
                                },
                                maxAdults: item.adults_quantity,
                                maxChildren: item.children_quantity,
                                totalItem: item.price_request,
                                ivaItem: item.iva_request,
                                bookingDate: {
                                    checkin: response.data.checkin,
                                    checkout: response.data.checkout
                                },
                                price_detail_request: item.price_detail_request,
                                translations: item.translations,
                                rooms: response.data.rooms,
                            }
                            data.rooms[0].roomId = item.id
                            data.rooms[0].maxAdults = item.adults_quantity
                            data.rooms[0].bookingDate = {checkin:response.data.checkin, checkout:response.data.checkout }
                            data.rooms[0].personResponsible = {
                                name: '',
                                email: '',
                                phone: '',
                                fiscalCode: null,
                            }
                            data.token = this.$route.params.token
                            this.rooms = data.rooms
                            this.$store.dispatch('setBooking', data)
                            this.$store.dispatch('setFilterDates',{checkin:response.data.checkin, checkout:response.data.checkout })
                        }
                    })
                    .catch(error => {
                        this.showAlert('error', this.$store.getters.getTags({ tag: 'booking_2_rate_not_found' }))
                        this.$router.push('/booking')
                    })
            },
            showAlert(type, title, text) {
                this.$swal({
                    position: 'center',
                    type: type,
                    title: title,
                    text: text,
                    showConfirmButton: false,
                    showCloseButton: true,
                })
            },
        }
    }
</script>
